.dashboard_jobs
  =render 'candidate/candidates/partials/jobs',jobs: @jobs
- content_for :modals do
  #job_application
- content_for :scripts do
  :javascript
    $(document).ready(function() {
      $("#jobs_search").on('change',function(){
        url = "/candidate?q="+$(this).val()
        $.get(url);
      });
    });
