=simple_form_for @role , html: {class: 'smart-form' , id: 'login-form' } do |f|
  %fieldset
    %section
      .row
        %label.label.col.col-2 Name
        .col.col-10
          %label.input
            =f.text_field :name , required: true
    %section
      %legend Permissions
    %section
    %section
      - Permission.all.each  do |p|
        .row
          .col.col-2
          .col.col-10
            %label.checkbox
              = check_box_tag "role[permission_ids][]", p.id
              = succeed "#{p.name.titleize}" do
                %i
    %footer
      = f.submit 'Submit' , class: 'btn btn-primary'
      %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
        Cancel
