$("#chat-#{@chat.channel_name}").append("#{ j render 'company/messages/partials/message' , m: @message}");
var chatBody = $('#chat-body') ;
chatBody.scrollTop(5000000000);
$('#textarea-expand').val("");