$('.remote_container').html("#{ j render 'company/roles/partials/form_modal' , role: @role}");
$('#role-edit-#{@role.id}').modal('toggle');
$(".select2").select2({placeholder: "Select a Permission(s)"});