.ta-record.bg_white.pt-2.pl-2
  .ta-timestamp
    %strong #{a.try(:created_at).strftime('%I:%M %P')}
  .ta-activity
    #{a.owner.full_name.titleize} created #{SellContract.find_by(id: a.additional_data.sell_contract_id).number} contract Request document.