.row.multi-field-container{style: "padding: 15px;"}
  .row
    .col-md-12
      .form-group
        = f.text_field :tax_term
  .row
    .col-md-12
      %a.bttn.btn-add.btn.remove-multi-fields.pull-right
        %i.fa.fa-trash