.row.multi-field-container{style: "padding: 15px;"}
  .row
    .col-md-6
      .form-group
        = f.text_field :tax_term, class: 'form-control input'
    .col-md-2	
      %a.bttn.btn-add.remove-multi-fields.delete_icon
        %i.fa.fa-trash