<% conversations.uniq{|c| c.opt_participant(current_user).full_name}.each do |con| %>
  <% opt_usr = con.opt_participant(current_user) %>
  <% color = nil %>
  <% colors = %w[#fcba03 #fc0f33 #0ffc52] %>
  <% if opt_usr.group_name.include? "SC" %>
    <% color = colors[0] %>
  <% elsif opt_usr.group_name.include? "BC" %>
    <% color = colors[1] %>
  <% else %>
    <% color = colors[2] %>
  <% end %>
  <%# border = "4px solid #{color}" %>
    <div id="convo_box" style="border-left: 4px solid <%= color %>" class="user-fav usr_<%= opt_usr.class.to_s+"_"+opt_usr.id.to_s %>" data-conversation="<%= con.id %>" >
    <%= render 'company/conversations/conversation_list', con: con, usr: opt_usr, is_favourite: false %>
  </div>
<% end if conversations.present?  %>