<div class="no-border" id="content">
  <div class="all-wrapper no-padding-content solid-bg-all">
    <div class="layout-w">
      <div class="content-w">
        <div class="content-i">

          <div class="content-box">
            <div class="full-chat-w">
              <div class="full-chat-i full-chat_height" style="overflow-y: scroll">
                <div class="full-chat-left">
                  <div class="os-tabs-w">
                    <ul class="nav nav-tabs upper centered">
                      <li class="nav-item active">
                        <a class="nav-link" data-toggle="tab" href="#Company"><i class="os-icon os-icon-ui-93"></i></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Favourites"><i class="os-icon os-icon-ui-02"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-content user-list">
                    <div role="tabpanel" class="tab-pane active" id="Company">
                      <div class="chat-search d-flex">
                        <div class="element-actions w-75">
                          <select class="form-control rounded pl-2 height-45" id="chat_topic">
                            <option value="All">All</option>
                            <option value="Job">Job/Offer</option>
                            <option value="JobApplication">Application</option>
                            <option value="SellContract">SellContract</option>
                            <option value="BuyContract">BuyContract</option>
                            <option value="GroupChat">Group</option>
                          </select>
                        </div>
                        <div class="element-search w-100">
                          <input type="text" class="form-control rounded height-45" placeholder="Conversation" id="conversation-users-search">
                        </div>
                      </div>
                      <ul class="nav flex-column nav-tabs nav-tabs_height company-conversation-scorll" role="tablist" id="company-conversation-list">
                        <%= render 'conversations_list', conversations: @conversations %>
                        <div id="all-infinite-scrolling-con" style="display: none">
                          <% if @conversation.present? %>
                            <%#= will_paginate @conversations, {params: params.merge(keyword: @query, topic: @topic)} %>
                          <% end %>
                        </div>
                      </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Favourites">
                      <ul class="nav flex-column nav-tabs" role="tablist" id="favourite-conversation-list">
                        <%= render 'conversation_favourites', favourites: @favourites %>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="full-chat-middle " id="conversation-section">
                  <%= render "company/conversations/job_conversation_box", conversation: @conversation, nested_colap: true %>
                </div>
                <div class="full-chat-right " id="conversation-r-section">
                  <%= render "company/conversations/conversation_right_side" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .fixed-height{
    overflow-y: unset;
  }


  .full-chat-w .full-chat-left {
    padding: 0px 0px;
  }
</style>