<!--<div class="no-border" id="content">-->
<!--<div class="col-lg-12 col-md-12 col-sm-12 keystroke_tabs_bs">-->
<!--<div class="row justify-content-center no-gutters">-->
<!--<div class="col-lg-4 col-md-4 col-sm-3 col-xs-4 col-4 border_r">-->
<!--<div class="keystroke_tabs">-->
<!--<div class="key_tab_h">-->
<!--<h5>MESSAGES</h5>-->
<!--<div class="prfil-follower-following-search search_message">-->
<!--<input type="text" class="form-control" placeholder="Search Company/Candidates" id="conversation-users-search">-->
<!--</div>-->
<!--</div>-->
<!--<div class="key_tabs_inner">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<ul class="nav nav-tabs tab-top" role="tablist">-->
<!--<li role="presentation" class="active"><a href="#Company"  role="tab" data-toggle="tab"><i class="fa fa-building"></i>Inbox</a></li>-->
<!--<li role="presentation"><a href="#Candidates" role="tab" data-toggle="tab"><i class="fa fa-user"></i> Channel</a></li>-->
<!--</ul>-->
<!--<div class="tab-content">-->
<!--<div role="tabpanel" class="tab-pane active" id="Company">-->
<!--<ul class="nav flex-column nav-tabs" role="tablist" id="company-conversation-list">-->
<!--<%#= render 'conversation_users', users: @companies %>-->
<!--</ul>-->
<!--</div>-->
<!--<div role="tabpanel" class="tab-pane" id="Candidates">-->
<!--<ul class="nav flex-column nav-tabs" role="tablist" id="candidate-conversation-list">-->
<!--<%#= render 'conversation_users', users: @candidates %>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-lg-8 col-md-8 col-sm-9 col-xs-8 col-8 messages_bs" id="conversation-section">-->
<!--<%#= render "company/conversations/conversation" %>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="no-border" id="content">
  <div class="all-wrapper no-padding-content solid-bg-all">
    <div class="layout-w">
      <div class="content-w">
        <div class="content-i">
          <div class="content-box">
            <div class="full-chat-w">
              <div class="full-chat-i full-chat_height">
                <div class="full-chat-left full-chat_height">
                  <div class="os-tabs-w">
                    <ul class="nav nav-tabs upper centered">
                      <li class="nav-item active">
                        <a class="nav-link" data-toggle="tab" href="#Company"><i class="os-icon os-icon-ui-93"></i><span>Chat</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Favourites"><i class="os-icon os-icon-ui-02"></i><span>Favourite</span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-content user-list">
                    <div role="tabpanel" class="tab-pane active" id="Company">
                      <div class="chat-search">
                        <div class="element-actions" >
                          <select class="form-control rounded" id="chat_topic" style="height: 44px !important;margin-bottom: 5px;">
                            <option value="All">All Conversations</option>
                            <option value="Job">Job/Offer Conversations</option>
                            <option value="JobApplication">Job Application Conversations</option>
                            <option value="SellContract">SellContract Conversations</option>
                            <option value="BuyContract">BuyContract Conversations</option>
                            <option value="GroupChat">Group Conversations</option>
                          </select>
                        </div>
                        <div class="element-search">
                          <input type="text" class="form-control" placeholder="Search Conversation" id="conversation-users-search">
                        </div>
                      </div>
                      <ul class="nav flex-column nav-tabs nav-tabs_height" role="tablist" id="company-conversation-list">
                        <%#= render 'conversation_users', users: @companies, candidates: @candidates, groups: @groups %>
                        <%= render 'conversations_list', conversations: @conversations %>
                      </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Favourites">
                      <ul class="nav flex-column nav-tabs" role="tablist" id="favourite-conversation-list">
                        <%= render 'conversation_favourites', favourites: @favourites %>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="full-chat-middle full-chat_height" id="conversation-section">
                  <%= render "company/conversations/job_conversation_box", conversation: @conversation, nested_colap: true %>
                </div>
                <div class="full-chat-right full-chat_height" id="conversation-r-section">
                  <%= render "company/conversations/conversation_right_side" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
