<style>
@media (min-width: 1025px) {
.cont-comany {
margin-left: 0px;
}
.border-no {
  border: none;
}
}

/* $(".cont_c").css("mr"
,"0") */

</style>
<div class="row" style="height: 87vh">
  <div class="col-sm-3 col-md-3 col-lg-3" style="z-index: 100"  >
    <div class="left-chat-bar company-left-chat-bar">
      <div class="full-chat-left1">
        <div class="os-tabs-w">
          <ul class="nav nav-tabs upper centered">
          </ul>
        </div>
        <div class="chat-search d-flex margin-top-10 left-side-header-style">
          <div class=" col-sm-3 col-md-3 col-lg-3 left-side-select-style">

            <div class="chat-search d-flex left-side-header-style">
                <div class="element-actions w-100">
                  <select class="form-control border-no pl-2 height-45" id="chat_topic">
                  <option value="All">All</option>
                  <option value="Job">Job/Offer</option>
                  <option value="JobApplication">Application</option>
                  <option value="SellContract">SellContract</option>
                  <option value="BuyContract">BuyContract</option>
                  <option value="GroupChat">Group</option>
                  </select>
                </div>
            </div>

          </div>
          <div class="col-sm-8 col-md-8 col-lg-8">
            <input type="text" class="form-control input-search-style" placeholder="Search Conversation" id="conversation-users-search">
          </div>
          <div class="col-sm-1 col-md-1 col-lg-1 left-side-plus-icon" >
<!--            <i class="fa fa-plus-circle plus-circle-style" style="font-size:24px;color: #047bf8"></i>-->
          </div>
        </div>
        <div class="row  margin-top-21 ">

          <ul class="  chat-user-list_height company-conversation-scorll" role="tablist" id="company-conversation-list">
            <%= render 'conversations_list', conversations: @conversations %>

          </ul>

        </div>
      </div>

    </div>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6 job-conversation-box-style" id="conversation-section">
    <%= render "company/conversations/job_conversation_box", conversation: @conversation, nested_colap: true %>
  </div>
  <div class="col-sm-1 col-md-1 col-lg-1 " >
    <div class=" " id="conversation-r-section">
      <%= render "company/conversations/conversation_right_side" %>
    </div>
  </div>
</div>



<style>
    .fixed-height{
        overflow-y: unset;
    }


    .full-chat-w .full-chat-left {
        padding: 0px 0px;
    }
</style>
<script>
    function myFunction(){
        $("#conversation-section").hide();
        $(".right-sidebar").show();
    }
    function myFunction1(){
        $("#conversation-section").hide();
        $(".left-chat-bar").show();
    }
    function backtochat(){
        $(".right-sidebar").hide();
        $("#conversation-section").show();
    }
</script>