span.pre.slick-arrow  {
position:absolute;
top:350px;
left: 328px;
}
span.next.slick-arrow  {
position:absolute;
top:350px;
}
span.icon-feather-x-circle{
}
.close_slick{
position: relative;
left: 140px;
font-size: 20px;
}