#content
  #wid-id-5.no-border.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-custombutton" => "false", "data-widget-editbutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-sortable" => "false"}
    %div
      .jarviswidget-editbox
      .widget-body
        .col-md-12
          .tab-content
            #tab-r1.tab-pane.active
              #hb2.tab-pane.active
                %ul#internal-tab-1.nav.nav-tabs.tabs-pull-right.sub-tab
                  %br
                  .input-group.input-group-lg.hidden-mobile
                    .input-group-btn
                      %button.btn.btn-default.dropdown-toggle.textbtn{"data-toggle" => "dropdown", :type => "button"}
                        All
                        %span.caret
                      %ul.dropdown-menu
                        %li.active
                          %a{:href => "javascript:void(0)"}
                            All
                        %li.divider
                        %li
                          %a{:href => "javascript:void(0)"} Rejected
                        %li
                          %a{:href => "javascript:void(0)"} Accepted
                        %li
                          %a{:href => "javascript:void(0)"} Pending
                    %input#search-project.form-control.input-lg{:placeholder => "Search Invitation...", :type => "text"}/
                    .input-group-btn
                      %button.btn.btn-default{:type => "submit"}
                        \   
                        %i.fa.fa-fw.fa-search.fa-lg>
                        \  
                  %br 
                  %li
                    %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#is4"} Rejected
                  %li
                    %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#is1"} Accepted
                  %li
                    %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#is2"} Pending
                  %li.active
                    %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#is3"} All
                .tab-content.padding-10
                  #is4.tab-pane
                    = render partial: 'candidate/job_invitations/partials/invitations_table' , locals: {data: @job_invitations.rejected}
                  #is1.tab-pane
                    = render partial: 'candidate/job_invitations/partials/invitations_table' , locals: {data: @job_invitations.accepted}
                  #is2.tab-pane.fade
                    = render partial: 'candidate/job_invitations/partials/invitations_table' , locals: {data: @job_invitations.pending}
                  #is3.tab-pane.fade.active.in
                    = render partial: 'candidate/job_invitations/partials/invitations_table' , locals: {data: @job_invitations}

#job_invitation
- content_for :scripts do
  :javascript
    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function() {
    $('.sub-tab a[href="' + localStorage.getItem('subActiveTab') + '"]').tab('show');


    });

    $('.sub-tab').on('show.bs.tab', function(e) {
      localStorage.setItem('subActiveTab', $(e.target).attr('href'));
    });