%div.row.margin-top-10
  .col-md-10.offset-1
    - if current_company == @contract.company
      .element-box.element-box-show
        =render 'company/contracts/partials/sell_side',editable: @contract.company == current_company

- if @contract.sell_contract&.persisted?
  %fieldset{id: 'sell_chat'}
    .contract-fields_wrapper.mt-4.contract-border
      .row
        .col-md-6
          .form-group
            %h3.control-label.pull-right.text-muted
              - if @contract&.sell_contract&.conversation.present?
                .floated-chat-btn
                  %i.os-icon.os-icon-mail-07
                  %span
                  = link_to 'Conversation', mini_chat_company_conversations_path(conversation_id: @contract.sell_contract.conversation.id), onclick: "open_chat(#{@contract.sell_contract.conversation.id})",class: 'ChatBtn sell_chat',id: 'ChatBtn', remote: true

- content_for :scripts do
  :javascript
    function open_chat(id){
      $.get(`/company/conversations/mini_chat?conversation_id=${id}`)
    }