-if @post.present?
  $("#job-invitation-multiple-#{@job.id}").modal("toggle");
-else
  $('.remote_container').empty().html("#{ j render 'company/job_applications/partials/modal_create_multipile_for_candidate.html.haml' , job: @job}");
  $('#job-invitation-multiple-#{@job.id} ').modal('toggle');
  $(".job_select2").select2({placeholder: "Select a Candidate(s)"});