- if flash[:errors].present?
    - flash[:errors].each do |e|
        flash_alert('#D04B2B',"#{e}");
- if flash[:success].present?
    $('#job-invite-#{@job_invitation.id}').modal('toggle');
    flash_alert('#739E73',"#{flash[:success]}");