#content
  %section#widget-grid
    / row
    .row
      / NEW WIDGET START
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        .alert.alert-info
          %strong NOTE:
          All the data is loaded from a seperate JSON file
        / Widget ID (each widget will need unique ID)
        #wid-id-0.jarviswidget.well
          /
            widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"
          %header
            %span.widget-icon
              %i.fa.fa-comments
            %h2 Widget Title
          / widget div
          %div
            / widget edit box
            .jarviswidget-editbox
              / This area used as dropdown edit box
              %input.form-control{:type => "text"}/
            / end widget edit box
            / widget content
            .widget-body.no-padding
              %table#example.display.projects-table.table.table-striped.table-bordered.table-hover{:cellspacing => "0", :width => "100%"}
                %thead
                  %tr
                    %th
                    %th Job Title
                    -#%th
                    -#  %i.fa.fa-fw.fa-user.text-muted.hidden-md.hidden-sm.hidden-xs
                    -#  EST
                    -#%th Contacts
                    %th Status
                    %th
                      %i.fa.fa-fw.fa-calendar.text-muted.hidden-md.hidden-sm.hidden-xs
                      Starts
                    %th
                      %i.fa.fa-fw.fa-calendar.text-muted.hidden-md.hidden-sm.hidden-xs
                      Ends
                    %th Scope
    .row
      / a blank row to get started
      .col-sm-12
- content_for :modals do
  #ajax-modal
- content_for :scripts do
  :javascript
    $(document).ready(function() {

      /* DO NOT REMOVE : GLOBAL FUNCTIONS!
       *
       * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
       *
       * // activate tooltips
       * $("[rel=tooltip]").tooltip();
       *
       * // activate popovers
       * $("[rel=popover]").popover();
       *
       * // activate popovers with hover states
       * $("[rel=popover-hover]").popover({ trigger: "hover" });
       *
       * // activate inline charts
       * runAllCharts();
       *
       * // setup widgets
       * setup_widgets_desktop();
       *
       * // run form elements
       * runAllForms();
       *
       ********************************
       *
       * pageSetUp() is needed whenever you load a page.
       * It initializes and checks for all basic elements of the page
       * and makes rendering easier.
       *
       */

      pageSetUp();

      /*
       * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
       * eg alert("my home function");
       *
       * var pagefunction = function() {
       *   ...
       * }
       * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
       *
       * TO LOAD A SCRIPT:
       * var pagefunction = function (){
       *  loadScript(".../plugin.js", run_after_loaded);
       * }
       *
       * OR
       *
       * loadScript(".../plugin.js", run_after_loaded);
       */

      /* Formatting function for row details - modify as you need */
      function format ( d ) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" class="table table-hover table-condensed">'+
          '<tr>'+
          '<td style="width:100px">Job Title:</td>'+
          '<td>'+d.job_title+'</td>'+
          '</tr>'+
          '<tr>'+
          '<td>Description:</td>'+
          '<td>'+d.job_description+'</td>'+
          '</tr>'+
          '<tr>'+
          '<td>Cover Letter:</td>'+
          '<td>'+d.cover_letter+'</td>'+
          '</tr>'+
          '<tr>'+
          '<td>Tags:</td>'+
          '<td>'+d.job_tags+'</td>'+
          '</tr>'+
          '<tr>'+
          '<td>Message:</td>'+
          '<td>'+d.message+'</td>'+
          '</tr>'+
          '<tr>'+
          '<td>Action:</td>'+
          '<td>'+d.action+'</td>'+
          '</tr>'+
          '</table>';
      }

      // clears the variable if left blank
      var table = $('#example').DataTable( {
        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
        "ajax": "#{job_applications_path}",
        "bDestroy": true,
        "iDisplayLength": 15,
        "oLanguage": {
          "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
        },
        "columns": [
          {
            "class":          'details-control',
            "orderable":      false,
            "data":           null,
            "defaultContent": ''
          },
          { "data": "job_title" },
          { "data": "status" },
          { "data": "job_start_date" },
          { "data": "job_end_date" },
          { "data": "is_public" },
        ],
        "order": [[1, 'asc']],
        "fnDrawCallback": function( oSettings ) {
          runAllCharts()
        }
      } );



      // Add event listener for opening and closing details
      $('#example tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );

        if ( row.child.isShown() ) {
          // This row is already open - close it
          row.child.hide();
          tr.removeClass('shown');
        }
        else {
          // Open this row
          row.child( format(row.data()) ).show();
          tr.addClass('shown');
        }
      });

    })
