$('.remote_container').empty().html("#{ j render 'company/job_applications/partials/job_applicant_reqs_preview.html.haml', application: @job_application, reqs: @job_applicant_reqs}");
$('#job-applicant-reqs-preview-modal').modal('toggle');