%table.footer-wrap
  %tr
    %td
    %td.container
      / content
      .content
        %table
          %tr
            %td{:align => "center"}
              %p
                %a{:href => "#"} Terms
                |
                %a{:href => "#"} Privacy
                |
                %a{:href => "#"}
                  %unsubscribe Unsubscribe
    %td