.row.multi-field-container{style: "padding: 0px 15px 15px 15px;"}
  
  .row
    .col-md-3
      .form-group
        %p Title
        = f.text_field :title, placeholder: "Title",class: 'form-control  input'
       
    .col-md-3
      .form-group
        %p Note
        = f.text_field :custome_name, placeholder: "Custome Details",class: 'form-control  input'
           
    .col-md-3
      .form-group
        %p Expiry Date
        = f.text_field :exp_date, placeholder: "YYYY-MM-DD",class: 'form-control input legal_doc_exp_date'    
    
    
    .col-md-2
      .form-group
        %p Select File
        / = f.text_field :file, class: 'hidden file_education_document'
        / = filepicker_field_tag "" , class: " hidden education_file filepicker-attach", onchange:"uploadFileDoc(event, $(this).prev())"

        = f.filepicker_field :file, :button_text => "Select Document", disable: true , class: 'file-pick btn btn-primary filepicker-attach filepicker-attach-doc', :multiple => true
        / = link_to "Select Document" ,"#",class: 'col-lg-12 education_doc btn btn-md btn-primary', style: "margin-bottom: 10px", onclick:"select_file($(this).prev())"
    .col-lg-1
      %button.btn.btn-primary.pull-right{:type => "submit", :style=>"margin-top: 27px;"}
        Saved    
  

- content_for :scripts do
  :javascript  

    function select_visa_file(prev){
      prev.trigger("click");
    }  

    function uploadVisaDoc(event, file_el){
      document_url = event.fpfile.url
      $("#"+file_el.attr("id")).val(document_url)
    }      

    
         