$('.remote_container').html("#{ j render 'company/statuses/partials/assign_status_form' , assignee: @company}");
$('.status-#{@company.id}').modal('toggle');
$(".select2").select2({placeholder: "Select Status(s)"});
