$('.remote_container').html("#{ j render 'company/companies/partials/assign_group_to_contact_modal' , contact: @company_contact, display: @display_groups }");
$('#company-#{@company_contact.id}').modal('toggle');
$(".select2").select2({placeholder: "Select Group(s)"});