.with-side-panel.cmp-profile
  .content-i
    .content-box
      .row
        .col-sm-5
          .user-profile.compact
            .up-head-w{:style => "background-image:url(img/profile_bg1.jpg)"}
              .up-social
                %a{:href => "#"}
                  %i.os-icon.os-icon-twitter
                %a{:href => "#"}
                  %i.os-icon.os-icon-facebook
              .up-main-info
                %h2.up-header
                  John Mayers
                %h6.up-sub-header
                  Product Designer at Facebook
              %svg.decor{:height => "219px", :preserveaspectratio => "xMaxYMax meet", :version => "1.1", :viewbox => "0 0 842 219", :width => "842px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                %g{:fill => "#FFFFFF", :transform => "translate(-381.000000, -362.000000)"}
                  %path.decor-path{:d => "M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"}
            .up-controls
              .row
                .col-sm-12.text-right
                  %a.btn.btn-success.btn-sm{:href => ""}
                    %i.os-icon.os-icon-email-forward
                    %span Send Message
            .up-contents
              .m-b
                .row.m-b
                  .col-sm-6.b-r.b-b
                    .el-tablo.centered.padded-v
                      .value
                        25
                      .label
                        Job
                  .col-sm-6.b-b
                    .el-tablo.centered.padded-v
                      .value
                        315
                      .label
                        contact
                .padded
                  .os-progress-bar.primary
                    .bar-labels
                      .bar-label-left
                        %span Email
                      .bar-label-right
                        %span.text-success verified
                  .os-progress-bar.primary
                    .bar-labels
                      .bar-label-left
                        %span Phone
                      .bar-label-right
                        %span.text-success verified
                  .os-progress-bar.primary
                    .bar-labels
                      .bar-label-left
                        %span Document
                      .bar-label-right
                        %span.text-success verified
          .element-wrapper
            .element-box
              %h6.element-header
                User Activity
              .timed-activities.compact
                .timed-activity
                  .ta-date
                    %span 21st Jan, 2017
                  .ta-record-w
                    .ta-record
                      .ta-timestamp
                        %strong 11:55
                        am
                      .ta-activity
                        Created a post called
                        %a{:href => "#"} Register new symbol
                        in Rogue
                    .ta-record
                      .ta-timestamp
                        %strong 2:34
                        pm
                      .ta-activity
                        Commented on story
                        %a{:href => "#"} How to be a leader
                        in
                        %a{:href => "#"} Financial
                        category
                    .ta-record
                      .ta-timestamp
                        %strong 7:12
                        pm
                      .ta-activity
                        Added
                        %a{:href => "#"} John Silver
                        as a friend
                .timed-activity
                  .ta-date
                    %span 3rd Feb, 2017
                  .ta-record-w
                    .ta-record
                      .ta-timestamp
                        %strong 9:32
                        pm
                      .ta-activity
                        Added
                        %a{:href => "#"} John Silver
                        as a friend
                    .ta-record
                      .ta-timestamp
                        %strong 5:14
                        pm
                      .ta-activity
                        Commented on story
                        %a{:href => "#"} How to be a leader
                        in
                        %a{:href => "#"} Financial
                        catego
        .col-sm-7.job-table
          .element-wrapper
            .d-flex.justify-content-between.align-items-center.mb-3.element-header
              %h6.mb-0 Job
              %a.link-muted.font-xs{:href => "#"} View All
            .element-box
              .table-responsive
                %table.table.table-lightborder
                  %thead
                    %tr
                      %th
                        Title
                      %th
                        Location
                      %th.text-center
                        Posted By
                  %tbody
                    %tr
                      %td.nowrap
                        Adobe AEM Advanced Training
                      %td
                        Denver, CO, USA
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        Adobe AEM Basic Training
                      %td
                        Detroit
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        SAP FICO Training
                      %td
                        Denver CO
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        Data Architect
                      %td
                        Denver
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        Adobe Experience Manager (AEM) Developer
                      %td
                        Miami
                      %td.text-right
                        Haritha Lokineni
          .element-wrapper
            .d-flex.justify-content-between.align-items-center.mb-3.element-header
              %h6.mb-0 Bench
              %a.link-muted.font-xs{:href => "#"} View All
            .element-box
              .table-responsive
                %table.table.table-lightborder
                  %thead
                    %tr
                      %th
                        Title
                      %th
                        Name
                      %th.text-center
                        Location
                  %tbody
                    %tr
                      %td.nowrap
                        Ruby on Rails Developertest
                      %td
                        Haritha S
                      %td.text-right
                        Istanbul
                    %tr
                      %td.nowrap
                        Adobe AEM Basic Training
                      %td
                        Detroit
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        SAP FICO Training
                      %td
                        Denver CO
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        Data Architect
                      %td
                        Denver
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        Adobe Experience Manager (AEM) Developer
                      %td
                        Miami
                      %td.text-right
                        Haritha Lokineni
          .element-wrapper
            .d-flex.justify-content-between.align-items-center.mb-3.element-header
              %h6.mb-0 Training
              %a.link-muted.font-xs{:href => "#"} View All
            .element-box
              .table-responsive
                %table.table.table-lightborder
                  %thead
                    %tr
                      %th
                        Title
                      %th
                        Location
                      %th.text-center
                        Posted By
                  %tbody
                    %tr
                      %td.nowrap
                        Adobe AEM Advanced Training
                      %td
                        Denver, CO, USA
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        Adobe AEM Basic Training
                      %td
                        Detroit
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        SAP FICO Training
                      %td
                        Denver CO
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        Data Architect
                      %td
                        Denver
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        Adobe Experience Manager (AEM) Developer
                      %td
                        Miami
                      %td.text-right
                        Haritha Lokineni
          .element-wrapper
            .d-flex.justify-content-between.align-items-center.mb-3.element-header
              %h6.mb-0 Products
              %a.link-muted.font-xs{:href => "#"} View All
            .element-box
              .table-responsive
                %table.table.table-lightborder
                  %thead
                    %tr
                      %th
                        Title
                      %th
                        Location
                      %th.text-center
                        Posted By
                  %tbody
                    %tr
                      %td.nowrap
                        Adobe AEM Advanced Training
                      %td
                        Denver, CO, USA
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        Adobe AEM Basic Training
                      %td
                        Detroit
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        SAP FICO Training
                      %td
                        Denver CO
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        Data Architect
                      %td
                        Denver
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        Adobe Experience Manager (AEM) Developer
                      %td
                        Miami
                      %td.text-right
                        Haritha Lokineni
          .element-wrapper
            .d-flex.justify-content-between.align-items-center.mb-3.element-header
              %h6.mb-0 Services
              %a.link-muted.font-xs{:href => "#"} View All
            .element-box
              .table-responsive
                %table.table.table-lightborder
                  %thead
                    %tr
                      %th
                        Title
                      %th
                        Location
                      %th.text-center
                        Posted By
                  %tbody
                    %tr
                      %td.nowrap
                        Adobe AEM Advanced Training
                      %td
                        Denver, CO, USA
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        Adobe AEM Basic Training
                      %td
                        Detroit
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        SAP FICO Training
                      %td
                        Denver CO
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        Data Architect
                      %td
                        Denver
                      %td.text-right
                        Haritha Lokineni
                    %tr
                      %td.nowrap
                        Adobe Experience Manager (AEM) Developer
                      %td
                        Miami
                      %td.text-right
                        Haritha Lokineni


    .content-panel
      .content-panel-close
        %i.os-icon.os-icon-close
      .element-wrapper
        .d-flex.justify-content-between.align-items-center.mb-3.element-header
          %h6.mb-0 Office Directory
          %a.link-muted.font-xs{:href => "#"} View All
        .element-box-tp
          .profile-tile
            %a.profile-tile-box{:href => "users_profile_small.html"}
              .pt-avatar-w
                %img{:alt => "", :src => "img/avatar1.jpg"}/
              .pt-user-name
                Haritha Rao
            .profile-tile-meta
              %ul
                %li
                  hradmin@cloudepa.com
                %li
                  2156605084
              .pt-btn
                %a.btn.btn-success.btn-sm{:href => "apps_full_chat.html"} Send Message
          .profile-tile
            %a.profile-tile-box{:href => "users_profile_small.html"}
              .pt-avatar-w
                %img{:alt => "", :src => "img/avatar1.jpg"}/
              .pt-user-name
                Haritha Rao
            .profile-tile-meta
              %ul
                %li
                  hradmin@cloudepa.com
                %li
                  2156605084
              .pt-btn
                %a.btn.btn-success.btn-sm{:href => "apps_full_chat.html"} Send Message
          .profile-tile
            %a.profile-tile-box{:href => "users_profile_small.html"}
              .pt-avatar-w
                %img{:alt => "", :src => "img/avatar1.jpg"}/
              .pt-user-name
                Haritha Rao
            .profile-tile-meta
              %ul
                %li
                  hradmin@cloudepa.com
                %li
                  2156605084
              .pt-btn
                %a.btn.btn-success.btn-sm{:href => "apps_full_chat.html"} Send Message
          .profile-tile
            %a.profile-tile-box{:href => "users_profile_small.html"}
              .pt-avatar-w
                %img{:alt => "", :src => "img/avatar1.jpg"}/
              .pt-user-name
                Haritha Rao
            .profile-tile-meta
              %ul
                %li
                  hradmin@cloudepa.com
                %li
                  2156605084
              .pt-btn
                %a.btn.btn-success.btn-sm{:href => "apps_full_chat.html"} Send Message