.content-i
  .content-box
    .element-wrapper
      .element-box
        %div
          %a.btn.btn-success.m-3.pull-right.btn-md.header-btn{ :href => "#{new_company_company_path}", :title => "New Contact" } New Contact
          .table-responsive
            %table#company-contacts-datatable.table.table-striped.table-lightfont{"data-source" => "#{company_contacts_company_companies_path(format: :json)}"}
              %thead
                %tr
                  %th Company
                  %th First Name
                  %th Last Name
                  %th Title
                  %th Email
                  %th Phone
                  %th Actions
              %tbody
