.content-i
  .content-box
    .element-wrapper
      .element-box
        %div
          %a.m-3.pull-right.btn.btn-primary{ :href => "#{new_company_company_path}", :title => "New Contact" } New Contact
          .table-responsive
            %table#company-contacts-datatable.table.table-bordered.table-lg.table-v2.table-striped{"data-source" => "#{company_contacts_company_companies_path(format: :json)}"}
              %thead
                %tr
                  %th
                    %input{ type:"checkbox", name:"select_all", id:"example-select-all"}
                  %th Company
                  %th Name
                  %th Title
                  %th Contact
                  %th Status
                  %th Groups
                  %th Reminder/Note
                  %th Actions
              %tbody
