#content
  / Bread crumb is created dynamically
  / row
  .row
    / col
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        / PAGE HEADER
        %i.fa-fw.fa.fa-puzzle-piece
        App Views
        %span
          \&gt;
          Profile
    / end col
    / right side of the page with the sparkline graphs
    / col
    .col-xs-12.col-sm-5.col-md-5.col-lg-8
      / sparks
      %ul#sparks
        %li.sparks-info
          %h5
            My Income
            %span.txt-color-blue $47,171
          .sparkline.txt-color-blue.hidden-mobile.hidden-md.hidden-sm
            1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
        %li.sparks-info
          %h5
            Site Traffic
            %span.txt-color-purple
              %i.fa.fa-arrow-circle-up{"data-rel" => "bootstrap-tooltip", :title => "Increased"}>
               45%
          .sparkline.txt-color-purple.hidden-mobile.hidden-md.hidden-sm
            110,150,300,130,400,240,220,310,220,300, 270, 210
        %li.sparks-info
          %h5
            Site Orders
            %span.txt-color-greenDark
              %i.fa.fa-shopping-cart>
               2447
          .sparkline.txt-color-greenDark.hidden-mobile.hidden-md.hidden-sm
            110,150,300,130,400,240,220,310,220,300, 270, 210
      / end sparks
    / end col
  / end row
  / row
  .row
    .col-sm-12
      .well.well-sm
        .row
          .col-sm-12.col-md-12.col-lg-12
            .well.well-light.well-sm.no-margin.no-padding
              .row
                .col-sm-12
                  #myCarousel.carousel.fade.profile-carousel
                    .air.air-bottom-right.padding-10
                      %a.btn.txt-color-white.bg-color-teal.btn-sm{:href => "javascript:void(0);"}>
                        %i.fa.fa-check
                        Follow
                       
                      %a.btn.txt-color-white.bg-color-pinkDark.btn-sm{:href => "javascript:void(0);"}
                        %i.fa.fa-link
                        Connect
                    .air.air-top-left.padding-10
                      %h4.txt-color-white.font-md Jan 1, 2014
                    %ol.carousel-indicators
                      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
                      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
                      %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
                    .carousel-inner
                      / Slide 1
                      .item.active
                        %img{:alt => "demo user", :src => "img/demo/s1.jpg"}/
                      / Slide 2
                      .item
                        %img{:alt => "demo user", :src => "img/demo/s2.jpg"}/
                      / Slide 3
                      .item
                        %img{:alt => "demo user", :src => "img/demo/m3.jpg"}/
                .col-sm-12
                  .row
                    .col-sm-3.profile-pic
                      %img{:alt => "demo user", :src => "img/avatars/sunny-big.png"}/
                      .padding-10
                        %h4.font-md
                          %strong 1,543
                          %br/
                          %small Followers
                        %br/
                        %h4.font-md
                          %strong 419
                          %br/
                          %small Connections
                    .col-sm-6
                      %h1
                        John
                        %span.semi-bold Doe
                        %br/
                        %small CEO, SmartAdmin
                      %ul.list-unstyled
                        %li
                          %p.text-muted
                            %i.fa.fa-phone>
                              (
                            %span.txt-color-darken> 313
                            )
                            %span.txt-color-darken 464
                            \-
                            %span.txt-color-darken 6473
                        %li
                          %p.text-muted
                            %i.fa.fa-envelope>
                              
                            %a{:href => "mailto:simmons@smartadmin"} ceo@smartadmin.com
                        %li
                          %p.text-muted
                            %i.fa.fa-skype>
                              
                            %span.txt-color-darken john12
                        %li
                          %p.text-muted
                            %i.fa.fa-calendar>
                              
                            %span.txt-color-darken
                              Free after
                              %a{"data-original-title" => "Create an Appointment", "data-placement" => "top", :href => "javascript:void(0);", :rel => "tooltip", :title => ""} 4:30 PM
                      %br/
                      %p.font-md
                        %i A little about me...
                      %p
                        Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                        cumque nihil impedit quo minus id quod maxime placeat facere
                      %br/
                      %a.btn.btn-default.btn-xs{:href => "javascript:void(0);"}
                        %i.fa.fa-envelope-o
                        Send Message
                      %br/
                      %br/
                    .col-sm-3
                      %h1
                        %small Connections
                      %ul.list-inline.friends-list
                        %li
                          %img{:alt => "friend-1", :src => "img/avatars/1.png"}/
                        %li
                          %img{:alt => "friend-2", :src => "img/avatars/2.png"}/
                        %li
                          %img{:alt => "friend-3", :src => "img/avatars/3.png"}/
                        %li
                          %img{:alt => "friend-4", :src => "img/avatars/4.png"}/
                        %li
                          %img{:alt => "friend-5", :src => "img/avatars/5.png"}/
                        %li
                          %img{:alt => "friend-6", :src => "img/avatars/male.png"}/
                        %li
                          %a{:href => "javascript:void(0);"} 413 more
                      %h1
                        %small Recent visitors
                      %ul.list-inline.friends-list
                        %li
                          %img{:alt => "friend-1", :src => "img/avatars/male.png"}/
                        %li
                          %img{:alt => "friend-2", :src => "img/avatars/female.png"}/
                        %li
                          %img{:alt => "friend-3", :src => "img/avatars/female.png"}/
              .row
                .col-sm-12
                  %hr/
                  .padding-10
                    %ul.nav.nav-tabs.tabs-pull-right
                      %li.active
                        %a{"data-toggle" => "tab", :href => "#a1"} Recent Articles
                      %li
                        %a{"data-toggle" => "tab", :href => "#a2"} New Members
                      %li.pull-left
                        %span.margin-top-10.display-inline
                          %i.fa.fa-rss.text-success
                          Activity
                    .tab-content.padding-top-10
                      #a1.tab-pane.fade.in.active
                        .row
                          .col-xs-2.col-sm-1
                            %time.icon{:datetime => "2014-09-20"}
                              %strong Jan
                              %span 10
                          .col-xs-10.col-sm-11
                            %h6.no-margin
                              %a{:href => "javascript:void(0);"} Allice in Wonderland
                            %p
                              Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi Nam eget dui.
                              Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
                              sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.
                          .col-sm-12
                            %hr/
                          .col-xs-2.col-sm-1
                            %time.icon{:datetime => "2014-09-20"}
                              %strong Jan
                              %span 10
                          .col-xs-10.col-sm-11
                            %h6.no-margin
                              %a{:href => "javascript:void(0);"} World Report
                            %p
                              Morning our be dry. Life also third land after first beginning to evening cattle created let subdue you'll winged don't Face firmament.
                              You winged you're was Fruit divided signs lights i living cattle yielding over light life life sea, so deep.
                              Abundantly given years bring were after. Greater you're meat beast creeping behold he unto She'd doesn't. Replenish brought kind gathering Meat.
                          .col-sm-12
                            %br/
                      #a2.tab-pane.fade
                        .alert.alert-info.fade.in
                          %button.close{"data-dismiss" => "alert"}
                            ×
                          %i.fa-fw.fa.fa-info
                          = succeed "joined" do
                            %strong 51 new members
                        .user{:title => "email@company.com"}
                          %img{:alt => "demo user", :src => "img/avatars/female.png"}/
                          %a{:href => "javascript:void(0);"} Jenn Wilson
                          .email
                            travis@company.com
                        .user{:title => "email@company.com"}
                          %img{:alt => "demo user", :src => "img/avatars/male.png"}/
                          %a{:href => "javascript:void(0);"} Marshall Hitt
                          .email
                            marshall@company.com
                        .user{:title => "email@company.com"}
                          %img{:alt => "demo user", :src => "img/avatars/male.png"}/
                          %a{:href => "javascript:void(0);"} Joe Cadena
                          .email
                            joe@company.com
                        .user{:title => "email@company.com"}
                          %img{:alt => "demo user", :src => "img/avatars/male.png"}/
                          %a{:href => "javascript:void(0);"} Mike McBride
                          .email
                            mike@company.com
                        .user{:title => "email@company.com"}
                          %img{:alt => "demo user", :src => "img/avatars/male.png"}/
                          %a{:href => "javascript:void(0);"} Travis Wilson
                          .email
                            travis@company.com
                        .user{:title => "email@company.com"}
                          %img{:alt => "demo user", :src => "img/avatars/male.png"}/
                          %a{:href => "javascript:void(0);"} Marshall Hitt
                          .email
                            marshall@company.com
                        .user{:title => "Joe Cadena joe@company.com"}
                          %img{:alt => "demo user", :src => "img/avatars/male.png"}/
                          %a{:href => "javascript:void(0);"} Joe Cadena
                          .email
                            joe@company.com
                        .user{:title => "email@company.com"}
                          %img{:alt => "demo user", :src => "img/avatars/male.png"}/
                          %a{:href => "javascript:void(0);"} Mike McBride
                          .email
                            mike@company.com
                        .user{:title => "email@company.com"}
                          %img{:alt => "demo user", :src => "img/avatars/male.png"}/
                          %a{:href => "javascript:void(0);"} Marshall Hitt
                          .email
                            marshall@company.com
                        .user{:title => "email@company.com"}
                          %img{:alt => "demo user", :src => "img/avatars/male.png"}/
                          %a{:href => "javascript:void(0);"} Joe Cadena
                          .email
                            joe@company.com
                        .user{:title => "email@company.com"}
                          %img{:alt => "demo user", :src => "img/avatars/male.png"}/
                          %a{:href => "javascript:void(0);"} Mike McBride
                          .email
                            mike@company.com
                        .text-center
                          %ul.pagination.pagination-sm
                            %li.disabled
                              %a{:href => "javascript:void(0);"} Prev
                            %li.active
                              %a{:href => "javascript:void(0);"} 1
                            %li
                              %a{:href => "javascript:void(0);"} 2
                            %li
                              %a{:href => "javascript:void(0);"} 3
                            %li
                              %a{:href => "javascript:void(0);"} ...
                            %li
                              %a{:href => "javascript:void(0);"} 99
                            %li
                              %a{:href => "javascript:void(0);"} Next
                      / end tab
              / end row
          