.content-i
  .content-box
    .element-wrapper
      .element-box
        %div
          %a.m-3.pull-right.btn.btn-primary{ :href => "#{new_company_company_path}", :title => "New Contact" } New Contact
          .table-responsive
            %table#companies-datatable.table.table-striped.table-lightfont{"data-source" => "#{companies_path(format: :json)}",  width: "100%"}
              %thead
                %tr
                  %th
                    %input{ type:"checkbox", name:"select_all", id:"example-select-all"}
                  %th Name
                  %th Number of users
                  %th contact
                  %th Status
                  %th Reminder/Note
                  %th Actions
              %tbody