<div id="content">
  <div class="row"></div>
  <section>
    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" data-widget-deletebutton="false" data-widget-editbutton="false" id="wid-id-0">
          <header>
            <h2>Here are your Company Job.</h2>
          </header>
          <div>
            <div class="jarviswidget-editbox"></div>
            <div class="widget-body">
              <br/>
              <div class="content-i">
                <div class="content-box">
                <div  class='iframe'>
                  <iframe id="myframe" src="<%= @job_url %>" width="950px", height="500px" frameborder="0">
                  </iframe>
                </div>
              </div>
              </div>
              <br/>
              <div class="content-i">
                <div class="content-box">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="element-wrapper">
                        <div class="element-box-tp">
                          <div class="controls-above-table">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </article>
    </div>
  </section>
</div>
