- if @errors
  %div There is invalid timesheet.
- else
  %div
    your invoice date is #{@invoice_date.to_date}, so you want to generate invoice now ?
  - if @min_date.present? && @max_date.present?
    %div
      you have approve timesheet  #{@min_date} TO #{@max_date}.
      .modal-footer
        %button.btn.cancel.btn-default{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
        = link_to raw("Confirm") ,timesheet_generate_invoice_path(@timesheet) , class: 'btn commit btn-danger',title:'Generate Invoice','rel'=>"tooltip" ,'data-placement'=>"top"
  - else
    %div There is no approve timesheet.
    .modal-footer
      %button.btn.cancel.btn-default{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
