= f.fields_for :custom_fields do |c|
  .row
    .col-sm-12
      .form-group
        .input-group
          %span.input-group-addon
            %i.fa.fa-envelope.fa-lg.fa-fw
          = c.text_field :value , class: 'form-control input-lg'  , placeholder: c.object.name , required: true