<% if @conversation.present? %>
    <% user = (@conversation.senderable == current_candidate ? @conversation.recipientable : @conversation.senderable) %>
    <div class="user-intro">
      <div class="avatar">
        <%= image_tag user.photo %>
      </div>
      <div class="user-intro-info">
        <h5 class="user-name">
          <%= user.full_name %>
        </h5>
      </div>
    </div>
<% end %>