<% conversations.each do |con| %>
  <% opt_usr = con.opt_participant(current_user) %>
  <div class="user-fav usr_<%= opt_usr.class.to_s+"_"+opt_usr.id.to_s %>">
    <%= render 'conversation_list', con: con, usr: opt_usr, is_favourite: false %>
  </div>
<% end if conversations.present?  %>
