<% if @conversation.present? %>
    <% user = @conversation.chatable_type == "Group" ? @conversation.chatable :  (@conversation.senderable == current_candidate ? @conversation.recipientable : @conversation.senderable) %>
    <div class="user-intro">
      <div class="avatar">
        <%= image_tag user.photo %>
      </div>
      <div class="user-intro-info">
        <h5 class="user-name">
          <%= user.full_name %>
        </h5>
      </div>
    </div>
    <div class="chat-info-section p-0 pt-4 pb-2">
      <div class="ci-header">
        <i class="os-icon os-icon-documents-03"></i><span>Status</span>
      </div>
      <div class="ci-content p-0 pt-3">
        <div class="ci-file-list">
          <div class="form-group">
            <label for="">Select Status</label>
            <select class="form-control">
              <option>Mute</option>
              <option>Block</option>
              <option>Status 3</option>
              <option>Status 4</option>
              <option>Status 5</option>
              <option>Status 6</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Note:</label>
            <input class="form-control"  placeholder="note"  type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="chat-info-section p-0 pt-4">
      <div class="ci-header">
        <i class="os-icon os-icon-documents-03"></i><span>Status</span>
      </div>
      <div class="timed-activities compact pt-3">
        <div class="timed-activity">
          <div class="ta-date">
            <span>21st Jan, 2017</span>
          </div>
          <div class="ta-record-w">
            <div class="ta-record">
              <div class="ta-timestamp">
                <strong>11:55</strong> am
              </div>
              <div class="ta-activity">
                Created a post called <a href="#">Register new symbol</a> in Rogue
              </div>
            </div>
            <div class="ta-record">
              <div class="ta-timestamp">
                <strong>2:34</strong> pm
              </div>
              <div class="ta-activity">
                Commented on story <a href="#">How to be a leader</a> in <a href="#">Financial</a> category
              </div>
            </div>
            <div class="ta-record">
              <div class="ta-timestamp">
                <strong>7:12</strong> pm
              </div>
              <div class="ta-activity">
                Added <a href="#">John Silver</a> as a friend
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
