<!DOCTYPE html>
<html>

  <head>
    <title>Admin Dashboard HTML Template</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="../fast.fonts.net/cssapi/487b73f1-c2d1-43db-8526-db577e4c822b.css" rel="stylesheet" type="text/css">
  </head>
  <body class="menu-position-side menu-side-left">
    <div class="all-wrapper no-padding-content solid-bg-all">
      <div class="search-with-suggestions-w">
        <div class="search-with-suggestions-modal">
          <div class="element-search">
            <input class="search-suggest-input" placeholder="Start typing to search..." type="text">
            <div class="close-search-suggestions"><i class="os-icon os-icon-x"></i></div>
            </input>
          </div>
          <div class="search-suggestions-group">
            <div class="ssg-header">
              <div class="ssg-icon">
                <div class="os-icon os-icon-box"></div>
              </div>
              <div class="ssg-name">Projects</div>
              <div class="ssg-info">24 Total</div>
            </div>
            <div class="ssg-content">
              <div class="ssg-items ssg-items-boxed">
                <a class="ssg-item" href="users_profile_big.html">
                  <div class="item-media" style="background-image: url(img/company6.png)"></div>
                  <div class="item-name">Integ<span>ration</span> with API</div>
                </a>
                <a class="ssg-item" href="users_profile_big.html">
                  <div class="item-media" style="background-image: url(img/company7.png)"></div>
                  <div class="item-name">Deve<span>lopm</span>ent Project</div>
                </a>
              </div>
            </div>
          </div>
          <div class="search-suggestions-group">
            <div class="ssg-header">
              <div class="ssg-icon">
                <div class="os-icon os-icon-users"></div>
              </div>
              <div class="ssg-name">Customers</div>
              <div class="ssg-info">12 Total</div>
            </div>
            <div class="ssg-content">
              <div class="ssg-items ssg-items-list">
                <a class="ssg-item" href="users_profile_big.html">
                  <div class="item-media" style="background-image: url(img/avatar1.jpg)"></div>
                  <div class="item-name">John Ma<span>yer</span>s</div>
                </a>
                <a class="ssg-item" href="users_profile_big.html">
                  <div class="item-media" style="background-image: url(img/avatar2.jpg)"></div>
                  <div class="item-name">Th<span>omas</span> Mullier</div>
                </a>
                <a class="ssg-item" href="users_profile_big.html">
                  <div class="item-media" style="background-image: url(img/avatar3.jpg)"></div>
                  <div class="item-name">Kim C<span>olli</span>ns</div>
                </a>
              </div>
            </div>
          </div>
          <div class="search-suggestions-group">
            <div class="ssg-header">
              <div class="ssg-icon">
                <div class="os-icon os-icon-folder"></div>
              </div>
              <div class="ssg-name">Files</div>
              <div class="ssg-info">17 Total</div>
            </div>
            <div class="ssg-content">
              <div class="ssg-items ssg-items-blocks">
                <a class="ssg-item" href="#">
                  <div class="item-icon"><i class="os-icon os-icon-file-text"></i></div>
                  <div class="item-name">Work<span>Not</span>e.txt</div>
                </a>
                <a class="ssg-item" href="#">
                  <div class="item-icon"><i class="os-icon os-icon-film"></i></div>
                  <div class="item-name">V<span>ideo</span>.avi</div>
                </a>
                <a class="ssg-item" href="#">
                  <div class="item-icon"><i class="os-icon os-icon-database"></i></div>
                  <div class="item-name">User<span>Tabl</span>e.sql</div>
                </a>
                <a class="ssg-item" href="#">
                  <div class="item-icon"><i class="os-icon os-icon-image"></i></div>
                  <div class="item-name">wed<span>din</span>g.jpg</div>
                </a>
              </div>
              <div class="ssg-nothing-found">
                <div class="icon-w"><i class="os-icon os-icon-eye-off"></i></div>
                <span>No files were found. Try changing your query...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="layout-w">

        
        <div class="content-w">
          <!--------------------
            START - Top Bar
            -------------------->
          <div class="top-bar color-scheme-transparent d-none">
            <!--------------------
              START - Top Menu Controls
              -------------------->
            <div class="top-menu-controls">
              <div class="element-search autosuggest-search-activator"><input placeholder="Start typing to search..." type="text"></div>
              <!--------------------
                START - Messages Link in secondary top menu
                -------------------->
              <div class="messages-notifications os-dropdown-trigger os-dropdown-position-left">
                <i class="os-icon os-icon-mail-14"></i>
                <div class="new-messages-count">12</div>
                <div class="os-dropdown light message-list">
                  <ul>
                    <li>
                      <a href="#">
                        <div class="user-avatar-w"><img alt="" src="img/avatar1.jpg"></div>
                        <div class="message-content">
                          <h6 class="message-from">John Mayers</h6>
                          <h6 class="message-title">Account Update</h6>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="user-avatar-w"><img alt="" src="img/avatar2.jpg"></div>
                        <div class="message-content">
                          <h6 class="message-from">Phil Jones</h6>
                          <h6 class="message-title">Secutiry Updates</h6>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="user-avatar-w"><img alt="" src="img/avatar3.jpg"></div>
                        <div class="message-content">
                          <h6 class="message-from">Bekky Simpson</h6>
                          <h6 class="message-title">Vacation Rentals</h6>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="user-avatar-w"><img alt="" src="img/avatar4.jpg"></div>
                        <div class="message-content">
                          <h6 class="message-from">Alice Priskon</h6>
                          <h6 class="message-title">Payment Confirmation</h6>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!--------------------
                END - Messages Link in secondary top menu
                --------------------><!--------------------
                START - Settings Link in secondary top menu
                -------------------->
              <div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-left">
                <i class="os-icon os-icon-ui-46"></i>
                <div class="os-dropdown">
                  <div class="icon-w"><i class="os-icon os-icon-ui-46"></i></div>
                  <ul>
                    <li><a href="users_profile_small.html"><i class="os-icon os-icon-ui-49"></i><span>Profile Settings</span></a></li>
                    <li><a href="users_profile_small.html"><i class="os-icon os-icon-grid-10"></i><span>Billing Info</span></a></li>
                    <li><a href="users_profile_small.html"><i class="os-icon os-icon-ui-44"></i><span>My Invoices</span></a></li>
                    <li><a href="users_profile_small.html"><i class="os-icon os-icon-ui-15"></i><span>Cancel Account</span></a></li>
                  </ul>
                </div>
              </div>
              <!--------------------
                END - Settings Link in secondary top menu
                --------------------><!--------------------
                START - User avatar and menu in secondary top menu
                -------------------->
              <div class="logged-user-w">
                <div class="logged-user-i">
                  <div class="avatar-w"><img alt="" src="img/avatar1.jpg"></div>
                  <div class="logged-user-menu color-style-bright">
                    <div class="logged-user-avatar-info">
                      <div class="avatar-w"><img alt="" src="img/avatar1.jpg"></div>
                      <div class="logged-user-info-w">
                        <div class="logged-user-name">Maria Gomez</div>
                        <div class="logged-user-role">Administrator</div>
                      </div>
                    </div>
                    <div class="bg-icon"><i class="os-icon os-icon-wallet-loaded"></i></div>
                    <ul>
                      <li><a href="apps_email.html"><i class="os-icon os-icon-mail-01"></i><span>Incoming Mail</span></a></li>
                      <li><a href="users_profile_big.html"><i class="os-icon os-icon-user-male-circle2"></i><span>Profile Details</span></a></li>
                      <li><a href="users_profile_small.html"><i class="os-icon os-icon-coins-4"></i><span>Billing Details</span></a></li>
                      <li><a href="#"><i class="os-icon os-icon-others-43"></i><span>Notifications</span></a></li>
                      <li><a href="#"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--------------------
                END - User avatar and menu in secondary top menu
                -------------------->
            </div>
            <!--------------------
              END - Top Menu Controls
              -------------------->
          </div>
          <!--------------------
            END - Top Bar
            -------------------->
          <div class="content-i">
            <div class="content-box">
              <div class="full-chat-w">
                <div class="full-chat-i">
                  <div class="full-chat-left">
                    <div class="os-tabs-w">
                      <ul class="nav nav-tabs upper centered">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab_overview"><i class="os-icon os-icon-mail-14"></i><span>Chats</span></a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab_sales"><i class="os-icon os-icon-ui-93"></i><span>Contacts</span></a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab_sales"><i class="os-icon os-icon-ui-02"></i><span>Favorites</span></a></li>
                      </ul>
                    </div>
                    <div class="chat-search">
                      <div class="element-search"><input placeholder="Search users by name..." type="text"></div>
                    </div>
                    <div class="user-list">
                      <div class="user-w">
                        <div class="avatar with-status status-green"><img alt="" src="img/avatar1.jpg"></div>
                        <div class="user-info">
                          <div class="user-date">12 min</div>
                          <div class="user-name">John Mayers</div>
                          <div class="last-message">What is going on, are we...</div>
                        </div>
                      </div>
                      <div class="user-w">
                        <div class="avatar with-status status-green"><img alt="" src="img/avatar2.jpg"></div>
                        <div class="user-info">
                          <div class="user-date">2 hours</div>
                          <div class="user-name">Bill Railey</div>
                          <div class="last-message">Yes, I&#39;ve sent you details...</div>
                        </div>
                      </div>
                      <div class="user-w">
                        <div class="avatar with-status status-green"><img alt="" src="img/avatar3.jpg"></div>
                        <div class="user-info">
                          <div class="user-date">24 min</div>
                          <div class="user-name">Simon Backs</div>
                          <div class="last-message">What is going on, are we...</div>
                        </div>
                      </div>
                      <div class="user-w">
                        <div class="avatar with-status status-green"><img alt="" src="img/avatar1.jpg"></div>
                        <div class="user-info">
                          <div class="user-date">7 min</div>
                          <div class="user-name">Kelley Brooks</div>
                          <div class="last-message">Can you send me this...</div>
                        </div>
                      </div>
                      <div class="user-w">
                        <div class="avatar with-status status-green"><img alt="" src="img/avatar7.jpg"></div>
                        <div class="user-info">
                          <div class="user-date">4 hours</div>
                          <div class="user-name">Vinie Jones</div>
                          <div class="last-message">What is going on, are we...</div>
                        </div>
                      </div>
                      <div class="user-w">
                        <div class="avatar with-status status-green"><img alt="" src="img/avatar1.jpg"></div>
                        <div class="user-info">
                          <div class="user-date">2 days</div>
                          <div class="user-name">Brad Pitt</div>
                          <div class="last-message">They have submitted users...</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="full-chat-middle">
                    <div class="chat-head">
                      <div class="user-info"><span>To:</span><a href="#">John Mayers</a></div>
                      <div class="user-actions"><a href="#"><i class="os-icon os-icon-mail-07"></i></a><a href="#"><i class="os-icon os-icon-phone-18"></i></a><a href="#"><i class="os-icon os-icon-phone-15"></i></a></div>
                    </div>
                    <div class="chat-content-w">
                      <div class="chat-content">
                        <div class="chat-message">
                          <div class="chat-message-content-w">
                            <div class="chat-message-content">Hi, my name is Mike, I will be happy to assist you</div>
                          </div>
                          <div class="chat-message-avatar"><img alt="" src="img/avatar3.jpg"></div>
                          <div class="chat-message-date">9:12am</div>
                        </div>
                        <div class="chat-date-separator"><span>Yesterday</span></div>
                        <div class="chat-message self">
                          <div class="chat-message-content-w">
                            <div class="chat-message-content">That walls over which the drawers. Gone studies to titles have audiences of and concepts was motivator</div>
                          </div>
                          <div class="chat-message-date">1:23pm</div>
                          <div class="chat-message-avatar"><img alt="" src="img/avatar1.jpg"></div>
                        </div>
                        <div class="chat-message">
                          <div class="chat-message-content-w">
                            <div class="chat-message-content">Slept train nearby a its is design size agreeable. And check cons, but countries the was to such any founding company</div>
                          </div>
                          <div class="chat-message-avatar"><img alt="" src="img/avatar3.jpg"></div>
                          <div class="chat-message-date">3:45am</div>
                        </div>
                      </div>
                    </div>
                    <div class="chat-controls">
                      <div class="chat-input"><input placeholder="Type your message here..." type="text"></div>
                      <div class="chat-input-extra">
                        <div class="chat-extra-actions"><a href="#"><i class="os-icon os-icon-mail-07"></i></a><a href="#"><i class="os-icon os-icon-phone-18"></i></a><a href="#"><i class="os-icon os-icon-phone-15"></i></a></div>
                        <div class="chat-btn"><a class="btn btn-primary btn-sm" href="#">Reply</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="full-chat-right">
                    <div class="user-intro">
                      <div class="avatar"><img alt="" src="img/avatar1.jpg"></div>
                      <div class="user-intro-info">
                        <h5 class="user-name">John Mayers</h5>
                        <div class="user-sub">San Francisco, CA</div>
                        <div class="user-social"><a href="#"><i class="os-icon os-icon-twitter"></i></a><a href="#"><i class="os-icon os-icon-facebook"></i></a></div>
                      </div>
                    </div>
                    <div class="chat-info-section">
                      <div class="ci-header"><i class="os-icon os-icon-documents-03"></i><span>Shared Files</span></div>
                      <div class="ci-content">
                        <div class="ci-file-list">
                          <ul>
                            <li><a href="#">Annual Revenue.pdf</a></li>
                            <li><a href="#">Expenses.xls</a></li>
                            <li><a href="#">Business Plan.doc</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="chat-info-section">
                      <div class="ci-header"><i class="os-icon os-icon-documents-07"></i><span>Shared Photos</span></div>
                      <div class="ci-content">
                        <div class="ci-photos-list"><img alt="" src="img/portfolio9.jpg"><img alt="" src="img/portfolio2.jpg"><img alt="" src="img/portfolio12.jpg"><img alt="" src="img/portfolio14.jpg"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--------------------
                END - Demo Customizer
                --------------------><!--------------------
                START - Chat Popup Box
                -------------------->
              <div class="floated-chat-btn"><i class="os-icon os-icon-mail-07"></i><span>Demo Chat</span></div>
              <div class="floated-chat-w">
                <div class="floated-chat-i">
                  <div class="chat-close"><i class="os-icon os-icon-close"></i></div>
                  <div class="chat-head">
                    <div class="user-w with-status status-green">
                      <div class="user-avatar-w">
                        <div class="user-avatar"><img alt="" src="img/avatar1.jpg"></div>
                      </div>
                      <div class="user-name">
                        <h6 class="user-title">John Mayers</h6>
                        <div class="user-role">Account Manager</div>
                      </div>
                    </div>
                  </div>
                  <div class="chat-messages">
                    <div class="message">
                      <div class="message-content">Hi, how can I help you?</div>
                    </div>
                    <div class="date-break">Mon 10:20am</div>
                    <div class="message">
                      <div class="message-content">Hi, my name is Mike, I will be happy to assist you</div>
                    </div>
                    <div class="message self">
                      <div class="message-content">Hi, I tried ordering this product and it keeps showing me error code.</div>
                    </div>
                  </div>
                  <div class="chat-controls">
                    <input class="message-input" placeholder="Type your message here..." type="text">
                    <div class="chat-extra"><a href="#"><span class="extra-tooltip">Attach Document</span><i class="os-icon os-icon-documents-07"></i></a><a href="#"><span class="extra-tooltip">Insert Photo</span><i class="os-icon os-icon-others-29"></i></a><a href="#"><span class="extra-tooltip">Upload Video</span><i class="os-icon os-icon-ui-51"></i></a></div>
                  </div>
                </div>
              </div>
              <!--------------------
                END - Chat Popup Box
                -------------------->
            </div>
          </div>
        </div>
      </div>
      <div class="display-type"></div>
    </div>
  </body>
</html>

