    <% @candidate_reviews.each do |review| %>
      <div class="webflow-comments-card d-flex">
        <div class="pl-3">
          <div class="webflow-comments-card-author">
            <%= review.name.capitalize %>
            <span  style="color: #FFC100;">
              <i class="fa fa-star" aria-hidden="true"></i>
              <%= number_with_precision(review.total_rating, :precision => 1) %>
            </span>
          </div>
          <div class="webflow-comments-card-company">
            <%#= current_company.name 
            %>
          </div>
          <div class="webflow-comments-card-text" style="font-size: 16px;">
            <%= review.rating_comment %>
          </div>
          <div class="webflow-comments-card-footer">
            <%# <span class="webflow-comments-card-upvote"><i class="fa fa-caret-up" aria-hidden="true"></i> Upvote</span> %>
            <span class="webflow-comments-card-time">posted <%= time_ago_in_words(review.created_at)%> ago</span>
          </div>
        </div>
      </div>
    <% end %>