<style>
body{
  padding: 0px !important;
}
</style>
<section class="content-wrapper"> <!-- Section Content Wrapper -->
  <div class="container-fluid"> <!-- Div Container Fluid -->
    <div class="row"> <!-- Div Row -->
      <%= render 'static/shared/webflow_header' %>
      <div class="content-main webflow-content-main col-12"> <!-- Div Content Main -->
        <%= render 'webflow_candidate_profile', candidate: @candidate, candidate_company: @candidate_company %>
      </div> <!-- Div Content Main -->
    </div> <!-- Div Row -->
  </div> <!-- Div Container Fluid -->
</section> <!-- Content Wrapper -->

<%= javascript_include_tag 'shared/hide_show_toggler'%>
<script>
    var selected_categories = [];
    $(document).ready(function () {
      $(".openbtn").click(function () {
          $(".side-wrapper").addClass("side-active")
      });

      $(".closebtn").click(function () {
          $(".side-wrapper").removeClass("side-active")
          $(".side-wrapper").removeClass("inactive")
      });
    });
</script>
