#content
  %section#widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-12
        #wid-id-0.jarviswidget
          %header
            -#%span.widget-icon
              -#%i.fa.fa-eye
            %h2 New Leave
          / widget div
          %div
            .jarviswidget-editbox
            .widget-body
              = render 'form'


