- jobs.each_with_index do |job , index|
  %tr
    %td
      =link_to job.title,candidate_job_path(job)
    %td= job.end_date
    %td= job.location.name  rescue "  --"
    %td= job.created_by.full_name  rescue "  --"
    %td
      -#= link_to raw("<i class='fa fa-pencil '></i>") , edit_job_path(job) , class: 'btn btn-xs btn-default btn-primary'
      -#= link_to raw("<i class='fa fa-times '></i>") , job_path(job) , method: :delete ,  class: 'btn btn-xs btn-default btn-danger'
      = link_to 'View Details' ,candidate_job_path(job) ,target: '_blank' ,class: 'btn btn-xs btn-default btn-success'