%li
  .sub-title
    Master
  %ul
    %li
      %a{:href => "/company/candidates/new"} Add Candidate(s)
    %li
      %a{:href => "/company/companies/new"} Add Company(s)
    %li
      / <a href="/company/companies/new">Add Contact(s)</a>
    %li
      %a{:href => "/groups/new"} Add Group(s)
%li
  .sub-title
    Offering(s)
  %ul
    %li
      %a{:href => "/jobs/new"} Job(s)
    %li
      / <a href="#">Product(s)</a>
    %li
      / <a href="#">Service(s)</a>
    %li
      / <a href="#">Training(s)</a>
    %li
      / <a href="#">Blog(s)</a>
    %li
      / <a href="#">Book An Event</a>
    %li
      / <a href="#">Survey</a>
%li.active
  .sub-title
    Order(s)
  %ul
    %li
      %a{:href => "/contracts/new"} Add Contract(s)
    %li
      %a{:href => "/timesheets"} Approve Timesheet(s)
%li
  .sub-title
    Payment(s)
  %ul
    %li
      / <a href="#">Vendor Bill(s)</a>
    %li
      / <a href="#">Pay Vendor</a>
    %li
      / <a href="#">Salary Settlement</a>
    %li
      / <a href="#">Salary Processing</a>
    %li
      / <a href="#">Salary Clearing</a>
%li
  .sub-title
    Recievable(s)
  %ul
    %li
      %a{:href => "/invoices"} Invoice(s)
    %li
      / <a href="#">Received Payment(s)</a>
    %li
      %a{:href => "/expenses/client_expense_invoices"} Client Expense Invoice(s)
%li
  .sub-title
    Expense(s)
  %ul
    %li
      %a{:href => "/bank_details/bank_reconciliation"} Bank Reconcilliation
    %li
      %a{:href => "/expenses/new"} Request Expense(s)
    %li
      Pay Expense
      %ul
        %li
          %a{:href => "/expenses/pay_expense"} Salary Advance
        %li
          %a{:href => "/expenses/pay_expense"} Company expense(s)
    %li
      %a{:href => "/client_expenses"} Approve client expense(s)
    %li
      %a{:href => "/expenses/client_expense_bill"} Create Bill - Client Expense(s)
    %li
      %a{:href => "/expenses/pay_expense"} Pay Client expense(s)
