%fieldset
  .form-group
    %label.control-label.col-md-2
      Password
      %span{:style => "color:red;"} *
    .col-md-6
      .row
        .col-sm-12
          .input-icon-left
            %i.fa.txt-color-green
            = e.password_field :password, :class=>"form-control  input-sm", placeholder:"Enter Password", required: true
  .form-group
    %label.control-label.col-md-2
      Confirm Password
      %span{:style => "color:red;"} *
    .col-md-6
      .row
        .col-sm-12
          .input-icon-left
            %i.fa.txt-color-green
            = e.password_field :password_confirmation, :class=>"form-control  input-sm", placeholder:"Confirm Password", required: true