.content-box
  .support-index
    .support-tickets
      .support-tickets-header
        .tickets-control
          %h5
            Jobs
          .element-search
            %input#search-public-job{:placeholder => "Type to filter tickets...", :type => "text"}/
        .tickets-filter
          .form-group.mr-3
            %label.d-none.d-md-inline-block.mr-2 Status
            %select.form-control-sm
              %option
                Closed
              %option
                Open
              %option
                Pending
      #publick-job-list
        =render 'company/public_jobs/partials/public_job_list', :@jobs => @jobs
      -#.load-more-public-job
      -#  =link_to "See More", company_public_jobs_path(page: @jobs.next_page), remote: true if @jobs.next_page.present?

    #public-job-description


-##content.newsfeed
-#  %body
-#    %section#widget-grid.clearfix
-#      .newsfeed-left
-#        %ul
-#          - @jobs.each do |job|
-#            -# if !(Time.parse(job.created_at.to_s) <= Time.parse(Time.now.to_s) && job.job_applications.blank?)
-#            %li
-#              = link_to job_company_public_job_path(job), remote: true do
-#                %div.public-job-list.clearfix
-#                  %span.pull-left
-#                    =job.id
-#                  %span.pull-right
-#                    %i.fa.fa-calendar-o
-#                    =job.created_at.strftime("%d/%m/%Y")
-#                %div.job-header.clearfix
-#                  = image_tag job.company.logo,  style:"width:50px;height:50px", fit: 'clip'
-#                  %p.job_title
-#                    = truncate(job.title,length: 50)
-#                  %p.job_title
-#                    %i.fa.fa-usd
-#                    =job.price
-#                %div.public-job-other-info
-#                  %span
-#                    %i.fa.fa-map-marker
-#                    =job.location
-#                  %span
-#                    %i.fa.fa-user
-#                    =job.created_by.full_name
-#        = digg_pagination(@jobs)
-#      .newsfeed-right
-#        %div#public-job-description

-content_for :body_class, 'greybg'
- content_for :modals do
  #job_application

