<div class="content-box">
	<div class="element-wrapper">
		<div class="element-box">
			<%=render partial: 'company/companies/sub_menu_company'%>
			<div id="content">
				<%= render 'company/bank_details/particals/list_bank_details',bank_details: @bank_details%>     
			</div>
		</div>
	</div>
</div>




                    

