.modal{id:"company-#{candidate.id}"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          %strong= "Manage Groups"
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
      .modal-body.no-padding
        = render 'company/candidates/partials/assign_groups_to_candidate_form' , company: candidate