%fieldset
  .form-group
    %label.col-md-2.control-label
      First Name
      %sup.text-danger *
    .col-md-10
      = f.text_field :first_name , class: 'form-control ' , id: 'fname' , placeholder: "First Name" , required: true
  .form-group
    %label.col-md-2.control-label
      Last Name
      %sup.text-danger *
    .col-md-10
      = f.text_field :last_name , class: 'form-control ' , id: 'lname' , placeholder: "Last Name" , required: true
  .form-group
    %label.col-md-2.control-label
      Email
      %sup.text-danger *
    .col-md-10
      = f.email_field :email , class: 'form-control ' , id: 'email' , placeholder: "email@address.com" , required: true
  .form-group
    %label.col-md-2.control-label Resume
    .col-md-10
      = f.filepicker_field :resume , class: 'btn btn-primary file-pick'  , id: 'accept-filepiker',"data-fp-extensions" => ".pdf,.doc,.docx,.txt"
