:css
  .chardin_box {
    display: inline-block;
    padding: 0 3px;
  }
  .span3 {
    width: 220px;
  }
  [class*="span"]{
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
#content
  #wid-id-5.no-border.jarviswidget
    .col-xs-12.col-sm-9.col-md-9.col-lg-9.pull-left{style: 'border-bottom-color: #fff !important;'}
      = render'company/timesheets/partials/submitted_timesheets' , data: @timesheets

- content_for :modals do
  #ajax-modal
- content_for :scripts do
  :javascript
    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function() {

    $('#myTab1 a[href="' + localStorage.getItem('mainActiveTab') + '"]').tab('show');

    $('.sub-tab a[href="' + localStorage.getItem('subActiveTab') + '"]').tab('show');
    pageSetUp();

    });
    $('#myTab1').on('show.bs.tab', function(e) {
      localStorage.setItem('mainActiveTab', $(e.target).attr('href'));
    });

    $('.sub-tab').on('show.bs.tab', function(e) {
      localStorage.setItem('subActiveTab', $(e.target).attr('href'));
    });

