.timesheet
  .row
    .col-md-12
      %h1 Pay Bills
      = form_for @timesheet, url: timesheets_path, html:{ class:'form-horizontal', method: :post} do |f|
        =f.hidden_field :contract_id, value: @buy_contract.contract_id
        =f.hidden_field :job_id, value: @buy_contract.contract.job_id
        =f.hidden_field :job_id, value: @buy_contract.contract.job_id
        =f.hidden_field :start_date, value: @start_date
        =f.hidden_field :end_date, value: @end_date
        .timesheet-header.clearfix
          .pull-left
            .plain-select
              %select
                %option 1
                %option 1
                %option 1
                %option 1
            %input{:placeholder => "Select Date", :type => "text"}/
          .pull-right
            %span Total hour
            %p 0:00
        .table-responsive
          %table#mytable.table.table-bordred
            %thead
              %th #
              %th{:width => "40%"} Details
              - (@start_date..@end_date).each do |ti|
                %th=ti.strftime("%a %d")
            %tbody
              %tr
                %td 1
                %td
                  .plain-select
                    %select
                      %option Customername
                      %option 1
                      %option 1
                      %option 1
                  .plain-select
                    %select
                      %option service item
                      %option 1
                      %option 1
                      %option 1
                  %br/
                  %textarea
                  %label.fancy
                    %input.set-checkbox{:type => "checkbox"}/
                    Bilable
                  = render "shared/file_attachement", f:f,attr_name: :timesheet_attachment, button_name: "Pick File",multiple: false
                  -#= f.filepicker_field :timesheet_attachment, :button_text => "Pick File", disable: true , class: 'file-pick btn btn-primary timesheet-filepicker-attachment'
                - (@start_date..@end_date).each do |ti|
                  %td
                    %input.checkthis{:name => "timesheet[days][#{ti}]", :required => "required", :type => "text", :value => "0"}/
          =f.submit "Save"