
.col-sm-12.col-md-12.col-lg-12
  / new widget
  .jarviswidget.jarviswidget-color-blueDark
    /
      widget options:
      usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

      data-widget-colorbutton="false"
      data-widget-editbutton="false"
      data-widget-togglebutton="false"
      data-widget-deletebutton="false"
      data-widget-fullscreenbutton="false"
      data-widget-custombutton="false"
      data-widget-collapsed="true"
      data-widget-sortable="false"
    -#%header
    -#  %span.widget-icon
    -#    %i.fa.fa-calendar
    -#  %h2 My Events
    -#  .widget-toolbar
    -#    / add: non-hidden - to disable auto hide
    -#    .btn-group
    -#      %button.btn.dropdown-toggle.btn-xs.btn-default{"data-toggle" => "dropdown"}
    -#        Showing
    -#        %i.fa.fa-caret-down
    -#      %ul.dropdown-menu.js-status-update.pull-right
    -#        -#%li
    -#        -#  %a#mt{:href => "javascript:void(0);"} Month
    -#        -#%li
    -#        -#  %a#ag{:href => "javascript:void(0);"} Agenda
    -#        %li
    -#          %a#td{:href => "javascript:void(0);"} Today
    -#/ widget div
    %div
      .widget-body.no-padding
        / content goes here
        .widget-body-toolbar
          #calendar-buttons
            .btn-group
              %a#add_time.btn.btn-primary.btn-md{"data-target" => "#myModal", "data-toggle" => "modal"} ADD
              =render 'company/timesheets/partials/add_transaction_modal'
            .btn-group
              %a#btn-prev.btn.btn-default.btn-xs{:href => "javascript:void(0)"}
                %i.fa.fa-chevron-left
              %a#btn-next.btn.btn-default.btn-xs{:href => "javascript:void(0)"}
                %i.fa.fa-chevron-right
        #calendar.fc.fc-ltr.fc-unthemed
          -#.fc-toolbar
          -#  .fc-left
          -#    %h2 December 2016
          -#  .fc-right{:style => "display: none;"}
          -#    .fc-button-group
          -#      %button.fc-prev-button.fc-button.fc-state-default.fc-corner-left{:type => "button"}
          -#        %span.fc-icon.fc-icon-left-single-arrow
          -#      %button.fc-today-button.fc-button.fc-state-default.fc-state-disabled{:disabled => "disabled", :type => "button"} today
          -#      %button.fc-next-button.fc-button.fc-state-default.fc-corner-right{:type => "button"}
          -#        %span.fc-icon.fc-icon-right-single-arrow
          -#  .fc-center{:style => "display: none;"}
          -#    .fc-button-group
          -#      %button.fc-month-button.fc-button.fc-state-default.fc-corner-left{:type => "button"} month
          -#      %button.fc-agendaWeek-button.fc-button.fc-state-default{:type => "button"} week
          -#      %button.fc-agendaDay-button.fc-button.fc-state-default.fc-corner-right.fc-state-active{:type => "button"} day
          -#  .fc-clear



- content_for :scripts do
  :javascript
    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function() {

      pageSetUp();
      $('#transaction_start_time').timepicker();
      $('#transaction_end_time').timepicker();


        "use strict";

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var hdr = {
          left: 'title',
          center: 'agendaDay',
          right: 'prev,today,next'
        };

        var initDrag = function (e) {
          // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
          // it doesn't need to have a start or end

          var eventObject = {
            title: $.trim(e.children().text()), // use the element's text as the event title
            description: $.trim(e.children('span').attr('data-description')),
            icon: $.trim(e.children('span').attr('data-icon')),
            className: $.trim(e.children('span').attr('class')) // use the element's children as the event class
          };
          // store the Event Object in the DOM element so we can get to it later
          e.data('eventObject', eventObject);

          // make the event draggable using jQuery UI
          e.draggable({
            zIndex: 999,
            revert: true, // will cause the event to go back to its
            revertDuration: 0 //  original position after the drag
          });
        };

        var addEvent = function (title, priority, description, icon) {
          title = title.length === 0 ? "Untitled Event" : title;
          description = description.length === 0 ? "No Description" : description;
          icon = icon.length === 0 ? " " : icon;
          priority = priority.length === 0 ? "label label-default" : priority;

          var html = $('<li><span class="' + priority + '" data-description="' + description + '" data-icon="' +
            icon + '">' + title + '</span></li>').prependTo('ul#external-events').hide().fadeIn();

          $("#event-container").effect("highlight", 800);

          initDrag(html);
        };

        /* initialize the external events
        -----------------------------------------------------------------*/

          $('#external-events > li').each(function () {
            initDrag($(this));
          });

          $('#add-event').click(function () {
            var title = $('#title').val(),
              priority = $('input:radio[name=priority]:checked').val(),
              description = $('#description').val(),
              icon = $('input:radio[name=iconselect]:checked').val();

            addEvent(title, priority, description, icon);
          });

        /* initialize the calendar
        -----------------------------------------------------------------*/

          $('#calendar').fullCalendar({

            header: hdr,
            editable: false,
            droppable: false, // this allows things to be dropped onto the calendar !!!

            drop: function (date, allDay) { // this function is called when something is dropped

              // retrieve the dropped element's stored Event Object
              var originalEventObject = $(this).data('eventObject');

              // we need to copy it, so that multiple events don't have a reference to the same object
              var copiedEventObject = $.extend({}, originalEventObject);

              // assign it the date that was reported
              copiedEventObject.start = date;
              copiedEventObject.allDay = allDay;

              // render the event on the calendar
              // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
              $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

              // is the "remove after drop" checkbox checked?
              if ($('#drop-remove').is(':checked')) {
                // if so, remove the element from the "Draggable Events" list
                $(this).remove();
              }

            },

            select: function (start, end, allDay) {
              var title = prompt('Event Title:');
              if (title) {
                calendar.fullCalendar('renderEvent', {
                  title: title,
                  start: start,
                  end: end,
                  allDay: allDay
                  }, true // make the event "stick"
                );
              }
              calendar.fullCalendar('unselect');
            },
            defaultView: 'agendaDay',
            viewRender: function(currentView){
             var minDate = new Date("#{@timesheet.start_date}") ,
             maxDate = moment();
             // Past
             if (minDate >= currentView.start && minDate <= currentView.end) {
               $(".fc-prev-button").prop('disabled', true);
               $(".fc-prev-button").addClass('fc-state-disabled');
             }
             else {
               $(".fc-prev-button").removeClass('fc-state-disabled');
               $(".fc-prev-button").prop('disabled', false);
             }
             // Future
             if (maxDate >= currentView.start && maxDate <= currentView.end) {
               $(".fc-next-button").prop('disabled', true);
               $(".fc-next-button").addClass('fc-state-disabled');
             } else {
               $(".fc-next-button").removeClass('fc-state-disabled');
               $(".fc-next-button").prop('disabled', false);
             }
           },

             events: [
                 {
                   title: 'Lunch',
                   start: new Date(y, m, d, 12, 0),
                   end: new Date(y, m, d, 14, 0),
                   allDay: false,
                   className: ["event", "bg-color-darken"]
                 },
             ],

            eventRender: function (event, element, icon) {
              if (!event.description == "") {
                element.find('.fc-title').append("<br/><span class='ultra-light'>" + event.description +
                  "</span>");
              }
              if (!event.icon == "") {
                element.find('.fc-title').append("<i class='air air-top-right fa " + event.icon +
                  " '></i>");
              }
            },

            windowResize: function (event, ui) {
              $('#calendar').fullCalendar('render');
            }
          });

          /* hide default buttons */
          $('.fc-right, .fc-center').hide();


        $('#calendar-buttons #btn-prev').click(function () {
          $('.fc-prev-button').click();
          return false;
        });

        $('#calendar-buttons #btn-next').click(function () {
          $('.fc-next-button').click();
          return false;
        });

        $('#calendar-buttons #btn-today').click(function () {
          $('.fc-today-button').click();
          return false;
        });

        $('#mt').click(function () {
          $('#calendar').fullCalendar('changeView', 'month');
        });

        $('#ag').click(function () {
          $('#calendar').fullCalendar('changeView', 'agendaWeek');
        });

        $('#td').click(function () {
          $('#calendar').fullCalendar('changeView', 'agendaDay');
        });
        $('#add_time').click(function(){
          var moment = $('#calendar').fullCalendar('getDate');
          console.log(moment.formatDate());
          $('#transaction_timesheet_log_date').val(moment._d);

        });


    });

