%table#inbox-table.table.table-striped.table-hover
  %tbody
    =render 'company/attachments/images_show'

:javascript
  //Gets tooltips activated
  $("#inbox-table [rel=tooltip]").tooltip();

  $("#inbox-table input[type='checkbox']").change(function() {
  	$(this).closest('tr').toggleClass("highlight", this.checked);
  });

  $("#inbox-table .inbox-data-message").click(function() {
  	$this = $(this);
  	getMail($this);
  })
  $("#inbox-table .inbox-data-from").click(function() {
  	$this = $(this);
  	getMail($this);
  })
  function getMail($this) {
  	//console.log($this.closest("tr").attr("id"));
  	loadURL("#{ajax_email_opened_path}", $('#inbox-content > .table-wrap'));
  }


  $('.inbox-table-icon input:checkbox').click(function() {
  	enableDeleteButton();
  })

  $(".deletebutton").click(function() {
  	$('#inbox-table td input:checkbox:checked').parents("tr").rowslide();
  	//$(".inbox-checkbox-triggered").removeClass('visible');
  	//$("#compose-mail").show();
  });

  function enableDeleteButton() {
  	var isChecked = $('.inbox-table-icon input:checkbox').is(':checked');

  	if (isChecked) {
  		$(".inbox-checkbox-triggered").addClass('visible');
  		//$("#compose-mail").hide();
  	} else {
  		$(".inbox-checkbox-triggered").removeClass('visible');
  		//$("#compose-mail").show();
  	}
  }
