%body
  .container-fluid.no-padding
    %section.box-typical.files-manager.m-t-lg
      %nav.files-manager-side{:style => "height: auto;"}
        %header.files-manager-side-title My files
        %ul.files-manager-side-list
          - @attachment_types.each do |type|
            %li.this_is{class: params[:type] == type ? 'active' : ''}
              = link_to type , attachments_path(type: type)
              -#%a{"data-toggle" => "tab", :href => "#"}= type
      .files-manager-panel
        .files-manager-panel-in
          %header.files-manager-header
            .files-manager-header-left
              %button.btn.btn-rounded{:type => "button"}
                %i.font-icon-left.font-icon-upload-2>
                Upload file
              %button.btn-icon{:type => "button"}
                %i.font-icon.font-icon-folder
              %button.btn-icon{:type => "button"}
                %i.font-icon.font-icon-download-2
              %button.btn-icon{:type => "button"}
                %i.font-icon.font-icon-share
              %button.btn-icon{:type => "button"}
                %i.font-icon.font-icon-trash
            .files-manager-header-right
              .views
                %button.btn-icon.view.active{:type => "button"}
                  %i.font-icon.font-icon-view-grid
                %button.btn-icon.view{:type => "button"}
                  %i.font-icon.font-icon-view-rows
              .search
                %input.form-control.form-control-rounded{:placeholder => "Search", :type => "text"}/
                %button.btn-icon{:type => "submit"}
                  %i.font-icon.font-icon-search
          .files-manager-content
            .files-manager-content-in.scrollable-block.jspScrollable{:style => "overflow: hidden; padding: 0px; height: auto; width: 100%;", :tabindex => "0"}
              .jspContainer{:style => "width: 600px; height: 380px;"}
                .jspPane{:style => "padding: 0px; top: 0px; left: 0px; width: 588px;"}
                  .fm-file-grid
                    - @selected_attachments.each do |attachable_type|
                      .fm-file
                        .fm-file-icon.dblclick
                          = image_tag image_type(attachable_type)
                        .fm-file-name
                          = attachable_type.file_name
                        .fm-file-size
                          %a{:download => "", :href => image_path(attachable_type.file)}
                            Download
                .jspVerticalBar
                  .jspCap.jspCapTop
                  .jspTrack{:style => "height: 380px;"}
                    .jspDrag{:style => "height: 356px;"}
                      .jspDragTop
                      .jspDragBottom
                  .jspCap.jspCapBottom

- content_for :scripts do
  :javascript
    $(document).ready(function() {

      // DO NOT REMOVE : GLOBAL FUNCTIONS!
      pageSetUp();

      // $( ".this_is" ).click(function() {
      //   var v = $(this).text();
      //   alert(v);
      // });
      // PAGE RELATED SCRIPTS

      /*
       * Fixed table height
       */

      //tableHeightSize()

      //$(window).resize(function() {
      //	tableHeightSize()
      //})

      function tableHeightSize() {

        if ($('body').hasClass('menu-on-top')) {
          var menuHeight = 68;
          // nav height

          var tableHeight = ($(window).height() - 224) - menuHeight;
          if (tableHeight < (320 - menuHeight)) {
            $('.table-wrap').css('height', (320 - menuHeight) + 'px');
          } else {
            $('.table-wrap').css('height', tableHeight + 'px');
          }

        } else {
          var tableHeight = $(window).height() - 224;
          if (tableHeight < 320) {
            $('.table-wrap').css('height', 320 + 'px');
          } else {
            $('.table-wrap').css('height', tableHeight + 'px');
          }

        }

      }

      /*
       * LOAD INBOX MESSAGES
       */

    });
