/ = javascript_include_tag 'libs/jquery-2.1.1.min.js'
.with-side-panel
  .content-i
    .content-box
      .row
        .element-wrapper.w-100
          %h6.element-header
            Dashboard
          .row.mb-4{style: "justify-content: flex-end;"}
            %ul.nav.nav-tabs.smaller.float-right{style: "border-bottom: none;"}
              %li.nav-item
                %a{class: "nav-link active fd year", href: candidate_filter_cards_data_path("year"),"data-toggle" => "tab", "data-remote" => "true"} year
              %li.nav-item
                %a{class: "nav-link fd quarter ", href: candidate_filter_cards_data_path("quarter"),"data-toggle" => "tab", "data-remote" => "true"} Quarter
              %li.nav-item
                %a{class: "nav-link fd month", href: candidate_filter_cards_data_path("month"),"data-toggle" => "tab", "data-remote" => "true"} Month
              %li.nav-item
                %input{class: 'pull-right nav-link', id: 'custom_range', plceholder: 'Custom Rage Search', "data-date-format" => "DD/MM/YYYY"}
          .element-content#dashboard_cards
            =render 'candidate/candidates/partials/dashboard_cards', cards: @cards
      .row
        -activities = candidate_activity_hash
        - if activities.present?
          .col-sm-12
            .element-wrapper
              %h6.element-header
                User Activity
              .timed-activities.compact
                -activities.each do |key,value|
                  .timed-activity
                    .ta-date
                      %span
                        = key
                    .ta-record-w
                      - value.each do |activity|
                        = render_activity activity
    .content-panel
      .content-panel-close
        %i.os-icon.os-icon-close
      .element-wrapper
        %h6.element-header
          Quick Links
        .element-box-tp
          .el-buttons-list.full-width
            %a.btn.btn-white.btn-sm{:href => "/onboarding_profile?tag=verify-phone"}
              %i.os-icon.os-icon-arrow-up6
              %span Upload Resume

.dashboard_jobs
  =render 'candidate/candidates/partials/jobs',jobs: @jobs unless @jobs.blank?


- content_for :modals do
  #job_application
- content_for :scripts do
  :javascript
    $(document).ready(function() {
      $('.jobs_pagination_links a').attr('data-remote','true');
      $('#custom_range').daterangepicker({
        startDate: moment().startOf('month'),
        endDate: moment().endOf('month'),
        locale: {
          format: 'DD/MM/YYYY'
        }
      });
      $("#custom_range").change(function(){
        url = "/candidate/filter_data/period?start_date=" + $(this).val().replace(/\s+/g, "").split('-').join("&end_date=")
        $.get(url);
      });
      $("#jobs_search").on('change',function(){
        url = "/candidate?q="+$(this).val()
        $.get(url);
      });
    });