#content
  / Bread crumb is created dynamically
  / row
  .row
    / col
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        / PAGE HEADER
        %i.fa-fw.fa.fa-puzzle-piece
        App Views
        %span
          \&gt;
          Profile
    / end col
    / right side of the page with the sparkline graphs
    / col
    .col-xs-12.col-sm-5.col-md-5.col-lg-8
      / sparks
      %ul#sparks
        %li.sparks-info
          %h5
            My Income
            %span.txt-color-blue $47,171
          .sparkline.txt-color-blue.hidden-mobile.hidden-md.hidden-sm
            1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
        %li.sparks-info
          %h5
            Site Traffic
            %span.txt-color-purple
              %i.fa.fa-arrow-circle-up{"data-rel" => "bootstrap-tooltip", :title => "Increased"}>
               45%
          .sparkline.txt-color-purple.hidden-mobile.hidden-md.hidden-sm
            110,150,300,130,400,240,220,310,220,300, 270, 210
        %li.sparks-info
          %h5
            Site Orders
            %span.txt-color-greenDark
              %i.fa.fa-shopping-cart>
               2447
          .sparkline.txt-color-greenDark.hidden-mobile.hidden-md.hidden-sm
            110,150,300,130,400,240,220,310,220,300, 270, 210
      / end sparks
    / end col
  / end row
  / row
  
  .profile_container
    .intro_section
      .row
        .col-sm-12.col-md-2.col-lg-2
          .profile_image
            %img{:alt => "friend-1", :src => "assets/avatars/m_sunny_big.png"}/
        .col-sm-12.col-md-6.col-lg-6
          .name_block
            .name M Shoaib Masood
            .department Computer Science Engineer
        .col-sm-12.col-md-4.col-lg-4
          .action_block
            .row
              .col-sm-12.col-md-3.col-lg-3
                .action_button
                  %img{:alt => "friend-1", :src => "assets/avatars/m_sunny_big.png"}/
                .action_label Message
              .col-sm-12.col-md-3.col-lg-3
                .action_button
                  %img{:alt => "friend-1", :src => "assets/avatars/m_sunny_big.png"}/
                .action_label Save
              .col-sm-12.col-md-3.col-lg-3
                .action_button
                  %img{:alt => "friend-1", :src => "assets/avatars/m_sunny_big.png"}/
                .action_label Share
              .col-sm-12.col-md-3.col-lg-3
                .action_button
                  %img{:alt => "friend-1", :src => "assets/avatars/m_sunny_big.png"}/
                .action_label More

    .about_section
      .heading About me
      %p “People find me to be an upbeat, self-motivated team player with excellent communication skills. For the past several years I have worked in lead qualification, telemarketing, and customer service in the technology industry. My experience includes successfully calling people in director-level positions of technology departments and developing viable leads. I have a track record of maintaining a consistent call and activity volume and consistently achieving the top 10 percent in sales, and I can do the same thing for your company.”

    .education_section
      .heading Education
      .education_timeline_block
        .user_school St. Stephen's H.sc school
        .user_class Jr. KG - Class 12
        .block_pointer
      .education_timeline_block
        .user_school St. Stephen's H.sc school
        .user_class Jr. KG - Class 12
        .block_pointer

    .experience_section
      .heading Experience
      .experience_timeline_block
        .company_name St. Stephen's H.sc school
        .technology Jr. KG - Class 12
        .time_limit 6 Months
        .block_pointer
      .experience_timeline_block
        .company_name St. Stephen's H.sc school
        .technology Jr. KG - Class 12
        .time_limit 6 Months
        .block_pointer
      .experience_timeline_block
        .company_name St. Stephen's H.sc school
        .technology Jr. KG - Class 12
        .time_limit 6 Months
        .block_pointer
      .experience_timeline_block
        .company_name St. Stephen's H.sc school
        .technology Jr. KG - Class 12
        .time_limit 6 Months
        .block_pointer

    .skills_section
      .heading Skills
      .skills_set
        .skill_block
          %img{:alt => "friend-1", :src => "assets/avatars/m_sunny_big.png"}/
        .skill_block
          %img{:alt => "friend-1", :src => "assets/avatars/m_sunny_big.png"}/
        .skill_block
          %img{:alt => "friend-1", :src => "assets/avatars/m_sunny_big.png"}/
        .skill_block
          %img{:alt => "friend-1", :src => "assets/avatars/m_sunny_big.png"}/
        .skill_block
          %img{:alt => "friend-1", :src => "assets/avatars/m_sunny_big.png"}/
        .skill_block
          %img{:alt => "friend-1", :src => "assets/avatars/m_sunny_big.png"}/
        .skill_block
          %img{:alt => "friend-1", :src => "assets/avatars/m_sunny_big.png"}/
        .skill_block
          %img{:alt => "friend-1", :src => "assets/avatars/m_sunny_big.png"}/

    .projects_section
      .heading Projects
      .row
        .col-sm-12.col-md-6.col-lg-6
          .project_title Near to know
          .technology Android Application
          .description this android app which is used to know the location, shops current notification around locality.
        .col-sm-12.col-md-6.col-lg-6
          .project_title Assure Associates
          .technology Website
          .description this android app which is used to know the location, shops current notification around locality.
      .row
        .col-sm-12.col-md-6.col-lg-6
          .project_title Twitter Sentiment Analysis
          .technology Python NLP Project
          .description this android app which is used to know the location, shops current notification around locality.
        .col-sm-12.col-md-6.col-lg-6
          .project_title Projection'17
          .technology Website/Graphics
          .description this android app which is used to know the location, shops current notification around locality.

    .social_links_section
      .row
        .col-sm-12.col-md-4.col-lg-4
          %img{:alt => "friend-1", :src => "assets/avatars/m_sunny_big.png"}/
          .link www.google.com
        .col-sm-12.col-md-4.col-lg-4
          %img{:alt => "friend-1", :src => "assets/avatars/m_sunny_big.png"}/
          .link www.google.com
        .col-sm-12.col-md-4.col-lg-4
          %img{:alt => "friend-1", :src => "assets/avatars/m_sunny_big.png"}/
          .link www.google.com