- if @tab.present?
  $("##{@tab.gsub('_', '-')}-form").html("#{j render 'candidate/candidates/partials/'+@tab.gsub('-', '_')+'_form'}")
  $(".select2").select2({placeholder: "Select a User(s)"});
  $(".file_select").select2({placeholder: "Select Company Document"});
  $("##{@tab.gsub('_', '-')}-form .can-filepicker-attach").each(function(e){
  $(this).unbind();
  filepicker.constructWidget($(this));
  });
  $('.p_date').datepicker({
  dateFormat: "yy-mm-dd"
  });
  addressLookup();