/ HEADER
%table.head-wrap
  %tr
    %td
    %td.header.container
      .content
        %table
          %tr
            %td
              %img{ src: company.logo || 'https://cdn.filepicker.io/api/file/F1zKHSF0SjmZ7ayclobU', width: "200"}/
            %td{ align: "right"}
