%table.footer-wrap
  %tr
    %td
    %td.container
      / content
      .content
        %table
          %tr
            %td{:align => "center"}
              %p
                %a{ clicktracking: 'off', href: "#"} Terms
                |
                %a{ clicktracking: 'off', href: "#"} Privacy
                |
                %a{clicktracking: 'off', href: "#"}
                  %unsubscribe Unsubscribe
    %td
