/ HEADER
%table.head-wrap
  %tr
    %td
    %td.header.container
      .content
        %table
          %tr
            %td
              %img{:height => "80", :src => 'https://cdn.filepicker.io/api/file/F1zKHSF0SjmZ7ayclobU', :width => "142"}/
            %td{:align => "right"}