/ HEADER
%table.head-wrap
  %tr
    %td
    %td.header.container
      .content
        %table
          %tr
            %td
              %img{:height => "80", :src => 'https://support.etyme.com/etyme-logo-dark.png', :width => "142"}/
            %td{:align => "right"}
