/ HEADER
%table.head-wrap{:background => 'etymedev.com:3000/images/logo.png'}
  %tr
    %td
    %td.header.container
      .content
        %table
          %tr
            %td
              %img{:height => "30", :src => 'etymedev.com:3000/images/logo.png', :width => "142"}/
            %td{:align => "right"}
              %h6.collapse Basic
    %td