%table.social{:width => "100%"}
  %tr
    %td
      / column 2
      %table.column{:align => "left"}
        %tr
          %td
            %h5.margin-bottom-10 Contact :
            %p
              Phone:
              %strong 408.341.0600
              %br/
              Email:
              %strong
                %a{:href => "emailto:info@etyme.com"} info@etyme.com
      %span.clear