%table.social{:width => "100%"}
  %tr
    %td
      / column 2
      %table{:align => "left"}
        %tr
          %td
            %h5.margin-bottom-10
            %p
              %strong
                Etyme.com - #1 stop integrated solution for Consulting & Training Business. We are in beta and FREE for 3 months. 
                %a{ clicktracking: 'off', href: register_url } Register Now and manage your Lists, Groups, Share, Engage your audience and more.
              %br/
              %strong
                etyme.com will help you create & Share Bench, Jobs, Products, Services and trainings. Build your way to success in business. 
                %a{ clicktracking: 'off', href: register_url } Register Now.
      %span.clear
