@import 'homepage/public';
@import 'homepage/homepage';

// required at the moment for plans.
$body-color: #3E4B5B !default;
$os-font-weight-bold: 500;
$font-weight-bold: $os-font-weight-bold !default;
$font-size-base: 0.9rem !default; // Assumes the browser default, typically `16px`

@import 'homepage/plans';
@import 'homepage/global';

#sectionIntro{
  padding: 3% 0px !important;
  z-index: 0;
}
.font-2_rem{
  font-size: 2.00rem !important;
}
.font-180_rem{
  font-size: 1.80rem !important;
}
