.fs-13
{
  font-size: 13px;
  display: block
}

.list-p-15
{
  padding:15px
}
.ul-s
{
  list-style: none outside none;
  text-align:justify;
  padding:20px;
  overflow: auto;
}
.mt-12
{
  margin-top:12px;
}
.mt-20s
{
  margin-top:20px ;
  border: border-light;
}
.c-color
{
  background-color: aliceblue;
}
.mr-5
{
  margin-right: 5px;
}