.row{style: "padding: 15px;"}
  .form-group
    .multi-field-wrapper
      .multi-fields
        = form_for @user,url: candidate_candidate_path(@user.id, tab: "client"),method: :put do |f|
          %h2{style: "margin: 15px 0"}
            %b Client Information
          = f.fields_for :clients, f.object.clients do |b|
            = render 'candidate/candidates/client_fields', f: b
          = link_to_add_fields 'candidate/candidates/client_fields', f, :clients
          .row
          .col-lg-12
            %button.btn.btn-primary.pull-right{:type => "submit"}
              Saved