- current_candidate.designations.build unless current_candidate.designations.present?
#tab5_container{style: "padding: 0 14px;"}
  = form_for current_candidate,url: candidate_candidate_path(current_candidate.id, tab: "skill"),method: :put, remote: true do |f|
    %br/
    .employer-body
      .row
        .col-sm-12.col-md-12.col-lg-12#designate-form
          .row
            .col-md-11
              %h4.element-header{style: "padding-bottom: 1rem;margin-bottom: 1rem;"}
                Add Experience
            .col-md-1  
              %button.btn.btn-primary.add-designation-btn{onClick: "addExperience(this);", style: "margin-left: -20px;"}
                + Add Experience 
          = f.fields_for :designations, f.object.designations.with_no_client do |b|
            = render 'candidate/candidates/designations_fields', f: b

          %strong
            .links.pull-right{style: "margin: 13px 0;"}
              = link_to_add_association '+ Add Experience', f, :designations, class: "btn btn-primary experience-btn", partial: 'candidate/candidates/designations_fields'
:javascript
  function addExperience(arg){
    btn_length = $( ".experience-btn" ).length
    $( ".experience-btn" ).each(function(index, i) {
      if(btn_length -1 == index){
        $(i).click();      
      }
    });
  }

