= form_for current_candidate, url: candidate_candidate_path(current_candidate.id, tab: "social"),method: :put, remote: true do |f|
  = f.fields_for :social_links, f.object.social_links do |s|
    = render 'candidate/candidates/partials/social_link_fields', f: s                    
  %strong
    .links.pull-right
      = link_to_add_association '+ Social Media', f, :social_links, class: 'btn btn-primary', partial: 'candidate/candidates/partials/social_link_fields'
