.content-i
  .content-box
    .row
      .col-sm-12
        .element-wrapper
          .element-box-tp
            .controls-above-table
              .row.mr-1.ml-1
                .col-sm-6
                  %a.btn.btn-sm.btn-secondary{ :href => "#{new_group_path}", data: {remote: 'true'}, :title => "New Group" } Add Group
                .col-sm-6
                  .form-inline.justify-content-sm-end
                    %input.form-control.form-control-sm.rounded.bright{placeholder: "Search", type: "text", type: 'search', id: 'group-datatable-search'}
            .table-responsive
              %table#group-datatable.table.text-center.table-bordered.table-lg.table-v2.table-striped{"data-source" => "#{groups_path(format: :json)}"}
                %thead
                  %tr
                    %th
                      %input{ type:"checkbox", name:"select_all", id:"example-select-all"}
                    %th Name
                    %th Type
                    %th Member
                    %th Date
                    %th Reminder/Note
                    %th Status
                    %th Contacts
                    %th Actions
                %tbody.group-text-align


-content_for :scripts do
  :javascript
    $(document).ready(function(){
      default_active_nav('.ln-3');
    })