#content
  %body
    %section#widget-grid
      .row
        %article.col-xs-12.col-sm-12.col-md-12.col-lg-12.sortable-grid.ui-sortable
          #wid-id-1.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable{"data-widget-editbutton" => "false", :role => "widget"}
            %header{:role => "heading"}
              %span.widget-icon
                %i.fa.fa-table
              %h2 Groups
              %span.jarviswidget-loader
                %i.fa.fa-refresh.fa-spin
            / widget div
            %div{:role => "content"}
              .jarviswidget-editbox
              .widget-body.no-padding
                = render 'company/groups/partial/form' , group: @group
-content_for :scripts do
  :javascript
    $(".select2").select2({placeholder: "Select a Candidate(s)"});