$('.remote_container').html("#{ j render 'company/groups/partial/model' , group: @group}");
$('#assign-bulk-group-companies').modal('hide');
$('#new_group').modal('toggle');
$(".select2-group").select2("close");