#myModal.modal.fade.in{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h4#myModalLabel.modal-title
          %strong Add New Location
      .modal-body
        =form_for @location, html:{ class:'form-horizontal',id: 'location'} do |location|
          =location.fields_for :address do |address|
            %fieldset
              .form-group
                %label.col-md-2.control-label
                  Location
                  %sup.text-danger *
                .col-md-10
                  =location.text_field :name,:placeholder => "Name",class: "form-control",:required => 'required' ,id:'loc'
              .form-group
                %label.col-md-2.control-label
                  Address 1
                  %sup.text-danger *
                .col-md-10
                  =address.text_field :address_1,:placeholder => "Address 1",class: "form-control",id:'ad1'
              .form-group
                %label.col-md-2.control-label
                  Address 2
                  %sup.text-danger *
                .col-md-10
                  =address.text_field :address_2,:placeholder => "Address 2",class: "form-control",id:'id2'
              .form-group
                %label.col-md-2.control-label
                  Country
                  %sup.text-danger *
                .col-md-10
                  = address.select :country ,CS.countries.sort.map{|k,v| [v,k] } ,{prompt:"Select Country"},:class=>"form-control" , :required =>'required',id:"country"
              .form-group
                %label.col-md-2.control-label
                  State
                  %sup.text-danger *
                .col-md-10
                  = address.select :state ,CS.states(:us).sort.map {|k,v| [v,k] },{prompt:"Select State"},class:"form-control", selected: address.object.state,id:"state"
              .form-group
                %label.col-md-2.control-label
                  City
                  %sup.text-danger *
                .col-md-10
                  = address.select :city,CS.cities(address.object.state,:us).sort.map {|k,v| [v,k] },{prompt:"Select City"},class:"form-control",id:"city"
              .form-group
                %label.col-md-2.control-label
                  Zip Code
                  %sup.text-danger *
                .col-md-10
                  =address.text_field :zip_code,:placeholder => "Zip Code",class:"form-control"

          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              Cancel
            %button.btn.btn-primary{:type => "submit" ,id:'form_id'}
              Create Location
- content_for :scripts do
  :javascript
    $(document).ready(function() {

        $('#country').change(
         function() {
         var states_of_country=$('#state')
         $.getJSON('/states/'+$(this).val(),function(data) {
              states_of_country.empty();
              states_of_country.append('<option value="">Select State ...</option>');
              $.each(data,function(key,value) {
              var opt = '<option value=' + key + '>' + value + '</option>';
              states_of_country.append(opt);
              });

           });//End OF json

         }); //End OF Country Change


      $('#state').change(
         function() {
         var country=$('#country').val();
         var cities_of_sate=$('#city')
         $.getJSON('/cities/'+$(this).val()+"/"+country,function(data) {
              cities_of_sate.empty();
              cities_of_sate.append('<option value="">Select City ...</option>');
              $.each(data,function(key,value) {
              var opt = '<option value=' + key + '>' + value + '</option>';
              cities_of_sate.append(opt);
              });

           });//End OF json

         }); //End OF State Change
          var $validator = $("#location").validate({

          rules: {
            loc: {
              required: true
            },
            ad1: {
              required: true
            },
             ad2: {
              required: true
            }
          },

          messages: {
            loc: "Please specify location',
            ad1: "Please specify address",
            ad2:"please specify address"
          },

          highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
          },
          unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
          },
          errorElement: 'span',
          errorClass: 'help-block',
          errorPlacement: function (error, element) {
            if (element.parent('.input-group').length) {
              error.insertAfter(element.parent());
            } else {
              error.insertAfter(element);
            }
          }
        });


         $('.form_id').click(function(){
            if ($("#location").valid()) {
              $('#location').submit();

            }
            return false;
        });

      }); // End of document ready