#myModal.modal.fade.in{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h4#myModalLabel.modal-title Add New Location
      .modal-body
        =form_for @location do |location|
          =location.fields_for :address do |address|
            .row
              .col-md-12
                .form-group
                  =location.text_field :name,:placeholder => "Name",class: "form-control",:required => 'required'
                .form-group
                  =address.text_field :address_1,:placeholder => "Address 1",class: "form-control"
                .form-group
                  =address.text_field :address_2,:placeholder => "Address 2",class: "form-control"
                .form-group
                  = address.select :country ,CS.countries.sort.map{|k,v| [v,k] } ,{},:class=>"form-control" , :required =>'required', placeholder: "Select something"
            .row
              .col-md-4
                .form-group
                  %label{:for => "category"} City
                  = address.text_field :city,:placeholder => "City" ,:required => 'required',class:"form-control"
              .col-md-4
                .form-group
                  %label{:for => "tags"} Zip Code
                  =address.text_field :zip_code,:placeholder => "Zip Code",class:"form-control"
              .col-md-4
                .form-group
                  %label{:for => "category"} State
                  = address.text_field :state ,:placeholder => "State",class:"form-control"
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              Cancel
            %button.btn.btn-primary{:type => "submit"}
              Create Location
- content_for :scripts do
  :javascript
    $('#location_address_attributes_country').find('option').first().html('Select Country....')