
$('.remote_container').html("#{ j render 'company/reminders/partials/form' , assignee: @candidate}");
$('#reminder-#{@candidate.id}').modal('toggle');
$("#remind").datepicker({dateFormat: "yy-mm-dd"  });
