.modal{ id: "timesheet_submit_modal"}
  .modal-dialog
    .modal-content{style: 'margin-top: 20%'}
      .modal-header
        %h2#PageTitle.modal-title
          %h4.onboarding-title Timesheet
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
      = form_tag get_hr_admins_contracts_path, remote: true ,html: {class: 'form-horizontal'} do
        .modal-body#rate-confirmation-modal-body
          %input{name: "timesheet_id",id: 'timesheet_id',hidden: "hidden"}
          %input{name: "transaction_id", id: 'transaction_id',hidden: "hidden"}
          .row
            .col-md-12
              .form-group
                %label Active Hours
                %input{name: "total_time",class: 'form-control', id: 't_total_time',type: "number"}
              .form-group
                %label Memo
                %input{name: "memo", class: 'form-control', id: 't_memo', type: "text"}
              .form-group
                %label Attachment
                %input{name: "file", class: 'form-control', id: 't_file', type: "hidden"}
                = button_tag "Upload Attachment" , class: 'm-0 resume btn btn-primary btn-rounded btn-lg', onclick: "upload_timesheet_attachment()"
        .modal-footer
          %button.btn.btn-secondary.btn-sm.mr-1{"data-dismiss"=>"modal", "type"=>"button"} Cancel
          %button.btn.btn-secondary.btn-sm{type: "submit", onclick: 'submit_timesheet(event)'} Save


- content_for :scripts do
  :javascript
    function submit_timesheet(e){
      e.preventDefault();
      let transaction_id = $('#transaction_id').val();
      let timesheet_id = $('#timesheet_id').val();
      let hrs = $('#t_total_time').val();
      let memo = $('#t_memo').val();
      let file = $('#t_file').val();
      let url = `/candidate/timesheets/${timesheet_id}/transaction/${transaction_id}/update`
      $.post(url, {total_hrs: hrs, memo: memo, file: file}).done(function (data) {
          $('#timesheet_submit_modal').modal('hide');
          flash_success(data.status)
      }).fail(function (data) {
          $('#timesheet_submit_modal').modal('hide');
          flash_error(data.status)
      });
    }
    function uploadTimesheetFile(url,type){
      $('#t_file').val(url);
    }
    function upload_timesheet_attachment(){
        upload_file_ajax(uploadTimesheetFile);
    }