#content
  %body
    %section#widget-grid.clearfix
      %table
        %tr
          %th Company
          %th status
          %th Action
        - @candidates.each do |cand|
          %tr
            %td=cand.company.full_name
            %td=cand.candidate_status
            %td=link_to "accept", accept_bench_bench_path(cand.company_id, candidate_id: cand.candidate_id,)