#footer
  .container.text-center
    .col-md-4
      %h3 Address
      .contact-item
        %p 4321 California St,
        %p San Francisco, CA 12345
    .col-md-4
      %h3 Opening Hours
      .contact-item
        %p Mon-Thurs: 10:00 AM - 11:00 PM
        %p Fri-Sun: 11:00 AM - 02:00 AM
    .col-md-4
      %h3 Contact Info
      .contact-item
        %p Phone: +1 123 456 1234
        %p Email: info@company.com
  .container-fluid.text-center.copyrights
    .col-md-8.col-md-offset-2
      .social
        %ul
          %li
            %a{:href => "#"}
              %i.fa.fa-facebook
          %li
            %a{:href => "#"}
              %i.fa.fa-twitter
          %li
            %a{:href => "#"}
              %i.fa.fa-google-plus
      %p
        © 2017 Etyme. All rights reserved. Etyme
