!function (t) {
    var n = {};

    function e(o) {
        if (n[o]) return n[o].exports;
        var i = n[o] = {i: o, l: !1, exports: {}};
        return t[o].call(i.exports, i, i.exports, e), i.l = !0, i.exports
    }

    e.m = t, e.c = n, e.d = function (t, n, o) {
        e.o(t, n) || Object.defineProperty(t, n, {enumerable: !0, get: o})
    }, e.r = function (t) {
        "undefined" != typeof Symbol && Symbol.toStringTag && Object.defineProperty(t, Symbol.toStringTag, {value: "Module"}), Object.defineProperty(t, "__esModule", {value: !0})
    }, e.t = function (t, n) {
        if (1 & n && (t = e(t)), 8 & n) return t;
        if (4 & n && "object" == typeof t && t && t.__esModule) return t;
        var o = Object.create(null);
        if (e.r(o), Object.defineProperty(o, "default", {
            enumerable: !0,
            value: t
        }), 2 & n && "string" != typeof t) for (var i in t) e.d(o, i, function (n) {
            return t[n]
        }.bind(null, i));
        return o
    }, e.n = function (t) {
        var n = t && t.__esModule ? function () {
            return t.default
        } : function () {
            return t
        };
        return e.d(n, "a", n), n
    }, e.o = function (t, n) {
        return Object.prototype.hasOwnProperty.call(t, n)
    }, e.p = "", e(e.s = 71)
}([function (t, n) {
    var e = t.exports = "undefined" != typeof window && window.Math == Math ? window : "undefined" != typeof self && self.Math == Math ? self : Function("return this")();
    "number" == typeof __g && (__g = e)
}, function (t, n, e) {
    var o = e(11)("wks"), i = e(12), r = e(0).Symbol, s = "function" == typeof r;
    (t.exports = function (t) {
        return o[t] || (o[t] = s && r[t] || (s ? r : i)("Symbol." + t))
    }).store = o
}, function (t, n, e) {
    var o = e(5);
    t.exports = function (t) {
        if (!o(t)) throw TypeError(t + " is not an object!");
        return t
    }
}, function (t, n, e) {
    t.exports = !e(10)(function () {
        return 7 != Object.defineProperty({}, "a", {
            get: function () {
                return 7
            }
        }).a
    })
}, function (t, n) {
    var e = t.exports = {version: "2.6.9"};
    "number" == typeof __e && (__e = e)
}, function (t, n) {
    t.exports = function (t) {
        return "object" == typeof t ? null !== t : "function" == typeof t
    }
}, function (t, n, e) {
    var o = e(7);
    t.exports = function (t, n, e) {
        if (o(t), void 0 === n) return t;
        switch (e) {
            case 1:
                return function (e) {
                    return t.call(n, e)
                };
            case 2:
                return function (e, o) {
                    return t.call(n, e, o)
                };
            case 3:
                return function (e, o, i) {
                    return t.call(n, e, o, i)
                }
        }
        return function () {
            return t.apply(n, arguments)
        }
    }
}, function (t, n) {
    t.exports = function (t) {
        if ("function" != typeof t) throw TypeError(t + " is not a function!");
        return t
    }
}, function (t, n) {
    var e = {}.toString;
    t.exports = function (t) {
        return e.call(t).slice(8, -1)
    }
}, function (t, n, e) {
    var o = e(2), i = e(33), r = e(34), s = Object.defineProperty;
    n.f = e(3) ? Object.defineProperty : function (t, n, e) {
        if (o(t), n = r(n, !0), o(e), i) try {
            return s(t, n, e)
        } catch (t) {
        }
        if ("get" in e || "set" in e) throw TypeError("Accessors not supported!");
        return "value" in e && (t[n] = e.value), t
    }
}, function (t, n) {
    t.exports = function (t) {
        try {
            return !!t()
        } catch (t) {
            return !0
        }
    }
}, function (t, n, e) {
    var o = e(4), i = e(0), r = i["__core-js_shared__"] || (i["__core-js_shared__"] = {});
    (t.exports = function (t, n) {
        return r[t] || (r[t] = void 0 !== n ? n : {})
    })("versions", []).push({
        version: o.version,
        mode: e(15) ? "pure" : "global",
        copyright: "© 2019 Denis Pushkarev (zloirock.ru)"
    })
}, function (t, n) {
    var e = 0, o = Math.random();
    t.exports = function (t) {
        return "Symbol(".concat(void 0 === t ? "" : t, ")_", (++e + o).toString(36))
    }
}, function (t, n, e) {
    var o = e(0), i = e(18), r = e(14), s = e(12)("src"), a = e(36), l = ("" + a).split("toString");
    e(4).inspectSource = function (t) {
        return a.call(t)
    }, (t.exports = function (t, n, e, a) {
        var c = "function" == typeof e;
        c && (r(e, "name") || i(e, "name", n)), t[n] !== e && (c && (r(e, s) || i(e, s, t[n] ? "" + t[n] : l.join(String(n)))), t === o ? t[n] = e : a ? t[n] ? t[n] = e : i(t, n, e) : (delete t[n], i(t, n, e)))
    })(Function.prototype, "toString", function () {
        return "function" == typeof this && this[s] || a.call(this)
    })
}, function (t, n) {
    var e = {}.hasOwnProperty;
    t.exports = function (t, n) {
        return e.call(t, n)
    }
}, function (t, n) {
    t.exports = !1
}, function (t, n, e) {
    var o = e(8), i = e(1)("toStringTag"), r = "Arguments" == o(function () {
        return arguments
    }());
    t.exports = function (t) {
        var n, e, s;
        return void 0 === t ? "Undefined" : null === t ? "Null" : "string" == typeof (e = function (t, n) {
            try {
                return t[n]
            } catch (t) {
            }
        }(n = Object(t), i)) ? e : r ? o(n) : "Object" == (s = o(n)) && "function" == typeof n.callee ? "Arguments" : s
    }
}, function (t, n, e) {
    var o = e(0), i = e(4), r = e(18), s = e(13), a = e(6), l = function (t, n, e) {
        var c, u, d, f, p = t & l.F, h = t & l.G, m = t & l.S, v = t & l.P, b = t & l.B,
            g = h ? o : m ? o[n] || (o[n] = {}) : (o[n] || {}).prototype, y = h ? i : i[n] || (i[n] = {}),
            x = y.prototype || (y.prototype = {});
        for (c in h && (e = n), e) d = ((u = !p && g && void 0 !== g[c]) ? g : e)[c], f = b && u ? a(d, o) : v && "function" == typeof d ? a(Function.call, d) : d, g && s(g, c, d, t & l.U), y[c] != d && r(y, c, f), v && x[c] != d && (x[c] = d)
    };
    o.core = i, l.F = 1, l.G = 2, l.S = 4, l.P = 8, l.B = 16, l.W = 32, l.U = 64, l.R = 128, t.exports = l
}, function (t, n, e) {
    var o = e(9), i = e(35);
    t.exports = e(3) ? function (t, n, e) {
        return o.f(t, n, i(1, e))
    } : function (t, n, e) {
        return t[n] = e, t
    }
}, function (t, n, e) {
    var o = e(5), i = e(0).document, r = o(i) && o(i.createElement);
    t.exports = function (t) {
        return r ? i.createElement(t) : {}
    }
}, function (t, n) {
    t.exports = {}
}, function (t, n, e) {
    var o = e(22), i = Math.min;
    t.exports = function (t) {
        return t > 0 ? i(o(t), 9007199254740991) : 0
    }
}, function (t, n) {
    var e = Math.ceil, o = Math.floor;
    t.exports = function (t) {
        return isNaN(t = +t) ? 0 : (t > 0 ? o : e)(t)
    }
}, function (t, n, e) {
    var o, i, r, s = e(6), a = e(43), l = e(44), c = e(19), u = e(0), d = u.process, f = u.setImmediate,
        p = u.clearImmediate, h = u.MessageChannel, m = u.Dispatch, v = 0, b = {}, g = function () {
            var t = +this;
            if (b.hasOwnProperty(t)) {
                var n = b[t];
                delete b[t], n()
            }
        }, y = function (t) {
            g.call(t.data)
        };
    f && p || (f = function (t) {
        for (var n = [], e = 1; arguments.length > e;) n.push(arguments[e++]);
        return b[++v] = function () {
            a("function" == typeof t ? t : Function(t), n)
        }, o(v), v
    }, p = function (t) {
        delete b[t]
    }, "process" == e(8)(d) ? o = function (t) {
        d.nextTick(s(g, t, 1))
    } : m && m.now ? o = function (t) {
        m.now(s(g, t, 1))
    } : h ? (r = (i = new h).port2, i.port1.onmessage = y, o = s(r.postMessage, r, 1)) : u.addEventListener && "function" == typeof postMessage && !u.importScripts ? (o = function (t) {
        u.postMessage(t + "", "*")
    }, u.addEventListener("message", y, !1)) : o = "onreadystatechange" in c("script") ? function (t) {
        l.appendChild(c("script")).onreadystatechange = function () {
            l.removeChild(this), g.call(t)
        }
    } : function (t) {
        setTimeout(s(g, t, 1), 0)
    }), t.exports = {set: f, clear: p}
}, function (t, n, e) {
    "use strict";
    var o = e(7);

    function i(t) {
        var n, e;
        this.promise = new t(function (t, o) {
            if (void 0 !== n || void 0 !== e) throw TypeError("Bad Promise constructor");
            n = t, e = o
        }), this.resolve = o(n), this.reject = o(e)
    }

    t.exports.f = function (t) {
        return new i(t)
    }
}, function (t, n, e) {
    var o = e(26), i = e(27);
    t.exports = function (t) {
        return o(i(t))
    }
}, function (t, n, e) {
    var o = e(8);
    t.exports = Object("z").propertyIsEnumerable(0) ? Object : function (t) {
        return "String" == o(t) ? t.split("") : Object(t)
    }
}, function (t, n) {
    t.exports = function (t) {
        if (null == t) throw TypeError("Can't call method on  " + t);
        return t
    }
}, function (t, n, e) {
    "use strict";
    var o = e(2);
    t.exports = function () {
        var t = o(this), n = "";
        return t.global && (n += "g"), t.ignoreCase && (n += "i"), t.multiline && (n += "m"), t.unicode && (n += "u"), t.sticky && (n += "y"), n
    }
}, function (t, n) {
    t.exports = function (t) {
        var n = [];
        return n.toString = function () {
            return this.map(function (n) {
                var e = function (t, n) {
                    var e = t[1] || "", o = t[3];
                    if (!o) return e;
                    if (n && "function" == typeof btoa) {
                        var i = (s = o, "/*# sourceMappingURL=data:application/json;charset=utf-8;base64," + btoa(unescape(encodeURIComponent(JSON.stringify(s)))) + " */"),
                            r = o.sources.map(function (t) {
                                return "/*# sourceURL=" + o.sourceRoot + t + " */"
                            });
                        return [e].concat(r).concat([i]).join("\n")
                    }
                    var s;
                    return [e].join("\n")
                }(n, t);
                return n[2] ? "@media " + n[2] + "{" + e + "}" : e
            }).join("")
        }, n.i = function (t, e) {
            "string" == typeof t && (t = [[null, t, ""]]);
            for (var o = {}, i = 0; i < this.length; i++) {
                var r = this[i][0];
                "number" == typeof r && (o[r] = !0)
            }
            for (i = 0; i < t.length; i++) {
                var s = t[i];
                "number" == typeof s[0] && o[s[0]] || (e && !s[2] ? s[2] = e : e && (s[2] = "(" + s[2] + ") and (" + e + ")"), n.push(s))
            }
        }, n
    }
}, function (t, n, e) {
    var o, i, r = {}, s = (o = function () {
        return window && document && document.all && !window.atob
    }, function () {
        return void 0 === i && (i = o.apply(this, arguments)), i
    }), a = function (t) {
        var n = {};
        return function (t) {
            if ("function" == typeof t) return t();
            if (void 0 === n[t]) {
                var e = function (t) {
                    return document.querySelector(t)
                }.call(this, t);
                if (window.HTMLIFrameElement && e instanceof window.HTMLIFrameElement) try {
                    e = e.contentDocument.head
                } catch (t) {
                    e = null
                }
                n[t] = e
            }
            return n[t]
        }
    }(), l = null, c = 0, u = [], d = e(68);

    function f(t, n) {
        for (var e = 0; e < t.length; e++) {
            var o = t[e], i = r[o.id];
            if (i) {
                i.refs++;
                for (var s = 0; s < i.parts.length; s++) i.parts[s](o.parts[s]);
                for (; s < o.parts.length; s++) i.parts.push(g(o.parts[s], n))
            } else {
                var a = [];
                for (s = 0; s < o.parts.length; s++) a.push(g(o.parts[s], n));
                r[o.id] = {id: o.id, refs: 1, parts: a}
            }
        }
    }

    function p(t, n) {
        for (var e = [], o = {}, i = 0; i < t.length; i++) {
            var r = t[i], s = n.base ? r[0] + n.base : r[0], a = {css: r[1], media: r[2], sourceMap: r[3]};
            o[s] ? o[s].parts.push(a) : e.push(o[s] = {id: s, parts: [a]})
        }
        return e
    }

    function h(t, n) {
        var e = a(t.insertInto);
        if (!e) throw new Error("Couldn't find a style target. This probably means that the value for the 'insertInto' parameter is invalid.");
        var o = u[u.length - 1];
        if ("top" === t.insertAt) o ? o.nextSibling ? e.insertBefore(n, o.nextSibling) : e.appendChild(n) : e.insertBefore(n, e.firstChild), u.push(n); else if ("bottom" === t.insertAt) e.appendChild(n); else {
            if ("object" != typeof t.insertAt || !t.insertAt.before) throw new Error("[Style Loader]\n\n Invalid value for parameter 'insertAt' ('options.insertAt') found.\n Must be 'top', 'bottom', or Object.\n (https://github.com/webpack-contrib/style-loader#insertat)\n");
            var i = a(t.insertInto + " " + t.insertAt.before);
            e.insertBefore(n, i)
        }
    }

    function m(t) {
        if (null === t.parentNode) return !1;
        t.parentNode.removeChild(t);
        var n = u.indexOf(t);
        n >= 0 && u.splice(n, 1)
    }

    function v(t) {
        var n = document.createElement("style");
        return void 0 === t.attrs.type && (t.attrs.type = "text/css"), b(n, t.attrs), h(t, n), n
    }

    function b(t, n) {
        Object.keys(n).forEach(function (e) {
            t.setAttribute(e, n[e])
        })
    }

    function g(t, n) {
        var e, o, i, r;
        if (n.transform && t.css) {
            if (!(r = n.transform(t.css))) return function () {
            };
            t.css = r
        }
        if (n.singleton) {
            var s = c++;
            e = l || (l = v(n)), o = w.bind(null, e, s, !1), i = w.bind(null, e, s, !0)
        } else t.sourceMap && "function" == typeof URL && "function" == typeof URL.createObjectURL && "function" == typeof URL.revokeObjectURL && "function" == typeof Blob && "function" == typeof btoa ? (e = function (t) {
            var n = document.createElement("link");
            return void 0 === t.attrs.type && (t.attrs.type = "text/css"), t.attrs.rel = "stylesheet", b(n, t.attrs), h(t, n), n
        }(n), o = function (t, n, e) {
            var o = e.css, i = e.sourceMap, r = void 0 === n.convertToAbsoluteUrls && i;
            (n.convertToAbsoluteUrls || r) && (o = d(o));
            i && (o += "\n/*# sourceMappingURL=data:application/json;base64," + btoa(unescape(encodeURIComponent(JSON.stringify(i)))) + " */");
            var s = new Blob([o], {type: "text/css"}), a = t.href;
            t.href = URL.createObjectURL(s), a && URL.revokeObjectURL(a)
        }.bind(null, e, n), i = function () {
            m(e), e.href && URL.revokeObjectURL(e.href)
        }) : (e = v(n), o = function (t, n) {
            var e = n.css, o = n.media;
            o && t.setAttribute("media", o);
            if (t.styleSheet) t.styleSheet.cssText = e; else {
                for (; t.firstChild;) t.removeChild(t.firstChild);
                t.appendChild(document.createTextNode(e))
            }
        }.bind(null, e), i = function () {
            m(e)
        });
        return o(t), function (n) {
            if (n) {
                if (n.css === t.css && n.media === t.media && n.sourceMap === t.sourceMap) return;
                o(t = n)
            } else i()
        }
    }

    t.exports = function (t, n) {
        if ("undefined" != typeof DEBUG && DEBUG && "object" != typeof document) throw new Error("The style-loader cannot be used in a non-browser environment");
        (n = n || {}).attrs = "object" == typeof n.attrs ? n.attrs : {}, n.singleton || "boolean" == typeof n.singleton || (n.singleton = s()), n.insertInto || (n.insertInto = "head"), n.insertAt || (n.insertAt = "bottom");
        var e = p(t, n);
        return f(e, n), function (t) {
            for (var o = [], i = 0; i < e.length; i++) {
                var s = e[i];
                (a = r[s.id]).refs--, o.push(a)
            }
            t && f(p(t, n), n);
            for (i = 0; i < o.length; i++) {
                var a;
                if (0 === (a = o[i]).refs) {
                    for (var l = 0; l < a.parts.length; l++) a.parts[l]();
                    delete r[a.id]
                }
            }
        }
    };
    var y, x = (y = [], function (t, n) {
        return y[t] = n, y.filter(Boolean).join("\n")
    });

    function w(t, n, e, o) {
        var i = e ? "" : o.css;
        if (t.styleSheet) t.styleSheet.cssText = x(n, i); else {
            var r = document.createTextNode(i), s = t.childNodes;
            s[n] && t.removeChild(s[n]), s.length ? t.insertBefore(r, s[n]) : t.appendChild(r)
        }
    }
}, function (t, n, e) {
    var o, i;
    /*!
    * tingle.js
    * @author  robin_parisi
    * @version 0.13.2
    * @url
    */
    void 0 === (i = "function" == typeof (o = function () {
        var t = function () {
            var t, n = document.createElement("tingle-test-transition"), e = {
                transition: "transitionend",
                OTransition: "oTransitionEnd",
                MozTransition: "transitionend",
                WebkitTransition: "webkitTransitionEnd"
            };
            for (t in e) if (void 0 !== n.style[t]) return e[t]
        }();

        function n(t) {
            this.opts = function () {
                for (var t = 1; t < arguments.length; t++) for (var n in arguments[t]) arguments[t].hasOwnProperty(n) && (arguments[0][n] = arguments[t][n]);
                return arguments[0]
            }({}, {
                onClose: null,
                onOpen: null,
                beforeOpen: null,
                beforeClose: null,
                stickyFooter: !1,
                footer: !1,
                cssClass: [],
                closeLabel: "Close",
                closeMethods: ["overlay", "button", "escape"]
            }, t), this.init()
        }

        function e() {
            this.modalBoxFooter && (this.modalBoxFooter.style.width = this.modalBox.clientWidth + "px", this.modalBoxFooter.style.left = this.modalBox.offsetLeft + "px")
        }

        function o(t) {
            -1 !== this.opts.closeMethods.indexOf("escape") && 27 === t.which && this.isOpen() && this.close()
        }

        function i(t) {
            -1 !== this.opts.closeMethods.indexOf("overlay") && !function (t, n) {
                for (; (t = t.parentElement) && !t.classList.contains(n);) ;
                return t
            }(t.target, "tingle-modal") && t.clientX < this.modal.clientWidth && this.close()
        }

        return n.prototype.init = function () {
            this.modal || (function () {
                this.modal = document.createElement("div"), this.modal.classList.add("tingle-modal"), (0 === this.opts.closeMethods.length || -1 === this.opts.closeMethods.indexOf("overlay")) && this.modal.classList.add("tingle-modal--noOverlayClose"), this.modal.style.display = "none", this.opts.cssClass.forEach(function (t) {
                    "string" == typeof t && this.modal.classList.add(t)
                }, this), -1 !== this.opts.closeMethods.indexOf("button") && (this.modalCloseBtn = document.createElement("button"), this.modalCloseBtn.classList.add("tingle-modal__close"), this.modalCloseBtnIcon = document.createElement("span"), this.modalCloseBtnIcon.classList.add("tingle-modal__closeIcon"), this.modalCloseBtnIcon.innerHTML = "×", this.modalCloseBtnLabel = document.createElement("span"), this.modalCloseBtnLabel.classList.add("tingle-modal__closeLabel"), this.modalCloseBtnLabel.innerHTML = this.opts.closeLabel, this.modalCloseBtn.appendChild(this.modalCloseBtnIcon), this.modalCloseBtn.appendChild(this.modalCloseBtnLabel)), this.modalBox = document.createElement("div"), this.modalBox.classList.add("tingle-modal-box"), this.modalBoxContent = document.createElement("div"), this.modalBoxContent.classList.add("tingle-modal-box__content"), this.modalBox.appendChild(this.modalBoxContent), -1 !== this.opts.closeMethods.indexOf("button") && this.modal.appendChild(this.modalCloseBtn), this.modal.appendChild(this.modalBox)
            }.call(this), function () {
                this._events = {
                    clickCloseBtn: this.close.bind(this),
                    clickOverlay: i.bind(this),
                    resize: this.checkOverflow.bind(this),
                    keyboardNav: o.bind(this)
                }, -1 !== this.opts.closeMethods.indexOf("button") && this.modalCloseBtn.addEventListener("click", this._events.clickCloseBtn), this.modal.addEventListener("mousedown", this._events.clickOverlay), window.addEventListener("resize", this._events.resize), document.addEventListener("keydown", this._events.keyboardNav)
            }.call(this), document.body.insertBefore(this.modal, document.body.firstChild), this.opts.footer && this.addFooter())
        }, n.prototype.destroy = function () {
            null !== this.modal && (function () {
                -1 !== this.opts.closeMethods.indexOf("button") && this.modalCloseBtn.removeEventListener("click", this._events.clickCloseBtn), this.modal.removeEventListener("mousedown", this._events.clickOverlay), window.removeEventListener("resize", this._events.resize), document.removeEventListener("keydown", this._events.keyboardNav)
            }.call(this), this.modal.parentNode.removeChild(this.modal), this.modal = null)
        }, n.prototype.open = function () {
            var n = this;
            "function" == typeof n.opts.beforeOpen && n.opts.beforeOpen(), this.modal.style.removeProperty ? this.modal.style.removeProperty("display") : this.modal.style.removeAttribute("display"), this._scrollPosition = window.pageYOffset, document.body.classList.add("tingle-enabled"), document.body.style.top = -this._scrollPosition + "px", this.setStickyFooter(this.opts.stickyFooter), this.modal.classList.add("tingle-modal--visible"), t ? this.modal.addEventListener(t, function e() {
                "function" == typeof n.opts.onOpen && n.opts.onOpen.call(n), n.modal.removeEventListener(t, e, !1)
            }, !1) : "function" == typeof n.opts.onOpen && n.opts.onOpen.call(n), this.checkOverflow()
        }, n.prototype.isOpen = function () {
            return !!this.modal.classList.contains("tingle-modal--visible")
        }, n.prototype.close = function () {
            if ("function" != typeof this.opts.beforeClose || this.opts.beforeClose.call(this)) {
                document.body.classList.remove("tingle-enabled"), window.scrollTo(0, this._scrollPosition), document.body.style.top = null, this.modal.classList.remove("tingle-modal--visible");
                var n = this;
                t ? this.modal.addEventListener(t, function e() {
                    n.modal.removeEventListener(t, e, !1), n.modal.style.display = "none", "function" == typeof n.opts.onClose && n.opts.onClose.call(this)
                }, !1) : (n.modal.style.display = "none", "function" == typeof n.opts.onClose && n.opts.onClose.call(this))
            }
        }, n.prototype.setContent = function (t) {
            "string" == typeof t ? this.modalBoxContent.innerHTML = t : (this.modalBoxContent.innerHTML = "", this.modalBoxContent.appendChild(t))
        }, n.prototype.getContent = function () {
            return this.modalBoxContent
        }, n.prototype.addFooter = function () {
            (function () {
                this.modalBoxFooter = document.createElement("div"), this.modalBoxFooter.classList.add("tingle-modal-box__footer"), this.modalBox.appendChild(this.modalBoxFooter)
            }).call(this)
        }, n.prototype.setFooterContent = function (t) {
            this.modalBoxFooter.innerHTML = t
        }, n.prototype.getFooterContent = function () {
            return this.modalBoxFooter
        }, n.prototype.setStickyFooter = function (t) {
            this.isOverflow() || (t = !1), t ? this.modalBox.contains(this.modalBoxFooter) && (this.modalBox.removeChild(this.modalBoxFooter), this.modal.appendChild(this.modalBoxFooter), this.modalBoxFooter.classList.add("tingle-modal-box__footer--sticky"), e.call(this), this.modalBoxContent.style["padding-bottom"] = this.modalBoxFooter.clientHeight + 20 + "px") : this.modalBoxFooter && (this.modalBox.contains(this.modalBoxFooter) || (this.modal.removeChild(this.modalBoxFooter), this.modalBox.appendChild(this.modalBoxFooter), this.modalBoxFooter.style.width = "auto", this.modalBoxFooter.style.left = "", this.modalBoxContent.style["padding-bottom"] = "", this.modalBoxFooter.classList.remove("tingle-modal-box__footer--sticky")))
        }, n.prototype.addFooterBtn = function (t, n, e) {
            var o = document.createElement("button");
            return o.innerHTML = t, o.addEventListener("click", e), "string" == typeof n && n.length && n.split(" ").forEach(function (t) {
                o.classList.add(t)
            }), this.modalBoxFooter.appendChild(o), o
        }, n.prototype.resize = function () {
            console.warn("Resize is deprecated and will be removed in version 1.0")
        }, n.prototype.isOverflow = function () {
            var t = window.innerHeight;
            return this.modalBox.clientHeight >= t
        }, n.prototype.checkOverflow = function () {
            this.modal.classList.contains("tingle-modal--visible") && (this.isOverflow() ? this.modal.classList.add("tingle-modal--overflow") : this.modal.classList.remove("tingle-modal--overflow"), !this.isOverflow() && this.opts.stickyFooter ? this.setStickyFooter(!1) : this.isOverflow() && this.opts.stickyFooter && (e.call(this), this.setStickyFooter(!0)))
        }, {modal: n}
    }) ? o.call(n, e, n, t) : o) || (t.exports = i)
}, function (t, n, e) {
    "use strict";
    var o, i, r, s, a = e(15), l = e(0), c = e(6), u = e(16), d = e(17), f = e(5), p = e(7), h = e(37), m = e(38),
        v = e(42), b = e(23).set, g = e(45)(), y = e(24), x = e(46), w = e(47), _ = e(48), k = l.TypeError,
        O = l.process, C = O && O.versions, B = C && C.v8 || "", L = l.Promise, E = "process" == u(O), j = function () {
        }, S = i = y.f, M = !!function () {
            try {
                var t = L.resolve(1), n = (t.constructor = {})[e(1)("species")] = function (t) {
                    t(j, j)
                };
                return (E || "function" == typeof PromiseRejectionEvent) && t.then(j) instanceof n && 0 !== B.indexOf("6.6") && -1 === w.indexOf("Chrome/66")
            } catch (t) {
            }
        }(), F = function (t) {
            var n;
            return !(!f(t) || "function" != typeof (n = t.then)) && n
        }, T = function (t, n) {
            if (!t._n) {
                t._n = !0;
                var e = t._c;
                g(function () {
                    for (var o = t._v, i = 1 == t._s, r = 0, s = function (n) {
                        var e, r, s, a = i ? n.ok : n.fail, l = n.resolve, c = n.reject, u = n.domain;
                        try {
                            a ? (i || (2 == t._h && I(t), t._h = 1), !0 === a ? e = o : (u && u.enter(), e = a(o), u && (u.exit(), s = !0)), e === n.promise ? c(k("Promise-chain cycle")) : (r = F(e)) ? r.call(e, l, c) : l(e)) : c(o)
                        } catch (t) {
                            u && !s && u.exit(), c(t)
                        }
                    }; e.length > r;) s(e[r++]);
                    t._c = [], t._n = !1, n && !t._h && P(t)
                })
            }
        }, P = function (t) {
            b.call(l, function () {
                var n, e, o, i = t._v, r = U(t);
                if (r && (n = x(function () {
                    E ? O.emit("unhandledRejection", i, t) : (e = l.onunhandledrejection) ? e({
                        promise: t,
                        reason: i
                    }) : (o = l.console) && o.error && o.error("Unhandled promise rejection", i)
                }), t._h = E || U(t) ? 2 : 1), t._a = void 0, r && n.e) throw n.v
            })
        }, U = function (t) {
            return 1 !== t._h && 0 === (t._a || t._c).length
        }, I = function (t) {
            b.call(l, function () {
                var n;
                E ? O.emit("rejectionHandled", t) : (n = l.onrejectionhandled) && n({promise: t, reason: t._v})
            })
        }, R = function (t) {
            var n = this;
            n._d || (n._d = !0, (n = n._w || n)._v = t, n._s = 2, n._a || (n._a = n._c.slice()), T(n, !0))
        }, z = function (t) {
            var n, e = this;
            if (!e._d) {
                e._d = !0, e = e._w || e;
                try {
                    if (e === t) throw k("Promise can't be resolved itself");
                    (n = F(t)) ? g(function () {
                        var o = {_w: e, _d: !1};
                        try {
                            n.call(t, c(z, o, 1), c(R, o, 1))
                        } catch (t) {
                            R.call(o, t)
                        }
                    }) : (e._v = t, e._s = 1, T(e, !1))
                } catch (t) {
                    R.call({_w: e, _d: !1}, t)
                }
            }
        };
    M || (L = function (t) {
        h(this, L, "Promise", "_h"), p(t), o.call(this);
        try {
            t(c(z, this, 1), c(R, this, 1))
        } catch (t) {
            R.call(this, t)
        }
    }, (o = function (t) {
        this._c = [], this._a = void 0, this._s = 0, this._d = !1, this._v = void 0, this._h = 0, this._n = !1
    }).prototype = e(49)(L.prototype, {
        then: function (t, n) {
            var e = S(v(this, L));
            return e.ok = "function" != typeof t || t, e.fail = "function" == typeof n && n, e.domain = E ? O.domain : void 0, this._c.push(e), this._a && this._a.push(e), this._s && T(this, !1), e.promise
        }, catch: function (t) {
            return this.then(void 0, t)
        }
    }), r = function () {
        var t = new o;
        this.promise = t, this.resolve = c(z, t, 1), this.reject = c(R, t, 1)
    }, y.f = S = function (t) {
        return t === L || t === s ? new r(t) : i(t)
    }), d(d.G + d.W + d.F * !M, {Promise: L}), e(50)(L, "Promise"), e(51)("Promise"), s = e(4).Promise, d(d.S + d.F * !M, "Promise", {
        reject: function (t) {
            var n = S(this);
            return (0, n.reject)(t), n.promise
        }
    }), d(d.S + d.F * (a || !M), "Promise", {
        resolve: function (t) {
            return _(a && this === s ? L : this, t)
        }
    }), d(d.S + d.F * !(M && e(52)(function (t) {
        L.all(t).catch(j)
    })), "Promise", {
        all: function (t) {
            var n = this, e = S(n), o = e.resolve, i = e.reject, r = x(function () {
                var e = [], r = 0, s = 1;
                m(t, !1, function (t) {
                    var a = r++, l = !1;
                    e.push(void 0), s++, n.resolve(t).then(function (t) {
                        l || (l = !0, e[a] = t, --s || o(e))
                    }, i)
                }), --s || o(e)
            });
            return r.e && i(r.v), e.promise
        }, race: function (t) {
            var n = this, e = S(n), o = e.reject, i = x(function () {
                m(t, !1, function (t) {
                    n.resolve(t).then(e.resolve, o)
                })
            });
            return i.e && o(i.v), e.promise
        }
    })
}, function (t, n, e) {
    t.exports = !e(3) && !e(10)(function () {
        return 7 != Object.defineProperty(e(19)("div"), "a", {
            get: function () {
                return 7
            }
        }).a
    })
}, function (t, n, e) {
    var o = e(5);
    t.exports = function (t, n) {
        if (!o(t)) return t;
        var e, i;
        if (n && "function" == typeof (e = t.toString) && !o(i = e.call(t))) return i;
        if ("function" == typeof (e = t.valueOf) && !o(i = e.call(t))) return i;
        if (!n && "function" == typeof (e = t.toString) && !o(i = e.call(t))) return i;
        throw TypeError("Can't convert object to primitive value")
    }
}, function (t, n) {
    t.exports = function (t, n) {
        return {enumerable: !(1 & t), configurable: !(2 & t), writable: !(4 & t), value: n}
    }
}, function (t, n, e) {
    t.exports = e(11)("native-function-to-string", Function.toString)
}, function (t, n) {
    t.exports = function (t, n, e, o) {
        if (!(t instanceof n) || void 0 !== o && o in t) throw TypeError(e + ": incorrect invocation!");
        return t
    }
}, function (t, n, e) {
    var o = e(6), i = e(39), r = e(40), s = e(2), a = e(21), l = e(41), c = {}, u = {};
    (n = t.exports = function (t, n, e, d, f) {
        var p, h, m, v, b = f ? function () {
            return t
        } : l(t), g = o(e, d, n ? 2 : 1), y = 0;
        if ("function" != typeof b) throw TypeError(t + " is not iterable!");
        if (r(b)) {
            for (p = a(t.length); p > y; y++) if ((v = n ? g(s(h = t[y])[0], h[1]) : g(t[y])) === c || v === u) return v
        } else for (m = b.call(t); !(h = m.next()).done;) if ((v = i(m, g, h.value, n)) === c || v === u) return v
    }).BREAK = c, n.RETURN = u
}, function (t, n, e) {
    var o = e(2);
    t.exports = function (t, n, e, i) {
        try {
            return i ? n(o(e)[0], e[1]) : n(e)
        } catch (n) {
            var r = t.return;
            throw void 0 !== r && o(r.call(t)), n
        }
    }
}, function (t, n, e) {
    var o = e(20), i = e(1)("iterator"), r = Array.prototype;
    t.exports = function (t) {
        return void 0 !== t && (o.Array === t || r[i] === t)
    }
}, function (t, n, e) {
    var o = e(16), i = e(1)("iterator"), r = e(20);
    t.exports = e(4).getIteratorMethod = function (t) {
        if (null != t) return t[i] || t["@@iterator"] || r[o(t)]
    }
}, function (t, n, e) {
    var o = e(2), i = e(7), r = e(1)("species");
    t.exports = function (t, n) {
        var e, s = o(t).constructor;
        return void 0 === s || null == (e = o(s)[r]) ? n : i(e)
    }
}, function (t, n) {
    t.exports = function (t, n, e) {
        var o = void 0 === e;
        switch (n.length) {
            case 0:
                return o ? t() : t.call(e);
            case 1:
                return o ? t(n[0]) : t.call(e, n[0]);
            case 2:
                return o ? t(n[0], n[1]) : t.call(e, n[0], n[1]);
            case 3:
                return o ? t(n[0], n[1], n[2]) : t.call(e, n[0], n[1], n[2]);
            case 4:
                return o ? t(n[0], n[1], n[2], n[3]) : t.call(e, n[0], n[1], n[2], n[3])
        }
        return t.apply(e, n)
    }
}, function (t, n, e) {
    var o = e(0).document;
    t.exports = o && o.documentElement
}, function (t, n, e) {
    var o = e(0), i = e(23).set, r = o.MutationObserver || o.WebKitMutationObserver, s = o.process, a = o.Promise,
        l = "process" == e(8)(s);
    t.exports = function () {
        var t, n, e, c = function () {
            var o, i;
            for (l && (o = s.domain) && o.exit(); t;) {
                i = t.fn, t = t.next;
                try {
                    i()
                } catch (o) {
                    throw t ? e() : n = void 0, o
                }
            }
            n = void 0, o && o.enter()
        };
        if (l) e = function () {
            s.nextTick(c)
        }; else if (!r || o.navigator && o.navigator.standalone) if (a && a.resolve) {
            var u = a.resolve(void 0);
            e = function () {
                u.then(c)
            }
        } else e = function () {
            i.call(o, c)
        }; else {
            var d = !0, f = document.createTextNode("");
            new r(c).observe(f, {characterData: !0}), e = function () {
                f.data = d = !d
            }
        }
        return function (o) {
            var i = {fn: o, next: void 0};
            n && (n.next = i), t || (t = i, e()), n = i
        }
    }
}, function (t, n) {
    t.exports = function (t) {
        try {
            return {e: !1, v: t()}
        } catch (t) {
            return {e: !0, v: t}
        }
    }
}, function (t, n, e) {
    var o = e(0).navigator;
    t.exports = o && o.userAgent || ""
}, function (t, n, e) {
    var o = e(2), i = e(5), r = e(24);
    t.exports = function (t, n) {
        if (o(t), i(n) && n.constructor === t) return n;
        var e = r.f(t);
        return (0, e.resolve)(n), e.promise
    }
}, function (t, n, e) {
    var o = e(13);
    t.exports = function (t, n, e) {
        for (var i in n) o(t, i, n[i], e);
        return t
    }
}, function (t, n, e) {
    var o = e(9).f, i = e(14), r = e(1)("toStringTag");
    t.exports = function (t, n, e) {
        t && !i(t = e ? t : t.prototype, r) && o(t, r, {configurable: !0, value: n})
    }
}, function (t, n, e) {
    "use strict";
    var o = e(0), i = e(9), r = e(3), s = e(1)("species");
    t.exports = function (t) {
        var n = o[t];
        r && n && !n[s] && i.f(n, s, {
            configurable: !0, get: function () {
                return this
            }
        })
    }
}, function (t, n, e) {
    var o = e(1)("iterator"), i = !1;
    try {
        var r = [7][o]();
        r.return = function () {
            i = !0
        }, Array.from(r, function () {
            throw 2
        })
    } catch (t) {
    }
    t.exports = function (t, n) {
        if (!n && !i) return !1;
        var e = !1;
        try {
            var r = [7], s = r[o]();
            s.next = function () {
                return {done: e = !0}
            }, r[o] = function () {
                return s
            }, t(r)
        } catch (t) {
        }
        return e
    }
}, function (t, n, e) {
    var o = e(17);
    o(o.S + o.F, "Object", {assign: e(54)})
}, function (t, n, e) {
    "use strict";
    var o = e(3), i = e(55), r = e(61), s = e(62), a = e(63), l = e(26), c = Object.assign;
    t.exports = !c || e(10)(function () {
        var t = {}, n = {}, e = Symbol(), o = "abcdefghijklmnopqrst";
        return t[e] = 7, o.split("").forEach(function (t) {
            n[t] = t
        }), 7 != c({}, t)[e] || Object.keys(c({}, n)).join("") != o
    }) ? function (t, n) {
        for (var e = a(t), c = arguments.length, u = 1, d = r.f, f = s.f; c > u;) for (var p, h = l(arguments[u++]), m = d ? i(h).concat(d(h)) : i(h), v = m.length, b = 0; v > b;) p = m[b++], o && !f.call(h, p) || (e[p] = h[p]);
        return e
    } : c
}, function (t, n, e) {
    var o = e(56), i = e(60);
    t.exports = Object.keys || function (t) {
        return o(t, i)
    }
}, function (t, n, e) {
    var o = e(14), i = e(25), r = e(57)(!1), s = e(59)("IE_PROTO");
    t.exports = function (t, n) {
        var e, a = i(t), l = 0, c = [];
        for (e in a) e != s && o(a, e) && c.push(e);
        for (; n.length > l;) o(a, e = n[l++]) && (~r(c, e) || c.push(e));
        return c
    }
}, function (t, n, e) {
    var o = e(25), i = e(21), r = e(58);
    t.exports = function (t) {
        return function (n, e, s) {
            var a, l = o(n), c = i(l.length), u = r(s, c);
            if (t && e != e) {
                for (; c > u;) if ((a = l[u++]) != a) return !0
            } else for (; c > u; u++) if ((t || u in l) && l[u] === e) return t || u || 0;
            return !t && -1
        }
    }
}, function (t, n, e) {
    var o = e(22), i = Math.max, r = Math.min;
    t.exports = function (t, n) {
        return (t = o(t)) < 0 ? i(t + n, 0) : r(t, n)
    }
}, function (t, n, e) {
    var o = e(11)("keys"), i = e(12);
    t.exports = function (t) {
        return o[t] || (o[t] = i(t))
    }
}, function (t, n) {
    t.exports = "constructor,hasOwnProperty,isPrototypeOf,propertyIsEnumerable,toLocaleString,toString,valueOf".split(",")
}, function (t, n) {
    n.f = Object.getOwnPropertySymbols
}, function (t, n) {
    n.f = {}.propertyIsEnumerable
}, function (t, n, e) {
    var o = e(27);
    t.exports = function (t) {
        return Object(o(t))
    }
}, function (t, n, e) {
    "use strict";
    e(65);
    var o = e(2), i = e(28), r = e(3), s = /./.toString, a = function (t) {
        e(13)(RegExp.prototype, "toString", t, !0)
    };
    e(10)(function () {
        return "/a/b" != s.call({source: "a", flags: "b"})
    }) ? a(function () {
        var t = o(this);
        return "/".concat(t.source, "/", "flags" in t ? t.flags : !r && t instanceof RegExp ? i.call(t) : void 0)
    }) : "toString" != s.name && a(function () {
        return s.call(this)
    })
}, function (t, n, e) {
    e(3) && "g" != /./g.flags && e(9).f(RegExp.prototype, "flags", {configurable: !0, get: e(28)})
}, function (t, n, e) {
    var o = e(67);
    "string" == typeof o && (o = [[t.i, o, ""]]);
    var i = {hmr: !0, transform: void 0, insertInto: void 0};
    e(30)(o, i);
    o.locals && (t.exports = o.locals)
}, function (t, n, e) {
    (t.exports = e(29)(!1)).push([t.i, '/* ----------------------------------------------------------- */\n/* == tingle v0.13.2 */\n/* ----------------------------------------------------------- */\n\n.tingle-modal * {\n  box-sizing: border-box;\n}\n\n.tingle-modal {\n  position: fixed;\n  top: 0;\n  right: 0;\n  bottom: 0;\n  left: 0;\n  z-index: 1000;\n  display: -webkit-box;\n  display: -ms-flexbox;\n  display: flex;\n  visibility: hidden;\n  -webkit-box-orient: vertical;\n  -webkit-box-direction: normal;\n  -ms-flex-direction: column;\n  flex-direction: column;\n  -webkit-box-align: center;\n  -ms-flex-align: center;\n  align-items: center;\n  overflow: hidden;\n  -webkit-overflow-scrolling: touch;\n  background: rgba(0, 0, 0, .8);\n  opacity: 0;\n  cursor: pointer;\n  -webkit-transition: -webkit-transform .2s ease;\n  transition: -webkit-transform .2s ease;\n  transition: transform .2s ease;\n  transition: transform .2s ease, -webkit-transform .2s ease;\n}\n\n/* confirm and alerts\n-------------------------------------------------------------- */\n\n.tingle-modal--confirm .tingle-modal-box {\n  text-align: center;\n}\n\n/* modal\n-------------------------------------------------------------- */\n\n.tingle-modal--noOverlayClose {\n  cursor: default;\n}\n\n.tingle-modal--noClose .tingle-modal__close {\n  display: none;\n}\n\n.tingle-modal__close {\n  position: fixed;\n  top: 10px;\n  right: 28px;\n  z-index: 1000;\n  padding: 0;\n  width: 5rem;\n  height: 5rem;\n  border: none;\n  background-color: transparent;\n  color: #f0f0f0;\n  font-size: 6rem;\n  font-family: monospace;\n  line-height: 1;\n  cursor: pointer;\n  -webkit-transition: color .3s ease;\n  transition: color .3s ease;\n}\n\n.tingle-modal__closeLabel {\n  display: none;\n}\n\n.tingle-modal__close:hover {\n  color: #fff;\n}\n\n.tingle-modal-box {\n  position: relative;\n  -ms-flex-negative: 0;\n  flex-shrink: 0;\n  margin-top: auto;\n  margin-bottom: auto;\n  width: 60%;\n  border-radius: 4px;\n  background: #fff;\n  opacity: 1;\n  cursor: auto;\n  -webkit-transition: -webkit-transform .3s cubic-bezier(.175, .885, .32, 1.275);\n  transition: -webkit-transform .3s cubic-bezier(.175, .885, .32, 1.275);\n  transition: transform .3s cubic-bezier(.175, .885, .32, 1.275);\n  transition: transform .3s cubic-bezier(.175, .885, .32, 1.275), -webkit-transform .3s cubic-bezier(.175, .885, .32, 1.275);\n  -webkit-transform: scale(.8);\n  -ms-transform: scale(.8);\n  transform: scale(.8);\n}\n\n.tingle-modal-box__content {\n  padding: 3rem 3rem;\n}\n\n.tingle-modal-box__footer {\n  padding: 1.5rem 2rem;\n  width: auto;\n  border-bottom-right-radius: 4px;\n  border-bottom-left-radius: 4px;\n  background-color: #f5f5f5;\n  cursor: auto;\n}\n\n.tingle-modal-box__footer::after {\n  display: table;\n  clear: both;\n  content: "";\n}\n\n.tingle-modal-box__footer--sticky {\n  position: fixed;\n  bottom: -200px; /* TODO : find a better way */\n  z-index: 10001;\n  opacity: 1;\n  -webkit-transition: bottom .3s ease-in-out .3s;\n  transition: bottom .3s ease-in-out .3s;\n}\n\n/* state\n-------------------------------------------------------------- */\n\n.tingle-enabled {\n  position: fixed;\n  overflow: hidden;\n  left: 0;\n  right: 0;\n}\n\n.tingle-modal--visible .tingle-modal-box__footer {\n  bottom: 0;\n}\n\n.tingle-enabled .tingle-content-wrapper {\n  -webkit-filter: blur(8px);\n  filter: blur(8px);\n}\n\n.tingle-modal--visible {\n  visibility: visible;\n  opacity: 1;\n}\n\n.tingle-modal--visible .tingle-modal-box {\n  -webkit-transform: scale(1);\n  -ms-transform: scale(1);\n  transform: scale(1);\n}\n\n.tingle-modal--overflow {\n  overflow-y: scroll;\n  padding-top: 8vh;\n}\n\n/* btn\n-------------------------------------------------------------- */\n\n.tingle-btn {\n  display: inline-block;\n  margin: 0 .5rem;\n  padding: 1rem 2rem;\n  border: none;\n  background-color: grey;\n  box-shadow: none;\n  color: #fff;\n  vertical-align: middle;\n  text-decoration: none;\n  font-size: inherit;\n  font-family: inherit;\n  line-height: normal;\n  cursor: pointer;\n  -webkit-transition: background-color .4s ease;\n  transition: background-color .4s ease;\n}\n\n.tingle-btn--primary {\n  background-color: #3498db;\n}\n\n.tingle-btn--danger {\n  background-color: #e74c3c;\n}\n\n.tingle-btn--default {\n  background-color: #34495e;\n}\n\n.tingle-btn--pull-left {\n  float: left;\n}\n\n.tingle-btn--pull-right {\n  float: right;\n}\n\n/* responsive\n-------------------------------------------------------------- */\n\n@media (max-width : 540px) {\n  .tingle-modal {\n    top: 0px;\n    display: block;\n    padding-top: 60px;\n    width: 100%;\n  }\n\n  .tingle-modal-box {\n    width: auto;\n    border-radius: 0;\n  }\n\n  .tingle-modal-box__content {\n    overflow-y: scroll;\n  }\n\n  .tingle-modal--noClose {\n    top: 0;\n  }\n\n  .tingle-modal--noOverlayClose {\n    padding-top: 0;\n  }\n\n  .tingle-modal-box__footer .tingle-btn {\n    display: block;\n    float: none;\n    margin-bottom: 1rem;\n    width: 100%;\n  }\n\n  .tingle-modal__close {\n    top: 0;\n    right: 0;\n    left: 0;\n    display: block;\n    width: 100%;\n    height: 60px;\n    border: none;\n    background-color: #2c3e50;\n    box-shadow: none;\n    color: #fff;\n    line-height: 55px;\n  }\n\n  .tingle-modal__closeLabel {\n    display: inline-block;\n    vertical-align: middle;\n    font-size: 1.5rem;\n    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;\n  }\n\n  .tingle-modal__closeIcon {\n    display: inline-block;\n    margin-right: .5rem;\n    vertical-align: middle;\n    font-size: 4rem;\n  }\n}\n\n@supports ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {\n  .tingle-modal {\n    -webkit-backdrop-filter: blur(20px);\n    backdrop-filter: blur(20px);\n  }\n\n  @media (max-width : 540px) {\n    .tingle-modal {\n      -webkit-backdrop-filter: blur(8px);\n      backdrop-filter: blur(8px);\n    }\n  }\n\n  .tingle-enabled .tingle-content-wrapper {\n    -webkit-filter: none;\n    filter: none;\n  }\n}\n', ""])
}, function (t, n) {
    t.exports = function (t) {
        var n = "undefined" != typeof window && window.location;
        if (!n) throw new Error("fixUrls requires window.location");
        if (!t || "string" != typeof t) return t;
        var e = n.protocol + "//" + n.host, o = e + n.pathname.replace(/\/[^\/]*$/, "/");
        return t.replace(/url\s*\(((?:[^)(]|\((?:[^)(]+|\([^)(]*\))*\))*)\)/gi, function (t, n) {
            var i, r = n.trim().replace(/^"(.*)"$/, function (t, n) {
                return n
            }).replace(/^'(.*)'$/, function (t, n) {
                return n
            });
            return /^(#|data:|http:\/\/|https:\/\/|file:\/\/\/|\s*$)/i.test(r) ? t : (i = 0 === r.indexOf("//") ? r : 0 === r.indexOf("/") ? e + r : o + r.replace(/^\.\//, ""), "url(" + JSON.stringify(i) + ")")
        })
    }
}, function (t, n, e) {
    var o = e(70);
    "string" == typeof o && (o = [[t.i, o, ""]]);
    var i = {hmr: !0, transform: void 0, insertInto: void 0};
    e(30)(o, i);
    o.locals && (t.exports = o.locals)
}, function (t, n, e) {
    (t.exports = e(29)(!1)).push([t.i, '.tingle-modal {\n    z-index: 2000;\n}\n\n.tingle-modal-box__content {\n    padding: 0;\n    margin: 0;\n}\n\n#framePopup {\n    transition: width 150ms ease-in-out, height 150ms ease-in-out;\n}\n\n.tingle-modal-box {\n    width: auto;\n}\n\n.tingle-modal--visible {\n    z-index: 99999;\n}\n\n.powered-by-holder {\n    position: absolute;\n    left: 20px;\n    right: 20px;\n    bottom: 20px;\n    font-family: "Tahoma", "Open Sans", "Trebuchet MS", Arial, serif;\n    display: flex;\n    flex-direction: column;\n    align-items: start;\n    text-decoration: none;\n    z-index: -100;\n}\n\n.powered-by-text {\n    font-size: 11px;\n    color: #eee;\n    padding: 4px 8px;\n    border-radius: 5px;\n    opacity: 0.65;\n    border: 1px solid rgba(255, 255, 255, 0.75);\n}\n\n.powered-by-text:hover {\n    color: yellow;\n}\n\n.powered-by-text b {\n    font-size: 16px;\n}\n\n@media (max-width: 768px) {\n    .tingle-modal-box {\n        margin-top: 60px !important;\n    }\n\n    .powered-by-holder {\n        align-items: center;\n    }\n}', ""])
}, function (t, n, e) {
    "use strict";
    e.r(n);
    e(32), e(53);

    function o(t, n) {
        for (var e = 0; e < n.length; e++) {
            var o = n[e];
            o.enumerable = o.enumerable || !1, o.configurable = !0, "value" in o && (o.writable = !0), Object.defineProperty(t, o.key, o)
        }
    }

    e(64);
    var i = {};
    i.debug = /(development|debug)/i.test("production"), i.local = "undefined" != typeof window && /uploader\.host/.test(window.location.host), i.domain = i.debug || i.local ? "uploader.host" : "uploader.win", i.host = "www." + i.domain + (i.debug ? ":8080" : ""), i.url = "https://" + i.host, i.instaSignup = i.local ? "https://www.instasignup.host:9999/modal.js" : "https://www.instasignup.com/js/latest/app.js", i.uploaderWindow = i.local ? "https://www.uploader.host:8080/modal.js" : "https://www.uploader.win/js/latest/app.js";
    var r = i, s = e(31), a = e.n(s), l = (e(66), e(69), function () {
        window.addEventListener("message", function (t) {
            t.origin === r.url && t.data.type && window.dispatchEvent(new CustomEvent(t.data.eventName, {detail: t.data}))
        }, !1)
    }), c = function (t) {
        var n = arguments.length > 1 && void 0 !== arguments[1] ? arguments[1] : "popup",
            e = arguments.length > 2 && void 0 !== arguments[2] ? arguments[2] : {};
        return new Promise(function (o) {
            var i = Math.random().toString(36).substr(2).slice(-8), s = "upload-event-" + i, l = "upload-frame-" + i,
                c = {
                    close: function () {
                        return 1
                    }
                }, u = function t(e) {
                    var i = e.detail;
                    "resize" === i.type && "popup" === n ? document.getElementById(l).style.height = Math.min(Math.max(window.innerHeight - 20, 440), i.height + 10) + "px" : "success" === i.type && (c.close(), o(i.data), window.removeEventListener(s, t))
                }, d = e.app || "app.html", f = e.width || "100%", p = e.height || "500",
                h = r.url + "/" + d + (-1 === d.indexOf("?") ? "?" : "&") + "apiKey=" + encodeURIComponent(t) + "&event=" + s + (e.dragdrop ? "&dragdrop=true" : "");
            if (e.params) for (var m in e.params) h = h + "&" + m + "=" + encodeURIComponent(e.params[m]);
            var v = '<iframe src="' + h + "#/" + (e.route || "") + '" width="' + f + '" height="' + p + '" id="' + l + '" class="tingle-iframe" frameborder="0" scrolling="no" style="max-width: 100%; display:block;" allow="microphone; camera"></iframe>';
            if ("popup" === n) {
                var b = document.getElementById("powered-by");
                c = new a.a.modal({
                    footer: !1, cssClass: ["no-padding"], onClose: function () {
                        return u({detail: {type: "success", data: !1}})
                    }, closeMethods: !0 === e.modal ? [] : e.closeButtons || ["button"]
                }), b || (b = document.createElement("div"), c.modal.insertBefore(b, c.modal.firstChild)), b.innerHTML = '<a class="powered-by-holder" href="//www.uploader.win" target="_blank"><div class="powered-by-text">Powered by <b>Uploader.win</b></div></a>', c.setContent(v), c.open()
            } else if ("iframe" === n) {
                var g = e.id, y = document.getElementById(g);
                if (y) {
                    y.style.minHeight = x + "px", y.style.margin = y.style.padding = 0;
                    var x = y.offsetHeight;
                    y.innerHTML = v
                }
            }
            window.addEventListener(s, u)
        })
    }, u = function () {
        function t() {
            var n, e, o, i = arguments.length > 0 && void 0 !== arguments[0] ? arguments[0] : "demo",
                r = arguments.length > 1 && void 0 !== arguments[1] ? arguments[1] : null;
            !function (t, n) {
                if (!(t instanceof n)) throw new TypeError("Cannot call a class as a function")
            }(this, t), o = "", (e = "apiKey") in (n = this) ? Object.defineProperty(n, e, {
                value: o,
                enumerable: !0,
                configurable: !0,
                writable: !0
            }) : n[e] = o, this.apiKey = i, this.params = r, l()
        }

        var n, e, i;
        return n = t, (e = [{
            key: "open", value: function () {
                var t = arguments.length > 0 && void 0 !== arguments[0] && arguments[0],
                    n = arguments.length > 1 && void 0 !== arguments[1] ? arguments[1] : "";
                return c(this.apiKey, "popup", Object.assign({
                    modal: t,
                    width: 690,
                    params: this.params
                }, n ? {route: n} : {}))
            }
        }, {
            key: "dragdrop", value: function (t) {
                return c(this.apiKey, "iframe", {id: t, height: 200, dragdrop: !0, params: this.params})
            }
        }, {
            key: "embed", value: function (t) {
                var n = arguments.length > 1 && void 0 !== arguments[1] ? arguments[1] : "";
                return c(this.apiKey, "iframe", Object.assign({id: t, params: this.params}, n ? {route: n} : {}))
            }
        }]) && o(n.prototype, e), i && o(n, i), t
    }();
    window.UploaderWindow = window.UploaderWindow || u
}]);

function upload_file(selector, name_selector = false, multiple = false) {
    new UploaderWindow("<%= ENV['uploader'] %>").open().then(urls => {
        if (urls !== false) {
            let files_path;
            if (multiple) {
                files_path = urls.map(function (url) {
                    return url.url
                }).join(',')
              if (name_selector) {
                $(name_selector).html("<span>" + urls.map(function (url) {return url.name}).join(',') + "</span><hr/>");
              }
            } else {
                let upload = urls[0];
                if (name_selector) {
                    $(name_selector).html("<span>" + upload.name + "</span><hr/>");
                }
                files_path = upload.url
            }
            $(selector).val(files_path);
            console.log(files_path);
        }
});
    $(".powered-by-holder").remove();
    $('.tingle-modal__closeIcon').text('x');
}

function upload_file_ajax(callback_function, id=false) {
    new UploaderWindow("<%= ENV['uploader'] %>").open().then(urls => {
    if (urls !== false) {
        let upload = urls[0];
        if (id) {
            callback_function(upload.url, upload.type, id);
        } else {
            callback_function(upload.url, upload.type);
        }
        console.log(upload.url);
        // jQuery("<input>", { type: "text", name: "url", value: upload.url}).insertBefore("#submit");
    }
});
    $(".powered-by-holder").remove();
    $('.tingle-modal__closeIcon').text('x');
}
function upload_multi_file_ajax(callback_function, id=false,multiple=false) {
    new UploaderWindow("<%= ENV['uploader'] %>").open().then(urls => {
    if (urls !== false) {

        let files_path;
        if (multiple) {
          files_path = urls.map(function (url) {
            return url.url
          }).join(',')
        } else {
          let upload = urls[0];
          files_path = upload.url
        }
        if (id) {
            callback_function(files_path,id);
        } else {
            callback_function(files_path);
        }
    }
});
    $(".powered-by-holder").remove();
    $('.tingle-modal__closeIcon').text('x');
}
