#addToChatModal.modal{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-body
        .card
          .card-body
            .card-subtitle
              Add To Chat
            .p-4
              %p
                TODO
            .card-subtitle.mt-4

