.alert.alert-dismissible{style: "display: none;", data: { dynamic_flash: 'true' }}
  %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} ×
  %p{ data:{ alert_message: 'true' }}

