.row.multi-field-container{style: "padding: 0px 15px 15px 15px;"}
  .row
    .col-sm-3
      .form-group
        %p Name
        = f.text_field :first_name,placeholder: "First Name",class: 'form-control input'

    