<% if company_jobs.present? %>
  <% company_jobs.each do |job| %>
    <% if job&.listing_type.present? && job&.listing_type == "Blog" %>
      <%= render 'webflow_feed_article_blog', job: job %>
    <% elsif job&.listing_type.present? && job&.listing_type == "Question" %>
      <%= render 'webflow_feed_article_question', job: job %>
    <% elsif job&.listing_type.present? && (job&.listing_type == "Training" || job&.listing_type == "Service" || job&.listing_type == "Product" ) %>
      <%= render 'webflow_feed_article_other', job: job %>
    <% end %>
  <% end %>
<% else %>
   No data available
<% end %>

<% if company_jobs.present? %>
  <div class="mt-3">
    <%= digg_pagination(company_jobs, class: "pagination ")%>
  </div>
<% end %>
