-if params[:status] == 'true'
  $('.modals').empty().append("#{ j render('partials/job_application_modal' , job: @job , job_application: @job_application )}");
  $('#job-apply-#{@job.id }').modal('toggle');
-else
  $('.modals').empty().append(("#{ j render('static/candidates/partials/form')}"));
  $('#new-candidate').on('shown.bs.modal', function(){
  var buttons = $("[data-toggler=true]"),
  hideShowToggler = new HideShowToggler(buttons);

  hideShowToggler.init();
  }).modal('show');


var element = $('#accept-filepiker');

$( ".file-pick" ).on('click',function() {

$('.fp__overlay').css({'z-index':'99999'});
});
var reqelement = $('#req-accept-filepiker');
$( ".req-file-pick" ).on('click',function() {
$(".fp__overlay").css({'z-index':'99999'});
});


$("#candidate_save").click(function() {
var applicant_ans  = $("#" + "#{j @id.to_s}")

if(!applicant_ans.val() && applicant_ans.attr('data-required') == "true") {
alert("You must need to add applicant ans attachment.");
return false;
}
var requiredCheckboxes = $(':checkbox[required]');
requiredCheckboxes.change(function(){
if(requiredCheckboxes.is(':checked')) {
requiredCheckboxes.removeAttr('required');
} else {
requiredCheckboxes.attr('required', 'required');
}
});
});