<section class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <%= render 'static/shared/webflow_header' %>
      <div class="col-12 content-main">
        <div class="tab-content pt-4">
          <div class="tab-pane fade show active">
            <div class="row">
              <div class="col-12 col-xl-9 feed-main">
              </div>
              <%= render 'static/shared/webflow_sidebar_right' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= javascript_include_tag 'shared/hide_show_toggler'%>
<script>
      $(".openbtn").click(function () {
          $(".side-wrapper").toggleClass("side-active")
      });
</script>
<style type="text/css">
  .bg-transparent{
    background: transparent !important;
    box-shadow: none !important;
  }
  .txt-black a{
    color: #2A2C34 !important;
  }

  .f-mon-bol a{
    color: #fff !important;
  }
  .media .circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    padding: 5px;
    text-align: center;
    background: gray;
    display: inline-block;
  }

  .log-prof .circle {
    width: 50px;
    height: 37px;
    border-radius: 50%;
    font-size: 20px;
    color: gray;
    padding: 5px;
    text-align: center;
    display: inline-block;
  }
  .chat_img a {
    color: #fff!important;
  }
</style>
