<section class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <%= render 'static/shared/webflow_header' %>
      <div class="col-12 content-main">
        <div class="tab-content">
          <!-- FEED -->
          <div class="tab-pane fade show active" >
            <div class="row">
              <div class="col-12 col-xl-9 feed-main">

                <!-- .webflow_feed_header -->
                <%= render '/static/shared/webflow_feed_header' %>
                <!-- /.webflow_feed_header -->

                <div id="static_feeds" class="static-feeds">
                  <%= render partial: 'load_feed_jobs', locals: { company_jobs: @company_jobs } %>
                </div>
              </div>
              <%= render 'static/shared/webflow_sidebar_right' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
