- if flash[:errors].present?
  - flash[:errors].each do |e|
    flash_alert('#D04B2B',"#{e}");
- if flash[:success].present?
  $("#job_invitation_recipient_id").val($("#job_invitation_recipient_id option:first").val());
  flash_alert('#739E73',"#{flash[:success]}");