.content-i
  .content-box
    .row
      .col-sm-12
        .element-wrapper
          .element-box-tp
            .controls-above-table
              %ul#myTab1.nav.nav-tabs.pb-1
                %li
                  %a{"data-toggle" => "tab", :href => "#tab-r1",class: " active nav-link cumstom_nav-tab display-flex",id: 'sent_job_active'}
                    %span.badge.bg-color-blue.txt-color-white= @sent_job_invitations.count
                    Sent Invitations
                %li
                  %a{"data-toggle" => "tab", :href => "#tab-r2",class: "nav-link cumstom_nav-tab display-flex",id: 'receive_job_active'}
                    %span.badge.bg-color-blueDark.txt-color-white= @received_job_invitations.count
                    Received Invitations
                .col-md-12
                  .tab-content
                    #tab-r1.tab-pane.active
                      .tab-content.padding-10
                        #is-all.tab-pane.fade.active.in
                          = render 'company/job_invitations/partials/invitation_table' , data: @sent_job_invitations
                    #tab-r2.tab-pane
                      .tab-content.padding-10
                        #isall.tab-pane.fade.active.in
                          = render 'company/job_invitations/partials/receive_invitation_table' , data: @received_job_invitations

- content_for :scripts do
  :javascript
    $(document).ready(function() {
      $( ".file-pick" ).on('click',function() {
      $('.fp__overlay').css({'z-index':'99999'})});
      pageSetUp();
      default_active_nav('.ln-6');
    });
