.collaborators
  .mini_chat_users.text-left
    - approvals.sample(4).each do |approval|
      .avatar
        %img{:alt => "", :src => "#{approval.user.photo}",title: approval.user.full_name}/
    - if approvals.count > 4
      .more
        = "+ #{(approvals.count-4).abs} more"
