%body
  %section#widget-grid
    .row
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12.sortable-grid.ui-sortable
        .col-sm-6.col-xs-12.hidden-xs
        .toolbar
          .text-right
            -#= link_to 'NEW',new_contract_path ,class: 'btn btn-success btn-md pull-right header-btn '
        .table-responsive
          %table#company-contracts-datatable.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
            %thead
              %tr
                %th Id
                %th Title
                %th Status
                %th Last Updated
                %th Modified By
                %th Modification
            %tbody
              - data.each do |activty|
                %tr
                  %td=link_to "#{activty.trackable.try(:number)} Contract" ,contract_path(activty.trackable)
                  %td=activty.trackable.try(:title)
                  %td{style: "color: #EFA544"}=activty.trackable.try(:status).capitalize
                  %td{style: "color: #1AAE9F"}= "#{time_ago_in_words(activty.trackable.try(:updated_at))} ago"
                  %td
                    =image_tag(activty.owner.photo, class: 'data-table-image mr-1').html_safe
                    =do_ellipsis(activty.owner.full_name.capitalize,15).html_safe
                  %td Updated terms & conditions for contract
.mt-3
  = digg_pagination(data, "activity")