
%body
  %section#widget-grid
    .row
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12.sortable-grid.ui-sortable
        #wid-id-1.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable{"data-widget-editbutton" => "false", :role => "widget"}
          %header{:role => "heading"}
            %span.widget-icon
              %i.fa.fa-table
            %h2.text-white Contracts Activities
          / widget div
          %div{:role => "content"}
            .jarviswidget-editbox
            .widget-body.no-padding
              %table#datatable_fixed_column.table.table-striped.table-bordered.dataTable.no-footer{"aria-describedby" => "datatable_fixed_column_info", :role => "grid", :style => "width: 100%;", :width => "100%"}
                %thead
                  %tr{:role => "row"}
                    %th Id
                    %th Title
                    %th params
                    %th owner
                    %th timestamp
                %tbody
                  - data.each do |activty|
                    %tr
                      %td=link_to activty.trackable.try(:number) ,contract_path(activty.trackable)
                      %td=activty.trackable.try(:title)
                      %td=activty.parameters["obj"].reject{|a| a=="updated_at"} if activty.parameters["obj"]
                      %td=activty.owner.try(:full_name)
                      %td= time_ago_in_words(activty.created_at) +" ago."
= digg_pagination(data)