.contract-fields_wrapper.mt-4
  .text-center.p-2
    .onboarding-content.with-gradient
      %h4.onboarding-title Contract Completed Successfuly
      .onboarding-text= "These changes are not stored yet! Please clic on the <strong>Finish</strong> button to store the contract. You can also update the contract by going through the previous button below.".html_safe
