%fieldset
  = f.fields_for :job do |j|
    .form-group
      %label.col-md-2.control-label
        Job Title
        %sup.text-danger *
      .col-md-10
        = j.text_field :title , class: 'form-control' , placeholder: 'Job ' , required: true
    .form-group
      %label.col-md-2.control-label  Company
      .col-md-10
        = select_tag 'contract[contractable_id]', options_for_select(current_company.invited_companies.collect { |c|[c.invited_company.name, c.invited_company.id] })  , class: "form-control"
