.modal{id: "my_documents_#{document_sign.id}"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4#myModalLabel.modal-title
          %strong Drive
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", style: "margin: -3rem -1rem -1rem auto;"}
          ×
      .modal-body
        .legal_documents
          .table-responsive
            %table#dataTable.table.text-center.table-bordered.table-lg.table-v2.table-striped
              %thead
                %tr{:role => "row"}
                  %th Document name
                  %th Action
              %tbody 
                - legal_docs.each do |doc|
                  %tr.even{:role => "row"}
                  %td= doc.title.capitalize
                  %td=link_to :Upload , candidate_document_sign_upload_document_path(document_sign_id: document_sign.id,legal_doc_id: doc.id )
