.modal{id:"contacts-groups-modal"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          %strong= "Manage Groups"
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
      .modal-body.no-padding
        = render 'company/companies/partials/assign_groups_to_contacts_form'