span.pre.slick-arrow  {
  position: absolute;
  top: 350px;
  left: 357px;
  display: block;
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  font-weight: normal;
  margin-left: 60px;
}
span.next.slick-arrow  {
  position:absolute;
  top:350px;
  left:7px;
  z-index: 999;
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  font-weight: normal;
}
span.icon-feather-x-circle{
}
.close_slick{
  position: relative;
  left: 256px;
  font-size: 13px;
  top:4px;
}
.popup-backgroud{
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, .4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}
.popup-container{
  background-color: #fff;
  width: 480px;
  height: 400px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999;
  border-radius: 5px;
  transform: translate(-50%,-50%);
}
#resume_on_slick{
  height: 255px;
  overflow-y: auto;
  overflow-x: hidden;
}

.slick_header.container h5{
  width: 178px;
}
