%body.bg_white
  .container-fluid.bg_white
    .row{style: "padding: 0px 15px 15px 15px;"}
      .form-group.w-100
        .row
          .col-md-12
            .form-group.candidate-association
            .col-md-12{:style=>"margin-top: 25px;"}
              .form-group
                .row
                  .col-md-12
                    %p Import Contacts using
                .row
                  .col-md-1
                    = link_to 'Gmail', "contacts/gmail", class: 'btn btn-md btn-primary mr-bottom-10'
                  .col-md-1
                    = link_to 'Yahoo', 'contacts/yahoo', class: 'btn btn-md btn-primary mr-bottom-10'
                  .col-md-1
                    = link_to 'Outlook', 'contacts/outlook', class: 'btn btn-md btn-primary mr-bottom-10'
                  .col-md-1
                    = link_to 'Facebook', 'contacts/facebook', class: 'btn btn-md btn-primary mr-bottom-10'
