.float{
    /*float: right;*/
}
.box{
    /*min-height: 635px;*/
    margin-top: 25px !important;
    margin-bottom: 20px !important;
}
.body-background{
    background-image: linear-gradient(to bottom right, #D7BBEA, #65A8F1);
}
.error{
    color: red;
    float: left;
}
.alert-error{
    color: #1D2026;
    background-color: #F76523;
    border-color: #bce8f1;
}
.icon_color{
    color: #334152 !important;
}
.minumum-width{
    min-width: 200px;
}
.field-group{
    width: 122%;
}
.field-group input{
    border-radius: 4px !important;
}

.body-companies-new {
  .auth-box-w {
    max-width: 800px;

    .logo-w {
      padding: 20px;
    }
  }

  .companies-new--header,
  .companies-new--subheader {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #user_email {
    max-width: 300px;
  }

  .companies-new--row {
    display: flex;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  .companies-new--column {
    padding: 20px;
    flex: 50%;
  }
}


.switch {
  position: relative;
  display: inline-block;
    width: 48px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  margin-bottom: 0px;

}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch_label
{display:flex;
  align-items: center;}

.switch_label_txt{
  font-size: 10px;
  margin-left: 12px;
}