<div class="support-ticket-content">
  <div class="support-ticket-content-header"><h3 class="ticket-header"><%= notification&.title.capitalize %></h3>
    <a class="back-to-index" href="#"><i class="os-icon os-icon-arrow-left5"></i><span>Back</span></a>
    <a class="show-ticket-info" href="#"><span>Show Details</span><i class="os-icon os-icon-documents-03"></i></a>
  </div>
  <div class="ticket-thread">
    <div class="ticket-reply">
      <div class="ticket-reply-info">
        <a class="author with-avatar" href="#"><img alt="" src="img/avatar1.jpg"><span>John Mayers</span></a><span class="info-data"><span class="label">replied on</span><span class="value"><%= notification&.created_at.to_formatted_s(:long) %></span></span>
        <div class="actions" href="#"><i class="os-icon os-icon-ui-46"></i>
          <div class="actions-list">
            <a href="#"><i class="os-icon os-icon-ui-49"></i><span>Edit</span></a>
            <a href="#"><i class="os-icon os-icon-ui-09"></i><span>Mark Private</span></a>
            <a href="#"><i class="os-icon os-icon-ui-03"></i><span>Favorite</span></a>
            <a class="danger" href="#"><i class="os-icon os-icon-ui-15"></i><span>Delete</span></a>
          </div>
        </div>
      </div>
      <div class="ticket-reply-content">
        <%= notification&.message.html_safe %>
      </div>
      <!--      <div class="ticket-attachments">-->
      <!--        <a class="attachment" href="#"><i class="os-icon os-icon-ui-51"></i><span>Bug Report.xml</span></a><a class="attachment" href="#"><i class="os-icon os-icon-documents-07"></i><span>Sytem Information.txt</span></a>-->
      <!--      </div>-->
    </div>
  </div>
</div>
