// Place all the styles related to the company/contracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contract-fields_wrapper{
  border: 2px solid #b6bcbf;
  padding: 25px;
}

.cumstom_nav-tab{
  border: none !important;
  background-color: transparent !important;
}

.cumstom_nav-tab .active {
  border: none !important;
}
.select2-selection__arrow b:before, .select2-container .select2-choice .select2-arrow b:before{
  content: none !important;
}
.select2-selection__arrow{
  background: none !important;
  background-color: transparent !important;
  border: none !important;
  margin-top: 5px;
}

.wizard-action{
  background: no-repeat;
  margin: 0;
  border: none;
  ul.wizard{
    li{
      list-style: none;
      a{
        border: none;
        background-color: transparent;
        font-weight: 600;
        font-size: 0.9rem;
        color: #046fdf;
        cursor: pointer;
        letter-spacing: 1px;
        position: relative;
        text-decoration: none;
        &:after{
          font-family: 'osfont' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 15px;
          color: #047bf8;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        &:hover{
          color:#334152;
        }
      }
      &.previous{
        a{
          &:after{
            content: "\e987";
            left: -20px;
          }
        }
      }
      &.next{
        a{
          &:after{
            content: "\e986";
            right: -20px;
          }
        }
      }
    }
  }
}
