// Place all the styles related to the company/contracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contract-fields_wrapper{
  border: 2px solid #b6bcbf;
  padding: 25px;
}

.cumstom_nav-tab{
  border: none !important;
  background-color: transparent !important;
}

.cumstom_nav-tab .active {
  border: none !important;
}