development:
  domain: "lvh.me:3000"
  filepicker_api_key: "Ajh8F1UCBTF6yqxQY0x62z"
  pusher_key:  "e5aefe0d463e73afe6bc"
  seq_ledgers: 'etyme-apr28'
  seq_token: 'OUUY4ZFYQO4P3YNC5JC3GMY7ZQJCSNTH'
  facebook_public_key: '786583305060792'
  facebook_secret_key: '7d5dc700bb74a680055b26b99ca48bba'
  google_people_key: '232075031343-r52p7hmkphqvtfto7prdmuh3mm4tf10p.apps.googleusercontent.com'
  google_secret_key: 'Cmvv8FFTt2Pnbv0gNvIr1kZ3'
  linked_in_public_key: '861nbap4e5ht0t'
  linked_in_secret_key: 'SIlWl8ytehCs9ZTz'
  #docusign dev credientials
  docusign_client_id: '78233b42-83ae-433a-9add-520b8960e731'
  docusign_client_secret: '93aa8e6e-e353-4298-9096-3ccaa6c256ca'
  docusign_authorization_server: 'https://account-d.docusign.com'
  docusign_app_url: 'http://localhost:3000'
  docusign_envelope_base_path: 'http://demo.docusign.net/restapi'
  #zoom dev credientials
  zoom_client_id: 'GFWCAp5SS76petRMLKItcg'
  zoom_client_secret: '11EylRQ3O5vh5SOTxOm4jJntirEDhmCg'
  zoom_authorization_server: 'https://zoom.us'
  GOOGLE_APPLICATION_CREDENTIALS: '/home/ali/work/Documents/etyme-246309-0e533c794f53.json'
  #rchilli resume parser
  rchilli_resume_parser_url: "https://rest.rchilli.com/RChilliParser/Rchilli/parseResumeBinary"
  rchilli_user_id: "etyme"
  rchilli_user_key: "E1ZA0XO7IZO"
  # uploader for files
  uploader: "etyme-3"
  # DigitalOcean
  DO_ACCESS_KEY_ID: 'MMVR32ZCM62IFMUJER57'
  DO_SECRET_ACCESS_KEY: 'A/AJA/k5nX4LHjvGH2Ks0ajPgb6SjksAtt8f9XinqNg'
  DO_REGION: 'sfo2'
  DO_BUCKET: 'etyme-cdn'
  # sovren resume parser
  sovren_client_id: '25584059'
  sovren_service_key: 'x0pRSXIS5lmRB30L1GLpWbDGIBNtes3JUUM4Uvpi'
  sovren_api_path: "http://services.resumeparsing.com"
  # google api
  # google_search_location_api_key: 'AIzaSyAdf6df60vd1qmUPN7A8kwNDRc9qWx7CF4'
  google_search_location_api_key: 'AIzaSyDplyJQu2eS1qNVdoBsGL4FGmJwMWFDDUQ'
  global_url: 'https://www.cloudepa.com'
  GMAIL_CLIENT_ID:
  GMAIL_CLIENT_SECRET:


production:
  mailgun_gun_api:  "key-65deee3bd721c9bba966ff557d3fc79b"
  mailgun_domian:   "etyme.com"
  domain:           "demoetyme.com"
  filepicker_api_key: "AR0LrQ7ZBRbaL4HN6BMTDz"
  pusher_key:  "e5aefe0d463e73afe6bc"
  facebook_public_key: '786583305060792'
  facebook_secret_key: '7d5dc700bb74a680055b26b99ca48bba'
  google_people_key: '232075031343-r52p7hmkphqvtfto7prdmuh3mm4tf10p.apps.googleusercontent.com'
  google_secret_key: 'Cmvv8FFTt2Pnbv0gNvIr1kZ3'
  linked_in_public_key: '861nbap4e5ht0t'
  linked_in_secret_key: 'SIlWl8ytehCs9ZTz'

  #docusign dev credientials
  docusign_client_id: '78233b42-83ae-433a-9add-520b8960e731'
  docusign_client_secret: '93aa8e6e-e353-4298-9096-3ccaa6c256ca'
  docusign_authorization_server: 'https://account-d.docusign.com'
  docusign_app_url: 'http://www.etyme.com'
  #zoom dev credientials
  zoom_client_id: 'GFWCAp5SS76petRMLKItcg'
  zoom_client_secret: '11EylRQ3O5vh5SOTxOm4jJntirEDhmCg'
  zoom_authorization_server: 'https://zoom.us'
  #AWS RDS Credentials
  ETYME_DATABASE_PASSWORD: 'etyme2020'
  ETYME_DATABASE_HOST: 'etyme2020.cq2rqobmckqn.us-east-2.rds.amazonaws.com'
  ETYME_DATABASE_PORT: '5432'
  HOSTNAME: 'http://demoetyme.com'
  COMPANY_URL: 'demoetyme.com'
  GMAIL_CLIENT_ID:
  GMAIL_CLIENT_ID: