
.footer
  .container
    .row
      .col-md-4.col-sm-6.text-left
        %h4.heading.no-margin About Us
        %hr.mint/
        %p Etyme is an innovative, effective web-based applicant tracking solution that gives users the tools they need to hire the right people quickly and effectively.
        %p With HiringThing, companies can post attractive, customized online job listings as well as rate, categorize and analyze applicants. The process of posting jobs online, receiving resumes and then sorting through potential applicants is simplified and streamlined, making the entire process less time-consuming and more user-friendly.
      .col-md-2.col-sm-6.text-left
        %h4.heading.no-margin Company
        %hr.mint/
        .no-padding
          %a{:href => static_index_path} Home
          %a{:href => "#"} About
          %a{:href => static_jobs_path} Jobs
          %a{:href => "#"} Candidates
          %a{:href => "#"} How it works
          %a{:href => "#"} Contact
      / /.col-md-2
      .col-md-3.col-sm-6.text-left
        %h4.heading.no-margin Other Services
        %hr.mint/
        .no-padding
          %a{:href => "#"} Privacy Policy
          %a{:href => "#"} Terms of Use
          %a{:href => "#"} FAQ
      / /.col-md-3
      .col-md-3.col-sm-6.text-left
        %h4.heading.no-margin Browse
        %hr.mint/
        .no-padding
          %a{:href => "#"} Top Candidates this Month of June
          %a{:href => "#"} Top Candidates by Skill
          %a{:href => "#"} Top Candidates in USA
          %a{:href => "#"} Top Candidates in UK
          %a{:href => "#"} Top Candidates in Australia
          %a{:href => "#"} Top Candidates in Kenya
    .clearfix

%section.made
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h4.made-with-love The Etyme
        %p.made-with-love-1
          Handcrafted with
          %i.fa.fa-heart
          \&amp; Much
          %i.fa.fa-coffee
          In Nairobi, Kenya.
%footer#main-footer.main-footer
  .container
    .row
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        %ul.social-links
          %li.revealOnScroll{"data-animation" => "slideInLeft", "data-timeout" => "800"}
            %a{:href => "#link"}
              %i.fa.fa-facebook.fa-fw
          %li.revealOnScroll{"data-animation" => "slideInLeft", "data-timeout" => "600"}
            %a{:href => "#link"}
              %i.fa.fa-twitter.fa-fw
          %li.revealOnScroll{"data-animation" => "slideInLeft", "data-timeout" => "400"}
            %a{:href => "#link"}
              %i.fa.fa-google-plus.fa-fw
          %li.revealOnScroll{"data-animation" => "slideInLeft", "data-timeout" => "200"}
            %a{:href => "#link"}
              %i.fa.fa-pinterest.fa-fw
          %li.revealOnScroll{"data-animation" => "slideInLeft"}
            %a{:href => "#link"}
              %i.fa.fa-linkedin.fa-fw
      / /.col-sm-4
      .col-lg-4.col-md-4.col-sm-6.col-xs-12.revealOnScroll{"data-animation" => "bounceIn", "data-timeout" => "200"}
      .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-right.revealOnScroll{"data-animation" => "slideInRight", "data-timeout" => "200"}
        %p
          ©#{Date.today().strftime("%Y")} The Etyme.
%a#scrollup Scroll
