/
  \==============================================
  Footer Section
  \===============================================
.footer
  .container
    .row
      .col-md-4.col-sm-6.text-left
        %h4.heading.no-margin About Us
        %hr.mint/
        %p The Kafe. Template is the Ultimate Freelance Marketplace Template for employers and freelancers to connect, collaborate, and get work done.
        %p We work hard to build a great product that is beautifully designed, simple to use, user friendly with great focus on user experience and customer service.
      / /.col-md-4
      .col-md-2.col-sm-6.text-left
        %h4.heading.no-margin Company
        %hr.mint/
        .no-padding
          %a{:href => "index.html"} Home
          %a{:href => "about.html"} About
          %a{:href => "jobs.html"} Jobs
          %a{:href => "services.html"} Freelancers
          %a{:href => "how-1.html"} How it works
          %a{:href => "contact.html"} Contact
      / /.col-md-2
      .col-md-3.col-sm-6.text-left
        %h4.heading.no-margin Other Services
        %hr.mint/
        .no-padding
          %a{:href => "#"} Privacy Policy
          %a{:href => "#"} Terms of Use
          %a{:href => "faq.html"} FAQ
      / /.col-md-3
      .col-md-3.col-sm-6.text-left
        %h4.heading.no-margin Browse
        %hr.mint/
        .no-padding
          %a{:href => "services.html"} Top Freelancers this Month of June
          %a{:href => "services.html"} Top Freelancers by Skill
          %a{:href => "services.html"} Top Freelancers in USA
          %a{:href => "services.html"} Top Freelancers in UK
          %a{:href => "services.html"} Top Freelancers in Australia
          %a{:href => "services.html"} Top Freelancers in Kenya
      / /.col-md-3
    / /.row
    .clearfix
  / /.container
/ /.footer
/
  \==============================================
  Made Section
  \===============================================
%section.made
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h4.made-with-love The Kafe. Template
        %p.made-with-love-1
          Handcrafted with
          %i.fa.fa-heart
          \&amp; Much
          %i.fa.fa-coffee
          In Nairobi, Kenya.
      / /.col-lg-10
    / /.row
  / /.container
/ /.made
/
  \==============================================
  Bottom Footer Section
  \===============================================
%footer#main-footer.main-footer
  .container
    .row
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        %ul.social-links
          %li.revealOnScroll{"data-animation" => "slideInLeft", "data-timeout" => "800"}
            %a{:href => "#link"}
              %i.fa.fa-facebook.fa-fw
          %li.revealOnScroll{"data-animation" => "slideInLeft", "data-timeout" => "600"}
            %a{:href => "#link"}
              %i.fa.fa-twitter.fa-fw
          %li.revealOnScroll{"data-animation" => "slideInLeft", "data-timeout" => "400"}
            %a{:href => "#link"}
              %i.fa.fa-google-plus.fa-fw
          %li.revealOnScroll{"data-animation" => "slideInLeft", "data-timeout" => "200"}
            %a{:href => "#link"}
              %i.fa.fa-pinterest.fa-fw
          %li.revealOnScroll{"data-animation" => "slideInLeft"}
            %a{:href => "#link"}
              %i.fa.fa-linkedin.fa-fw
      / /.col-sm-4
      .col-lg-4.col-md-4.col-sm-6.col-xs-12.revealOnScroll{"data-animation" => "bounceIn", "data-timeout" => "200"}
        .img-responsive.text-center
          %i.fa.fa-coffee.logo
        / End image
      / /.col-sm-4
      .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-right.revealOnScroll{"data-animation" => "slideInRight", "data-timeout" => "200"}
        %p
          ©2016 The Kafe. Template by
          %a{:href => "http://www.themashabrand.com/templates/Kafe/", :target => "_blank"} The Masha Brand
      / /.col-sm-4
    / /.row
  / /.container
/ /.footer
%a#scrollup Scroll





-#.footer
  .container
    .row
      .col-sm-4.col-xs-12
        %p
          %strong= Time.now.strftime("Etyme %Y")
        %p All rights reserved
      .col-sm-8.col-xs-12
        %p.footer-links
          %a.active{:href => "#"} Home
          %a{:href => "#"} Terms and Conditions
          %a{:href => "#"} Contact Us