.footer
  .container
    .row
      .col-sm-4.col-xs-12
        %p
          %strong Etyme 2017
        %p All rights reserved
      .col-sm-8.col-xs-12
        %p.footer-links
          %a.active{:href => "#"} Home
          %a{:href => "#"} Terms and Conditions
          %a{:href => "#"} Contact Us