.navbar.navbar-default{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"}
        %span.logo
          %strong Etyme
          %br/
          %small a platform for jobs
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right.visible-xs
        %li.active
          %a{:href => "#"} Home

        -#        = link_to "Login"
        -#  %a{:href => "register.html"} Register
        -#%li
        -#  %a{:href => "listings.html"} Listings
        -#%li
        -#  %a{:href => "account_dashboard.html"} My account
        -#%li
        -#  %a{:href => "account_ad_create.html"} Post an ad
      .nav.navbar-nav.navbar-right.hidden-xs
        .row
          .pull-right
            - if candidate_signed_in?
              = link_to  current_candidate.full_name.titleize,candidate_candidate_dashboard_path
              |
              = link_to 'Log out', destroy_candidate_session_path, method: :delete, class: ' btn btn-warning post-ad-btn'
            -else
              = link_to 'Login',new_candidate_session_path
              |
              = link_to 'Register', new_candidate_registration_path, class: ''

            -#%a{"data-target" => "#modalLogin", "data-toggle" => "modal", :href => "#"} Login
            -#|
            -#%a{:href => "register.html"} Register
            -#|
            -#%a{:href => "listings.html"} Listings
            -#|
            -#%a{:href => "account_dashboard.html"} My account
            -#%a.btn.btn-warning.post-ad-btn{:href => "account_ad_create.html"}