%fieldset
  .form-group
    %label.control-label.col-md-2
      Address
      %span{:style => "color:red;"} *
    .col-md-10
      .row
        .col-sm-12
          .input-icon-left
            %i.fa.txt-color-green
            = a.text_field :address_1, class: "form-control  input-lg", placeholder:"Enter Address", required: true

  .form-group
    %label.control-label.col-md-2
      Country
      %span{:style => "color:red;"} *
    .col-md-10
      .row
        .col-sm-12
          .input-icon-left
            %i.fa.txt-color-green
            -#= a.select :country, CS.countries.sort.map{|k,v|[k,v]}, {}, {:class=>"form-control input-lg"} , required: true

  .form-group
    %label.control-label.col-md-2
      State
      %span{:style => "color:red;"} *
    .col-md-10
      .row
        .col-sm-12
          .input-icon-left
            %i.fa.txt-color-green
            = a.text_field :state, class: "form-control  input-lg", placeholder:"Enter State", required: true

  .form-group
    %label.control-label.col-md-2
      City
      %span{:style => "color:red;"} *
    .col-md-10
      .row
        .col-sm-12
          .input-icon-left
            %i.fa.txt-color-green
            = a.text_field :city, class: "form-control  input-lg", placeholder:"Enter City", required: true
  .form-group
    %label.control-label.col-md-2
      Zip Code
      %span{:style => "color:red;"} *
    .col-md-10
      .row
        .col-sm-12
          .input-icon-left
            %i.fa.txt-color-green
            = a.text_field :zip_code, class: "form-control  input-lg", placeholder:"Enter Zip Code", required: true
%legend
