.row
  .col-sm-6
    .form-group
      .input-group
        %span.input-group-addon
          %i.fa.fa-user.fa-lg.fa-fw
        = e.password_field :password , class: 'form-control input-lg' , placeholder: "Password" , required: true
  -#%input#fname.form-control.input-lg{:name => "fname", :placeholder => "First Name", :type => "text"}/
  .col-sm-6
    .form-group
      .input-group
        %span.input-group-addon
          %i.fa.fa-user.fa-lg.fa-fw
        = e.password_field :password_confirmation , class: 'form-control input-lg' , id: 'lname' , placeholder: "Confirm Password" , required: true