%fieldset
  .form-group
    %label.control-label.col-md-2
      Password
      %span{:style => "color:red;"} *
    .col-md-8
      .row
        .col-sm-12
          .input-icon-left
            %i.fa.txt-color-green
            = e.password_field :password, :class=>"form-control  input-md", placeholder:"Enter Password", required: true, input_html: { autocomplete: 'off' } ,id:'set_password'
  .form-group
    %label.control-label.col-md-2
      Confirm Password
      %span{:style => "color:red;"} *
    .col-md-8
      .row
        .col-sm-12
          .input-icon-left
            %i.fa.txt-color-green
            = e.password_field :password_confirmation, :class=>"form-control  input-md", placeholder:"Confirm Password", required: true,id:'set_confirm_password'
%legend