%footer
  .footer-content.clearfix
    .container.custom-container
      .row
        .col-md-6.col-sm-6.col-xs-12
          %a.footer-logo{:href => "#"} About Us
          %p
            App To Manage Hiring, Contracts, Timesheets & Payments.
          %p
            Etyme is app to manage candidates,employees and customers. It is easy to post your jobs and invite others to apply for job.
          %a.learn-more{:href => "#"} learn more
        -#.col-md-3.col-sm-6.col-xs-12
          %h3 Recent Tweets
          .recent-post.clearfix
            .footer-thumb-img
              %span.footer-overlay-img
            %p
              Fusce gravida tortor felis, ac dictum risus sagittis
              %span.date November 15, 2014
          .recent-post.clearfix
            .footer-thumb-img
              %span.footer-overlay-img
            %p
              Fusce gravida tortor felis, ac dictum risus sagittis
              %span.date November 11, 2014
          .recent-post.clearfix
            .footer-thumb-img
              %span.footer-overlay-img
            %p
              Fusce gravida tortor felis, ac dictum risus sagittis
              %span.date November 10, 2014
        -#.col-md-6.col-sm-6.col-xs-12
          %h3 Top Tags
          .footer-tags
            %ul
              %li
                %a{:href => "#"} Web Design
              %li
                %a{:href => "#"} Services
              %li
                %a{:href => "#"} Landing
              %li
                %a{:href => "#"} Etyme
              %li
                %a{:href => "#"} .Net
        -#.col-md-3.col-sm-6.col-xs-12
          %h3 Flicker photos (recent)
          .flicker-widget
            %a{:href => "#"}
            %a{:href => "#"}
            %a{:href => "#"}
            %a{:href => "#"}
            %a{:href => "#"}
            %a{:href => "#"}
  .bottom-footer
    .container
      .row
        .col-md-12.col-sm-12.col-xs-12.text-center
          %p
            Copyright © 2017 - Etyme
