#main{:role => "main"}
  / MAIN CONTENT
  %form.lockscreen.animated.flipInY{:action => "index.html"}
    .logo
      %h1.semi-bold
        -#%img{:alt => "", :src => "img/logo-o.png"}/
        Etyme
    %div
      %img{:alt => "", :height => "120", :src => image_path('etyme-logo-dark.png'), :width => "120"}/
      %div
        %h1
          %i.fa-3x.text-muted.air.air-top-right.hidden-mobile>
          Sign in to your team
        .input-group
          %input.form-control{:placeholder => "teamdomain"}/
          .input-group-btn
            %button.btn.btn-primary{:type => "submit"}
              %i.fa.fa-key
        %p.no-margin.margin-top-5
          Logged as someone else?
          %a{:href => "login.html"} Click here
    %p.font-xs.margin-top-5
      Copyright Etyme 2014-2020.
