%link{:href => "img/favicons/favicon.ico", :rel => "shortcut icon"}/
%link{:href => "img/favicons/apple-touch-icon.png", :rel => "apple-touch-icon"}/
%link{:href => "img/favicons/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
%link{:href => "img/favicons/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/

%header.header-one
  .container
    .content
      .row
        %h1.name.revealOnScroll{"data-animation" => "fadeInDown"}
          %i.fa.fa-coffee
          The Etyme.
        %p.temp The plateform for manage jobs ,contracts and timesheets.
        %h1.hire.revealOnScroll{"data-animation" => "fadeInUp", "data-timeout" => "400"} Hire the best freelancers for your work.
        .form-row
          .radio.radio-left
            %a{:href => "signup.html"} HIRE
          .radio.radio-right
            %a{:href => "signup.html"} WORK
      .row
        .col-lg-10.col-lg-offset-1.hidden-xs
          .logos
            %img.img-responsive{:alt => "", :src => image_path("static/img/featured-logos.png")}/

%section#services.services
  .container.text-center
    .row
      .col-lg-12
        %h3 Browse Freelance Services
        %hr.mint/
        %p.top-p View over #{@count} available services by category.
    .row
      .col-lg-12
        - @jobs.each do |category,jobs|
          .col-lg-4.col-md-4.col-sm-6
            %a{:href => static_jobs_path(category: category)}
              .features.four
                %span.fa-stack.fa-3x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-cogs.fa-stack-1x.fa-inverse
                / /span
                %h4 #{truncate(category,length: 20)}
              / /.features
              .spacer
                %p Data Entry, English, Excel, Customer Service, Admin Support, Research, Email.
                %p
                  %b Over  #{jobs.count} jobs

%section.banner-comment
  .container
    %h1 Best way to help world society is to develop a concrete framework for high paying jobs and individual skills enhancements.

%section#stats.stats
  .container.text-center
    .row
      .col-lg-3.col-sm-6.pro
        %h5 Clients
        %h1
          %span.number-animator{"data-animation-duration" => "800", "data-value" => "505"} 0
        .progress.transparent.progress-small.no-radius
          .progress-bar.progress-bar-black.animated-progress-bar{"data-percentage" => "45%"}
        / /.progress
      / /.col-lg-3
      .col-lg-3.col-sm-6.pro
        %h5 Freelancers
        %h1
          %span.number-animator{"data-animation-duration" => "800", "data-value" => "4500"} 0
        .progress.transparent.progress-small.no-radius
          .progress-bar.progress-bar-black.animated-progress-bar{"data-percentage" => "79%"}
        / /.progress
      / /.col-lg-3
      .col-lg-3.col-sm-6.pro
        %h5 Jobs Completed
        %h1
          %span.number-animator{"data-animation-duration" => "800", "data-value" => "14000"} 0
        .progress.transparent.progress-small.no-radius
          .progress-bar.progress-bar-black.animated-progress-bar{"data-percentage" => "85%"}
        / /.progress
      / /.col-lg-3
      .col-lg-3.col-sm-6.pro
        %h5 Payed To Freelancers
        %h1
          %i.fa.fa-usd
          %span.number-animator{"data-animation-duration" => "800", "data-value" => "500K"} 0
        .progress.transparent.progress-small.no-radius
          .progress-bar.progress-bar-black.animated-progress-bar{"data-percentage" => "85%"}

#testimonials
  .container
    .row
      %h3 Testimonials
      %hr.mint/
      .testimonials-slider
        %ul.slides
          %li
            %p
              The etyme is best plateform for manage jobs ,contracts and timesheets
              %span John Doe
          %li
            %p
              I m wondering why I never contacted these guys sooner! Seriously, they all have commendable talent in their respective field and knocked my concept out of the ballpark. Thanks for an amazing experience!
              %span Segero, NoranicMeds
          %li
            %p
              I m wondering why I never contacted these guys sooner! Seriously, they all have commendable talent in their respective field and knocked my concept out of the ballpark. Thanks for an amazing experience!
              %span Jane Doe
