#main{:role => "main"}
  / MAIN CONTENT
  -#= form_for :domain , url: signin_path , method: 'post' , class: 'lockscreen animated flipInY' do |f|
%form.lockscreen.animated.flipInY{method: 'post' , url: signin_path}
  %div
    %h1
      %i.fa-3x.text-muted.air.air-top-right.hidden-mobile>
      Sign in to your team
    .input-group{style:"width: 63%;"}
      %input{name:"authenticity_token" , value: "#{form_authenticity_token}" ,type: "hidden"}
      %input.form-control{placeholder: "teamdomain" , name: "domain"}/
      .input-group-btn
        %button.btn.btn-primary{:type => "submit"}
          = ".etyme.com"
    %p.no-margin.margin-top-5
      Enter your team's Etyme domain.
- content_for :script do
  :javascript
    $(document).ready(function() {
      $('.container').css('margin-right','22px;');
        })