%h4.auth-header Sign In
= form_tag signin_path,id: 'new_user',class: 'new_user', method: :post do
  .form-group.field-group
    %label{:for => "user_email"} Email
    = email_field_tag :email,nil ,placeholder: 'Enter Work Email', required: true,class: 'form-control',id: 'user_email'
    .help-block.form-text.with-errors.form-control-feedback
      %a{:href => "/register"} Don't have an account?
    .pre-icon.os-icon.os-icon-email-2-at2
  = submit_tag :continue, class: "float btn btn-primary form-btn"

:css
