- provide(:body_class, 'full-screen')

#sectionIntro.intro-w.layout-v1
  .os-container
    .fade2
    .call-to-action.p-0
      .h3.cta-header
        %i.fa.fa-coffee
        Company Login
      .h3.cta-header
        %p Log in and get to work.

%section.banner-login
  .container
    .row
      %main.main.main-signup.col-lg-12
        .col-lg-6.offset-lg-3.text-center
          .form-sign
            = form_tag signin_path, method: :post do
              .form-body
                .form-row
                  = email_field_tag :email,nil ,placeholder: "Enter Your Email", required: true,class: 'field'
                  .help-block.form-text.with-errors.form-control-feedback
                    = link_to 'Are Already Signup there?', new_candidate_password_path ,class: "more-link", style: "color: #334152;"
              .form-foot.pt-0
                .form-actions
                  = submit_tag :continue, class: "form-btn"