#content.newsfeed
  %body
    %section#widget-grid
      .newsfeed-left
        %ul
          - @jobs.each do |job|
            %li
              = link_to batch_job_company_owen_job_path(job), remote: true do
                %div.public-job-list.clearfix
                  %span.pull-left
                    =job.id
                  %span.pull-right
                    %i.fa.fa-calendar-o
                    =job.created_at.strftime("%d/%m/%Y")
                %div.job-header.clearfix
                  = image_tag job.company.logo,  style:"width:50px;height:50px", fit: 'clip'
                  -#= image_tag "avatars/male.png"
                  %p.job_title
                    = truncate(job.title,length: 50)
                  %p.job_title
                    %i.fa.fa-usd
                    =job.price
                %div.public-job-other-info
                  %span
                    %i.fa.fa-map-marker
                    =job.location
                  %span
                    %i.fa.fa-user
                    =job.created_by.full_name
        = digg_pagination(@jobs)
      .newsfeed
        %div#public-job-description