App.messages = App.cable.subscriptions.create('MessagesChannel', {
    connected: function () {
    },
    disconnected: function () {
    },

    received: function (data) {
        set_conversation(data);
        return ""
    },

    notify: function (message) {
        return alert(message);
    },

    speak: function (massage) {
        return this.perform('speak', {
            massage: massage
        });
    }
});

function set_conversation(data) {
    $("#con-text-" + data.con_id + "-" + data.usr_typ + "-" + data.usr).val('');
    $("#con-atta-" + data.con_id + "-" + data.usr_typ + "-" + data.usr).val('');
    $("#con-filename-" + data.con_id + "-" + data.usr_typ + "-" + data.usr).val('');
    $("#con-filesize-" + data.con_id + "-" + data.usr_typ + "-" + data.usr).val('');
    $("#con-filetype-" + data.con_id + "-" + data.usr_typ + "-" + data.usr).val('');


    current_user_id = $('meta[name=user-id]').attr("content");
    current_user_type = $('meta[name=user-type]').attr("content");

    if (current_user_id == data.recpt_id && current_user_type == (data.recpt_type == 'Candidate' ? "Candidate" : "User")) {
        if ($("#conversation-chat-box").data("conversation-id") == data.con_id) {
            mark_as_read(data.con_id, data.msg_id, current_user_id, current_user_type, data.chat_typ, data.group_id)
        } else {
            $("#unread-msg-" + current_user_id).html(data.unread_msg_cnt)
        }
    }

    $("#conversation_message_file_url").val('');

    $("#file-name_uploaded").html('');
    if ($(data.dom).hasClass("popup-chat")) {
        if (current_user_id == data.usr && current_user_type == (data.usr_typ == 'Candidate' ? "Candidate" : "User")) {
            $(data.dom).append("<div class='message self'>" +
                "<div class='message-content'>" +
                data.msg +
                "</div>" +
                "</div>");
        } else {
            $(data.dom).append("<div class='message'>" +
                "<div class='message-content'>" +
                data.msg +
                "</div>" +
                "</div>");
        }
    } else {
        file_url = data.file_url ? "<hr/><a href='" + data.file_url + "' target='_blank'>Attachment</a>" : ''
        if (current_user_id == data.usr && current_user_type == (data.usr_typ == 'Candidate' ? "Candidate" : "User")) {
            $(data.dom).append("<div class='chat-message self'>" +
                "<div class='chat-message-content-w'>" +
                "<div class='chat-message-content'>" +
                data.msg +
                file_url +
                "</div>" +
                "</div>" +
                "<div class=chat-message-date>" +
                data.msg_time +
                "</div>" +
                "<div class='chat-message-avatar'>" +
                "<img src='" + data.msg_url + "' alt='N/A'>" +
                "</div>" +
                "</div>");
        } else {
            flash_success(`${data.sender_name} has send you a message`, 4000);
            if (document.hidden) {
                $('title').text(`${data.sender_name} has send you a message`)
            }
            if (!$(`.usr_Group_${data.grp_id}`).hasClass('active-conversation')) {
                $(`.usr_Group_${data.grp_id}`)[0].style.backgroundColor = "#cfd1de"
                $('.usr_Group_155').find('.last-message').html('<div class="status-pill green" title="New Message"></div>'+data.msg.slice(0, 25)+'...')
            }
            $(data.dom).append("<div class='chat-message'>" +
                "<div class='chat-message-content-w'>" +
                "<div class='chat-message-content'>" +
                data.msg +
                file_url +
                "</div>" +
                "</div>" +
                "<div class='chat-message-avatar'>" +
                "<img src='" + data.msg_url + "' alt='N/A'>" +
                "</div>" +
                "<div class=chat-message-date>" +
                data.msg_time +
                "</div>" +
                "</div>"
            );
        }
    }


    if ($("#conversation_" + data.con_id)[0]) {
        $("#conversation_" + data.con_id).scrollTop($("#conversation_" + data.con_id)[0].scrollHeight);
        $("#conversation_" + data.con_id).parent().scrollTop($("#conversation_" + data.con_id).parent()[0].scrollHeight);
    }
}

function mark_as_read(conversation_id, message_id, cnt_user_id, cnt_user_type, chat_type, group_id) {
    $.ajax({
        url: "/conversations/" + conversation_id + "/conversation_messages/" + message_id + "/mark_as_read",
        type: "GET",
        data: {cnt_user_id: cnt_user_id, cnt_user_type: cnt_user_type, chat_type: chat_type, group_id: group_id},
        dataType: "json"
    });
}