$('.remote_container').html("#{ j render 'company/users/partials/assign_group_modal' , assignee: @user}");
$('#user-#{@user.id}').modal('toggle');
$(".select2").select2({placeholder: "Select Group(s)"});