- content_for :ribbon do
  / RIBBON
  #ribbon
    / breadcrumb
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li, :separator => ""
      -#%li Home
      -#%li Blank
.col-xs-12.col-sm-7.col-md-7.col-lg-4
  %h1.page-title.txt-color-blueDark
    %i.fa-fw.fa.fa-home
    = "Welcome #{current_user.full_name.titleize} ,"
- content_for :scripts do
  \// Empty
