=render partial: 'company/users/partials/user_profile',locals: {user: current_user}

- content_for :scripts do
  :javascript
    $(document).on('cocoon:after-insert', '.user-association', function(e, insertedItem) {
      $(".p_date").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "c-60:c",
        dateFormat : 'mm-dd-yy'
      });
    });
