<div class="content-box">
	<div class="element-wrapper">
		<div class="element-box">
			<%=render partial: 'company/companies/sub_menu_company'%>
			<div id="content">
				
			</div>
		</div>
	</div>
</div>




                    

