$(".set-timesheet-form").empty().html("#{ j render 'client_expense_form', start_date: @start_date, end_date: @end_date}");
$('.timesheet-filepicker-attachment').each(function(e){
filepicker.constructWidget($(this));
});