.modal{ id: "send-invitation","aria-hidden": "true", "aria-labelledby": "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h2#myModalLabel.modal-title
          %strong New Company
      .modal-body
        = form_for PreferVendor.new ,  html:{ class:'form-horizontal'} do |f|
          %br
          .form-group
            %label.col-md-3.control-label
              Select Companies
              %sup.text-danger *
            .col-md-9
              = f.select :company_ids, Company.signup_companies.where.not(id: (current_company.not_invited.map(&:vendor_id) + current_company.send_or_received_network.map(&:company_id)).uniq).collect { |company|[company.name.titleize, company.id]} ,{},class: 'form-control select2' , required: true ,:multiple => true ,style:'width:350px'

          .form-actions
            .row
              .col-md-12
                = button_tag 'Cancel' , class: 'btn btn-default' , "data-dismiss"=> "modal"
                = f.button "Submit".html_safe, data: {disable_with: disable_spinning("Saving...")} , class: 'btn btn-primary'
- content_for :scripts do
  :javascript
    $(".select2").select2({placeholder: "Select Company(s)"});