

/*Keystroke Page
------------------------------------------*/
.keystroke_tabs_bs {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(44, 63, 74, 0.09);
}
.keystroke_tabs_bs {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(44, 63, 74, 0.09);
}

.key_tab_h {
    padding: 20px 10px 0!important;
}
.key_tab_h h5 {
    font-size: 13px !important;
    font-weight: bold;
    text-align: left;
    color: #2c3f4a;
    padding: 10px 20px;
}

.key_tab_h h5 a img {
    width: 15px;
    height: 15px;
    object-fit: cover;
}

.key_tab_h h5 a {
    float: right;
}

.search_message {
    margin-bottom: 5px !important;
}

.search_message input {
    border-radius: 3px !important;
    background-color: #ebf0f3 !important;
    box-shadow: none !important;
    height: 38px !important;
    font-size: 13px !important;
    text-align: center !important;
    color: #89979f !important;
}

.search_message:before {
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    top: 33%;
    left: 25% !important;
}

.key_tabs_inner ul li a {
    background-color: transparent !important;
    border-left: none !important;
    border-bottom: none !important;
    border-top: none !important;
    border-radius: 0 !important;
}

.key_tabs_inner ul {
    border: none !important;
    margin-bottom: 5px;
}

.key_tabs_inner ul li a img {
    border-radius: 50%;
    float: left;
    height: 40px;
    margin-right: 10px;
    object-fit: cover;
    width: 40px;
}
.key_tabs_inner ul li a {
    margin: 4px 0;
}

.key_tabs_inner ul li a h5 {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #2c3f4a;
    margin-bottom: 5px;
}

.key_tabs_inner ul li a p {
    font-size: 13px;
    text-align: left;
    color: #89979f;
    margin-bottom: 0;
}

.user_ds {
    overflow: hidden;
    padding-top: 5px;
}

.border_r {
    border-right: 1px solid #e6eff3;
    padding: 0;
}

.keys_head h5 {
    font-size: 13px !important;
    font-weight: bold;
    text-align: center;
    color: #2c3f4a;
    margin-bottom: 8px;
}

.keys_head p {
    font-size: 12px;
    text-align: center;
    color: #b5c0c6;
    margin-bottom: 0;
}

.key_mgs_box {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #e6eff3;
}

.key_mgs_box a img {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.key_mgs_box a {
    position: absolute;
    right: 33px;
    top: 27px;
}

.key_tabs_inner .nav-tabs .nav-link.active {
    border-color: #2196F3 !important;
    border-width: 3px !important;
}

.messages_bs .tab-content {
    padding: 0 10px;
}
.chatboxcontent-page{
    height: 485px;
    overflow: auto;
}
.keystroke_tabs_bs .messages_bs {
    padding: 0;
}

.send_message span {
    font-size: 13px;
    text-align: left;
    color: #2c3f4a;
    padding: 14px;
    border: solid 1px #d3dce2;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    display: inline-block;
    margin: 5px 0;
    float: left;
    background-color: #ffffff;
}

.send_message, .receive_message {
    display: table;
    width: 100%;
}

.receive_message span {
    font-size: 13px;
    text-align: left;
    color: #ffffff;
    padding: 14px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    display: block;
    margin: 15px 0;
    background-color: #2196F3;;
    float: right;
}

.chat_box {
    position: relative;
}

.chat_box .panel-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding:0;
}

.chat_box .panel-footer .input-group {
    height: 45px;
}

.chat_box .panel-footer .input-group input {
    height: 41px;
}

.chat_box .panel-footer .input-group {
    border-top: 2px solid rgba(44, 63, 74, 0.03);
}

.chat_box .panel-footer .input-group input {
    padding-left: 24px;
    border: none !important;
    font-size: 13px;
    line-height: 1.85;
    text-align: left;
    color: #2c3f4a;
    background: #ffffff;
}

.chat_box .panel-footer #btn-chat {
    background-color: #fff;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #2196F3;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.85;
    padding-right: 10px;
    text-align: left;
}
.messages_bs .chat_box {
    height: 608px;
    position: relative;
}
.key_tabs_inner li.nav-item {
    display: block;
    float: none;
    width: 100%;
}
.key_tabs_inner li.nav-item .user_ds {
    padding: 0;
}
.key_tabs_inner li.nav-item .user_ds h5 {
    margin: 0;
}
.keystroke_tabs_bs .keystroke_tabs .key_tabs_inner {
    padding:0 10px;
}
.key_tabs_inner .nav-tabs.tab-top > li{
    float: left;
    width: 50%;
    text-align: center;
    border: 1px solid #ddd;
}
.keystroke_tabs {
    height: 608px;
}
.key_tabs_inner .nav-tabs.tab-top > li.active a {
    box-shadow: none;
    margin: 0 !important;
    background: #2196F3 !important;
    color: #fff;
}
.key_tabs_inner .nav-tabs.tab-top > li a {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    text-transform: capitalize;
    color:#2c3f4a;
}
.key_tabs_inner .nav-tabs.tab-top > li a i {
    margin-right: 5px;
}
.keystroke_tabs .key_tabs_inner .tab-content {
    height: 440px;
    overflow: auto;
}