.icon-side-bar{
    height: 100vh;
    width: 90px;
    background-color: #047BF8
}
.icon-button-style{
    height: 51px;
    width: 51px;
    background-color: #FFFFFF;
    border-radius: 50px;
    margin: 27px 17px
}
.left-chat-bar{
  @media only screen and (max-width: 600px) {
    border-radius: 21px;
    //display: none;
    margin: 0px 10px 0px 3px;
  }
    background-color: white;
    margin: 0px 10px;
    //height: 100% ;
    width: 98%;
    margin-top: -26% !important;
  @media only screen and (max-width: 600px) {
    margin-top: 0% !important;
    border-radius: 30px;
  }
}
.select-style{
  @media only screen and (max-width: 600px) {
      width: 59px;
    }
    font-size:  18px;
    font-weight: bold;
    font-family: "Roboto";
    //line-height: 26px;
    //line-height: 100%;
    color: #3D3C3C;
    /*width: 59px;*/
    //height: 36px;
}
.select-style select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-style:after {
  content: '\f078';
  font: normal normal normal 17px/1 FontAwesome;
  color: #047BF8;
  right: 2%;
  top: -2%;
  //height: 34px;
  padding: 15px 0px 0px 10px;
  //border-left: 1px solid #0ebeff;
  position: absolute;
  pointer-events: none;
}
.input-search-style{
    width: 100%;
    height: 36px;
    border-radius: 28px !important;
}
.plus-circle-style{
    margin: 7px 5px;
}
.margin-top-21{
    margin-top: 10px;
}
.chat-user-list_height {
    height: 100vh;
    overflow-y: scroll;
    margin-left: -10px;
    width: 100%;
}
.user-list-item-style{
    width: 100%;
    height:7%;
    //border-radius: 23px;
    margin-top: 5px;
    border-bottom: 1px solid #047BF8;
}
.active-div-color{
    background-color: #047BF8;
    border-radius: 23px;
    .chat-user-name-style{
        color: white !important;
    }
    .chat-user-date-style{
        color: white !important;
    }
    .chat-user-client-name-style{
        color: white !important;
      //margin-bottom: 10%;
    }
    .chat-user-message-style{
        color: white !important;
      //margin-bottom: 10%;
    }
    .svg-image-style path{
        fill: white;
    }
}
.unread-div-color{
    background-color: rgba(242, 244, 248, 0.89);
    border-bottom: 1px solid rgba(242, 244, 248, 0.89);
    border-radius: 23px;

}
.chat-user-name-style{
  @media only screen and (max-width: 600px) {
    font-size: 12px;
  }
    font-weight: 500;
    font-weight: bold;
    font-family: "Roboto";
    //font-size: 16px;
    line-height: 18.75px;
    color: #3D3C3C;

}
.chat-user-date-style{
  @media only screen and (max-width: 600px) {
     margin-left: 25px;
    }
    font-weight: 500;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 18.75px;
    line-height: 100%;
    /*font-style: ;*/
    color: #3D3C3C;
}
.chat-user-client-name-style{
    font-weight: 500;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 18.75px;
    line-height: 100%;
    /*font-style: ;*/
    color: #3D3C3C;
}
.chat-user-message-style{
  @media only screen and (max-width: 600px) {
      margin-left: -30px;
    }
    //font-weight: bold;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 18.75px;
    line-height: 100%;
    color: #3D3C3C;
}
.user-list-item-style:hover {
    background-color: #047BF8 !important;
    border-radius: 23px;
    .chat-user-name-style{
        color: white !important;
    }
    .chat-user-date-style{
        color: white !important;
    }
    .chat-user-client-name-style{
        color: white !important;
    }
    .chat-user-message-style{
        color: white !important;
    }
    .svg-image-style path{
        fill: white;
    }
}
.padding-10{
    padding: 10px !important;
}
.full-width-style{
    width: 100% !important;
}
.svg-image-style{
    fill: #047BF8;
    margin: 1px 5px !important;
    height: 23px;
}

 //header  style
.div-style-1{
  @media only screen and (max-width: 600px) {
    width: 39px;
    height: 39px;
  }
    width: 51px;
    height: 51px;
    background: rgba(255, 0, 0, 0.61);
    box-shadow: 0px 4px 15px rgba(255, 0, 0, 0.42);
    border-radius: 50px
}
#conversation-section{
  @media only screen and (max-width: 600px) {
    display: none;
  }
}
.div-style-2{
  @media only screen and (max-width: 600px) {
    width: 32.6px;
    height: 32.6px;
  }
    width: 41px;
    height: 41px;
    position: absolute;
    left: 8.2%;
    right: 8.2%;
    top: 8.2%;
    bottom: 8.2%;
    background: #FF0000;
  //border: 2px solid rgba(180, 180, 180, 0.25);
    box-shadow: 0px 4px 15px rgba(180, 180, 180, 0.25);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center
}
.div-style-3{
  @media only screen and (max-width: 600px) {
    width: 39px;
    height: 39px;
  }
  width: 51px;
  height: 51px;
    background: rgba(4, 123, 248, 0.63);
    box-shadow: 0px 4px 15px rgba(4, 123, 248, 0.43);
    border-radius: 50px
}
.div-style-4{
  @media only screen and (max-width: 600px) {
    width: 32.6px;
    height: 32.6px;
  }
    width: 41px;
    height: 41px;
    position: absolute;
    left: 8.2%;
    right: 8.2%;
    top: 8.2%;
    bottom: 8.2%;
    background: #047BF8;
    box-shadow: 0px 4px 15px rgba(180, 180, 180, 0.25);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center
}
.div-style-5{
  @media only screen and (max-width: 600px) {
    width: 39px;
    height: 39px;
  }
  width: 51px;
  height: 51px;
  //margin-top: 7px !important;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 15px rgba(192, 190, 190, 0.52);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  border: 4px solid rgba(180, 180, 180, 0.25);
}
// center chat madule
.btn1-style{
    @media only screen and (max-width: 600px) {
      height: 23px;
      width: 78px;
      border-radius: 7px;
      font-size: 10px;
      margin-left: 5%;
    }
    width: 108px;
    height: 40px;
    margin: 0px 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #047BF8;
    background-color: #047BF8;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
.btn2-style{
  @media only screen and (max-width: 600px) {
    height: 23px;
    width: 78px;
    //left: 111px;
    top: 158px;
    font-size: 10px;
    border-radius: 7px;
    margin-left: 2%;
  }
    width: 108px;
    height: 40px;
    margin: 0px 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid white;
    background-color: white;
    color: #047BF8;
    font-family: "Roboto";
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
.btn3-style{
  @media only screen and (max-width: 600px) {
    margin-left: 10%;
    height: 23px;
    width: 113px;
    //left: 191px;
    font-size: 10px;
    top: 158px;
    border-radius: 7px;
    margin-left: 2%;

  }
    width: 160px;
    height: 40px;
    margin: 0px 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid white;
    background-color: white;
    color: #047BF8;
    font-family: "Roboto";
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
.btn4-style{
  @media only screen and (max-width: 600px) {
    height: 27px;
    width: 98px;
    font-size: 12px;
    border-radius: 7px;
  }
    width: 128px;
    height: 40px;
    //margin-bottom: 2px;
    border-radius: 7px;
    border: 1px solid #FF0000;
    background-color: #FF0000;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
// right-side-bar
.right-sidebar{
  @media only screen and (max-width: 600px) {
    width: 60vh;
    display: none;
  }
  height: 85vh;
  width: 41vh;
  margin-top: 50px;

}
.right-sidebar1{
  @media only screen and (max-width: 600px) {
    width: 60vh;
  }
  height: 70vh !important;
  width: 41vh;
  background: #FFFFFF;
  box-shadow: 3px 2px 26px rgba(219, 219, 219, 0.67);
  overflow-x: scroll;
  margin-left: 3px;

}
.collab-row{
  @media only screen and (max-width: 600px) {
    border-radius: 25px 25px;
  }
  height: 12vh;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  background: #EBF4FE;
  justify-content: center;
  align-items: center
}
.collab-text{
  height: 20px;
  width: 135px;
  left: 72px;
  top: 28px;
  font-size: 22px;
  right: 45.38%;
  top: 3.05%;
  bottom: 94.77%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: 26px;
  color: #047BF8
}
.icon-style-1{
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}
.iconplus{
  color: white;
}
.image-tag{
  height: 52px;
  width: 52px;
  left: 41px;
  top: 103px;
  margin-left: 50px;
  margin-top: 25px;
}
.member-name{
  @media only screen and (max-width: 600px) {
    margin-left: 40px;
    margin-top: -30px;
  }
  //height: 29px;
  width: 29vh;
  margin-top: 10px;
  //margin-left: 10px;
  font-size: 19px;
  color: #000000;
}
.line-style{
  width: 22px;
  //left: 316px;
  //right: 1px;
  margin-top: 15px;
}
.shared-files{
  Width: 70%;
  Height: 42px;
  border-radius: 25px;
  margin-right: 30px;
  background-color: #EBF4FE;
}
.shared-text{
  font-size: 18px;
  //height: 30px;
  //width: 122px;
  margin-left: 20%;
  margin-top: 3%;
}
.file-icon{
  height: 15px;
  width: 20px;
  margin-top: 5%;
  color: #047BF8;
  margin-left: 5%;

}
.chat-middle-etymeflow{
  @media only screen and (max-width: 600px) {
    font-size: 16px;

  }
  font-size: 30px;
  line-height: 26px;
  text-align: left;
  color: #3D3C3C;
}
.chat-div-style{
  @media only screen and (max-width: 600px) {
    height: 35px;
    width: 36px;

  }
  height: 70px;
  width: 70px;
  border-radius: 50px;
  background: rgba(4, 123, 248, 0.2);
  align-items: center;
  margin-top: 10px;
  margin-left: 5px;
  justify-content: center;
}
.calender-style{
  @media only screen and (max-width: 600px) {
    margin: 7px 0px 0px 9px;
    font-size: 20px;
  }
  margin-top: 20px;
  color: #047BF8;
  font-size: 30px;
  margin-left: 20px;
  height: 25vh;
  width: 25vh;
}
.input-text-message {
  width: 100%;
  border-radius: inherit;
  border: none
}
.send-line{
  justify-content: flex-end;
}
.send-icons{
  margin-left: 4px;
}

//mobile-side
.mobile-user-icon{
  @media only screen and (max-width: 600px) {
      display: none;
  }
  display: block;
}
.mobile-icon-side-bar{
  @media only screen and (max-width: 600px) {
    display: none;
  }
  display: block;
}
.add-icon{
  @media only screen and (max-width: 600px) {
    font-size: 13px;
  }
  font-size: 30px;
}
.chat-icon{
  @media only screen and (max-width: 600px) {
    width: 31px;
    height: 31px;
  }
  width: 61px;
  height: 61px;
  color: white
}
.notification-icon{
  @media only screen and (max-width: 600px) {
    width: 21px;
    height: 21px;
  }
  width: 61px;
  height: 61px;
  box-shadow: 0px 4px 15px rgba(255, 0, 0, 0.42);
  background: rgba(255, 0, 0, 0.61);
  border-radius: 50px;
  color: #FFFFFF
}
.search-div-style{
  @media only screen and (max-width: 600px) {
    width: 145px !important;
    height: 26px;
    font-size: 10px
  }
  width: 269px;
  height: 45px;
  border-radius: 67px;
  background-color: #FFFFFF;
  font-size: 12px
}
.bread-style{
  @media only screen and (max-width: 600px) {
   display: block;
    background-color: white;
    height: 41px;
    width: 41px;
    border-radius: 50%;
    margin-right: 1%;
    margin-left: 1%
  }
  display: none;
}
.bread-style1{
  color: blue;
  margin-top: 30%;
  font-size: 16px
}
.branchout-mobile{
  @media only screen and (max-width: 600px) {
   margin-top: -25px;
   display: block;
  }
  display: none;
}
.branchout-back{
  @media only screen and (max-width: 600px) {
    display: block;
  }
  display: none;
}
.branchout-desktop{
  @media only screen and (max-width: 600px) {
   display: none;
  }
  display: block;
}
.chat-box{
  @media only screen and (max-width: 600px) {
   margin-top: 5%;
  }
}
.branch-out-content{
  @media only screen and (max-width: 600px) {
    margin-left: 2%;
  }

}
.div-chat-middle-etymeflow{
  @media only screen and (max-width: 600px) {
    margin-top: 4%;
  }
  align-items: center;
  margin-top: 7%;
  margin-left: 7%;
}
.vidoebutton-style-div{
  @media only screen and (max-width: 600px) {
    margin-top: -13%;
  }
  justify-content: flex-end;
  margin-right: 1px
}
.chat-box-header{
  @media only screen and (max-width: 600px) {
    height: 9vh;
  }
  width: 100%;
  height: 12vh;
  border-bottom: 1px solid #047bf8;
  margin-left: 1px;
}
.mobile-chat-send-icons{
  @media only screen and (max-width: 600px) {
   display: none;
  }
  width: 100%;
  margin-left: 17px;
  margin-top: 17px
}
.message-send-row-mobile{
  @media only screen and (max-width: 600px) {
    height: 9vh;
    padding: 0px;
  }
  width: 100%;
  height: 11vh;
  overflow: hidden !important;
  border-bottom: 1px solid #F2F4F8;
  overflow: scroll;
  padding: 10px
}
.mobile-send-text-div-style{
  @media only screen and (max-width: 600px) {
    border-radius: 13px !important;
    height: 41px;
    width: 340px;
    margin-top: 0px;
    background: #F2F4F8;
    margin-left: 20px;
  }
  margin-top: -40px;
  border-radius: 50%;
}
.button-style1{
  @media only screen and (max-width: 600px) {
    display: block;
    margin-top: -11%;
    margin-left: 83%;
  }
  display: none;
}
.option-mobile-style{
  @media only screen and (max-width: 600px) {
    margin-top: 12px;
    font-size: 30px;
    color: #047BF8;
    margin-left: 2px;
    display: block;
  }
  display: none;
}
form{
  @media only screen and (max-width: 600px) {
    margin-top: -10%;
    border-radius: 50px;
  }
}
.chat-message-divstyle{
  @media only screen and (max-width: 600px) {
    width: 44vh;
    margin-left: 67px;
    margin-top: -55px;
  }
  background-color: #fff9f0;
  padding: 6px;
  border-radius: 20px;
  margin-left: 7px;
  border-bottom-left-radius: 0px;
}
.chat-messagediv-style{
  @media only screen and (max-width: 600px) {
    width: 44vh;
    margin-right: 53px;
    margin-bottom: -43px;
  }
  background-color: #f0f9ff;
  border-radius: 20px;
  margin-right: 7px;
  border-bottom-right-radius: 0px;
}
.avatar-style{
  @media only screen and (max-width: 600px) {
    margin-left: 300px;
  }
  margin-top: auto;
}
.chat-message{
  @media only screen and (max-width: 600px) {
    margin-bottom: 30px;
  }
  margin-bottom: 14px;
}
.chat-message-content{
  @media only screen and (max-width: 600px) {
    font-size: 13px;
  }
  padding: 13px;
}
.mobile-insidechat-icons{
  position: absolute;
  bottom: 95px;
  display: none;
  height: 34px;
  width: 327px;
  border-radius: 13px;
  background: #F2F4F8;
  margin-left: 15px;

}
.buttonstyle2{
  background-color: Transparent;
  border: none;
}
.job-conversation-box-style{
  @media only screen and (max-width: 600px) {
    //display: none;
  }
  display: block;
  width: 87vh;
}
.left-arrow{
  @media only screen and (max-width: 600px) {
    display: block;
  }
  display: none;
}
.left-side-header-style{
  @media only screen and (max-width: 600px) {
    margin-top: 35px !important;
  }
}
.left-side-plus-icon{
  @media only screen and (max-width: 600px) {
    margin-right: -45%;
  }
}
.left-side-select-style{
  @media only screen and (max-width: 600px) {
   width: 80px;
  }
}
.conversation-list-style{
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-wrap: nowrap;
    height: 70px;
  }
}
.div-usergroup-style{
  @media only screen and (max-width: 600px) {
    margin-top: -9px;
  }
}
.div-usermessage-style{
  @media only screen and (max-width: 600px) {
    margin-top: -10px;
    margin-left: -200px;
  }
}
.name_and_date_style{
  @media only screen and (max-width: 600px) {
    flex-wrap: nowrap;
  }
  margin-top: 3px
}
.name_and_message_style{
  @media only screen and (max-width: 600px) {
    flex-wrap: nowrap;
  }
}
.dropdown{
  position: relative;
   display: inline-block;
}
.dropdown-content{
  border-radius: 15px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {display: block;}
