.image-setting
{
    width: 99px !important;
    height: 99px !important;
    margin-left: 70px !important;
    margin-bottom: 60px !important;
    padding: 0px !important;
    position: initial !important;

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.imgDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;


    visibility: hidden;
    opacity: 0;

}


.profile-pic:hover .imgDescription {
    visibility: visible;
    opacity: 1;
}
