.pdr-24 {
    padding-right: 24px !important;
}

.wid-33 {
    width: 33% !important;
}

.ca-width {
    width: 1041.16px;
}

.image-setting {
    width: 99px !important;
    height: 99px !important;
    margin-left: 50px !important;
    /*margin-bottom: 60px !important;*/
    padding: 0px !important;
    position: initial !important;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.height-45{
    height: 45px !important;
}

.time-input{
    margin-top: 6px !important;
}

.integration
{
    align-items: center;
}

.display-flex
{
    display: flex !important;
}

fieldset{
    margin: 0 !important;
}

.imgDescription {
    position: initial;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    color: #000;


    visibility: hidden;
    opacity: 0;

}

.search-form {
    width: 100% !important;
}

.search_bar {
    display: flex;
    border: 2px solid #dde2ec;
}

.search_input {
    border: none !important;
}

.bordered {
    border: 2px solid #dde2ec;
}

.new_tab > li {
    padding: 10px;
    border: 2px solid #dde2ec;
    text-decoration: none;
}

.new_tab > a:hover {
    text-decoration: none;
}

.new_tab > li > a {
    font-size: 1rem;
}

.new_tab > li.active {
    background-color: #5E92F7;
}

.float-right {
    float: left;
    margin: 10px;
}

.new_tab > li.active > a {
    color: #ffffff;
}

.btn-search-bar {
    background-color: inherit;
    box-shadow: none;

}

.profile-hover:hover .imgDescription {
    visibility: visible;
    opacity: 1;
}

.two_columns {
    padding: 20px;
    border: 2px solid #dde2ec;
    text-align: center;
}

.contract_link {
    color: #000 !important;
}

.contract_link:hover {
    text-decoration: none;
}

.button_heading {
    font-weight: bold;
}

.button_span {
    font-size: 11px;
}

.profile-margin {
    background-color: white;
    margin-top: -10px;
    margin-left: 5px;
}

.pictureContainer img:hover {
    outline: #333 double 4px;
}

.ml20 {
    style: 'margin-left: 20px;'
}

.mr20 {
    style: 'margin-right: 20px;'
}

.margin-right-10 {
    margin-right: 10px;
}

.mrl15 {
    margin-right: 15px;
    margin-left: 15px;
}

.b-light {
    border-color: #e4e4e4;
}

.size {
    width: 49%;
}

.disableClick {
    pointer-events: none;
}

.set-checkbox {
    position: relative !important;
    right: 0 !important;
}

.pictureContainer .btn-primary {
    margin-left: 45px;
}

.edit_company .delete_primary_doc {
    margin-top: -10px;
}

.edit_company .links {
    margin-right: 45px;
    margin-top: -20px;
}

.bg_white {
    background-color: white;
}

.edit_company .links a {
    margin-right: 87px;
}

select-height {
    height: calc(2.25rem + 9px) !important;
}

label.required:after {
    content: " *";
    color: red;
}

.intl-tel-input {
    height: calc(2.25rem + 9px) !important;

}

.margin-auto {
    margin: auto;
}

.disable_header.element-header:after {
    width: 0 !important;
}

.font-size-email .bar-labels .bar-label-left span {
    font-size: 16px;
}

.font-size-email .bar-labels .bar-label-right span {
    font-size: 16px;
}

.pagination {
    justify-content: space-evenly;
}

.disabled {
    color: #dddddd;
}

.custom_drop {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.9rem;
    color: #3E4B5B;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.support-ticket.active::after {
    content: none !important;
}

.dashboard-list {
    display: flex;
    flex-wrap: wrap;
}

.dashboard-list > li {
    margin-right: 6px;
}

.tppp {
    padding: 30px;
}

.intl-tel-input {
    display: block !important;
}

.ui-autocomplete {
    z-index: 2147483647 !important;
}

.without-registration_modal {
    margin: 50px auto !important;
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
    width: 70%;
    height: 50%;
    padding: 0;
    position: relative;
}

.uploaded_file_name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 38px;
    padding: 5px;
    border: 1px solid #0362c6;
    width: -moz-available;
    width: -webkit-fill-available;
}

.file-pick_height {
    height: 38px;
    border-radius: unset !important;
}

/*candidate profile picture*/
/*.up-main-info{*/
/*    position: absolute;*/
/*    bottom: -82px;*/
/*    transition: bottom -.2s;*/
/*    z-index: -1 !important;*/
/*}*/
/*.up-head-w{*/
/*    position: relative;*/
/*}*/
.up-head-w {
    height: 200px;
}

.up-main-info {
    position: absolute;
    bottom: 0px;
    z-index: -1 !important;
    width: 100%;
}

.profile-wrapper {

    position: absolute !important;
    bottom: 0px;
    height: 100px;
    padding: 20px !important;
    z-index: 4 !important;
    background-color: rgba(0, 0, 0, .25);
}

div.group-member > ul {
    padding-left: 0px !important;
}

div.group-member > ul > li {
    list-style: none !important;
    /*display: flex;*/
    /*justify-content: space-between;*/
    border: 1px solid #dde2ec;
    padding: 2% 2% 2% 2%;
    font-size: 16px;
    font-weight: inherit;
}
div.group-member > ul > li:hover{
    font-size: 17px;
    font-weight: bold;
    color: #047bf8;
}
div.group-member > ul > li > a{
    color: red;
    font-size: 20px;
    float: right;
}