@import 'homepage/public';
@import 'homepage/homepage';

// required at the moment for plans.
$body-color: #3E4B5B !default;
$os-font-weight-bold: 500;
$font-weight-bold: $os-font-weight-bold !default;
$font-size-base: 0.9rem !default; // Assumes the browser default, typically `16px`

@import 'homepage/plans';
@import 'homepage/global';
#sectionIntro{
margin-top: 30px;
}