
.side-bar_icons {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    justify-content: space-evenly;
    width: 200px;
    color: #448eef;
    /*background-color: white;*/
    font-size: 18px;
}

.side-bar_icons:hover {
    cursor: pointer;
}

.side-bar_links {
    font-size: 0.9rem;
    color: #3E4B5B;
}

/*.side-bar_nav{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.side-bar_nav > a {*/
/*  font-size: 0.9rem;*/
/*  color: #3E4B5B;*/
/*}*/


.side-bar_links:hover {
    text-decoration: none;
    font-size: 0.9rem;
    color: #3E4B5B;
}

/*.side-bar_nav > a:hover {*/
/*    text-decoration: none;*/
/*    font-size: 0.9rem;*/
/*    color: #3E4B5B;*/
/*  }*/

.sidebar_collapsible {
    font-size: 0.9rem;
    color: #3E4B5B;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.nav-sidebar-collaps {
    display: none;
    box-shadow: none;
}

.chat-collaps {
    display: none;
}

.sidebar_collapsible:after {
    content: '\002B';
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.side-bar_tab.active:after {
    color: rgba(0, 0, 0, 0.5);
    content: "\2212";
}
.nested_tab.active:after {
    color: rgba(0, 0, 0, 0.5);
    content: "\2212";
}

.tab-divider {
    font-size: 0.72rem;
    letter-spacing: 1px;
    color: #448eef;
}

.nested_tab {
    margin-top: 10px;
    width: 100%;
    display: block;
}

.boarder_bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nested_tab > .icon-w {
    color: #448eef;
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
}

.nested_tab > span {
    font-size: 13px;
}

.l3, .l3 > a{
    font-size: 11px;
}

.l2, .l2 > a{
    font-size: 13px;
}
.l2:hover{
    font-size: 13px;
}

.l2 > a:hover{
    font-size: 13px;
}
.l3 > a:hover{
    font-size: 11px;
}
.candidate_nav .side-bar_tab{
    margin-top: 25px !important;
}
.side-bar_tab {
    /*padding-left: 18px;*/
    /*padding-right: 18px;*/
    /*margin-left: 20px;*/
    margin-top: 30px;
    width: 100%;
}

.side-bar_tab > .icon-w {
    color: #448eef;
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
}


.buttons-stickky{
    z-index: 9999;
    position: fixed;
    bottom: 5px;
    /*box-shadow: 0px 5px 10px rgba(19, 19, 19, 0.17);*/
    padding: 12px 20px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-size: 1.08rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.side-bar_nav > a{
    height: 20px;
    display: block;
}

.fixed-height{
    height: 110vh;
    overflow-y: auto;
}

@media only screen and (max-width: 786px) {
    .os-dropdown-position-left {
        margin: 0px !important;
        margin-right: 0px;
        margin-right: 8px !important;
    }
    .new-messages-count{
        right: -10px !important;
    }
    #toggledmenubar{
        position: absolute;
        z-index: 99999;
    }
}


.left_project_menue{
    display: flex;
    bottom: 68px;
    top: 25%;
    left: 50px;
}


/*menu customization css*/
.lpm{
    margin-top:0px!important;
    padding: 10px 20px;
    width:max-content;
    top: calc( 100vh - 352px);
    left: 10px;
    z-index: 999999;
}
.lpm > li{
    display: inline-block;
    vertical-align: top;
    margin:0px 10px;
}
.lpm > li ul{
    padding-left: 5px;
    list-style: none;
    margin:10px 0px;
}
.lpm > li ul li{
    margin:5px 0px;
}
.lpm > li ul li a{
    color: #3b5998;
    font-size: 12px;
}
.lpm > li ul li a:hover{
    text-decoration:underline;
}
.lpm  .sub-title{
    font-size: 16px;
    padding-bottom: 0px;
    border-bottom: 1px solid;
    font-weight: bold;
}
@media(max-width: 868px){
    .lpm{
        max-height: 300px;
        overflow:auto;
        top: calc( 100vh - 373px);
    }
    .lpm > li{
        display: block;
    }
}