/*
 * Basic Styles
 * require static/css/bootstrap.min.css
 *= require static/css/font-awesome.css.scss
 * Home Page
 *= require static/css/animate.min
 *= require static/css/popuo-box
 *= require static/css/base
 * require static/css/style
 *= require static/css/vegas
 *= require static/css/vegas.min
 *= require style
 *= require bullettrain-global
 *= require bullettrain-public

 *= require smartadmin-production
*/

.set-checkbox {
  position: relative !important;
  right: 0 !important;
}

.gray-background {
  background: #f2f4f8;
}

.twitter-btn {
  width: 80px;
  margin-bottom: 20px;
}

.facebook-btn {
  width: 80px;
  margin-bottom: 20px;
}

.whatsapp-btn {
  width: 80px;
  margin-bottom: 20px;
}

.linkedin-btn {
  width: 80px;
  margin-bottom: 20px;
}

.margin-auto {
  margin: auto;
}

.mb-10 {
  margin-bottom: 10px;
}

.disable_header.element-header:after {
  width: 0 !important;
}

.without-registration_modal {
  //width: 70% !important;
  margin: 50px auto !important;
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
  width: 70%;
  height: 50%;
  padding: 0;
  position: relative;
}

.uploaded_file_name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 38px;
  padding: 5px;
  border: 1px solid #0362c6;
  width: -moz-available;
  width: -webkit-fill-available;
}