//
.menu-mobile
{
  display: none;
  @media(max-width: 1024px) and (min-width: 768px) {
    width:auto !important;
  }
}
.flex-d-column
{
  @media (max-width: 768px) {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .menu-mobile .mm-logo-buttons-w .mm-buttons
  {
    display: none;
  }
  .menu-mobile .mm-logo-buttons-w .mm-logo span
  {
    display: none;
  }
  .top-menu-controls .top-icon{
    margin-left: 0px !important;
  }
}
.displayblock
{
  display: block !important;
}
.togglebtncontainer
{
  position: absolute;
  top: 4px;
  cursor: pointer;
  z-index: 999999;
  height: 50px;
  width: 50px;
  color: #047bf8;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 1024px) {
    display: none;
  }
}
.togglebtncontainerinbox
{
  position: absolute;
  //top: 4px;
  cursor: pointer;
  z-index: 999999;
  height: 50px;
  width: 50px;
  color: #047bf8;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  //@media (min-width: 1024px) {
  //  display: none;
  //}
}
.mm-logo-buttons-w
{
  margin-top:55px;
}
.leftChanged
{
  left:210px;
}
.top-bar .top-menu-controls .element-search input
{
  @media (max-width:420px) {
    width: 170px;
  }
}

.btn-header .open > .dropdown-menu {
  display: block !important;
}

.search-with-icon {
  position: relative;
  &:before {
    position: absolute;
    left: 15px;
    top: 48%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(0,0,0,0.2);
  }
  input {
    border: none;
    box-shadow: none;
    background-color: #F1F1F1;
    border-radius: 30px;
    padding: 10px 15px 10px 50px;
    display: block;
    width: 100%;
    outline: none;
    &::placeholder {
      color: rgba(0,0,0,0.3);
    }
  }
}