%label.control-label  Business Details
.contract_box
  .row
    .col-md-6
      .form-group
        %label.control-label
          Contact name
        .contract-fild
          = f.text_field :contact_name ,class: "form-control" , placeholder: ""
    .col-md-6
      .form-group
        %label.control-label
          Phone
        .contract-fild
          = f.text_field :phone ,class: "form-control" , placeholder: ""
  .row
    .col-md-6
      .form-group
        %label.control-label
          Email
        .contract-fild
          = f.email_field :email ,class: "form-control" , placeholder: ""
    .col-md-6
      .form-group
        %label.control-label
          Department
        .contract-fild
          = f.text_field :department ,class: "form-control" , placeholder: ""