.form-group
  %label.col-md-2.control-label
    Contact name
  .col-md-10
    = f.text_field :contact_name ,class: "form-control" , placeholder: ""
.form-group
  %label.col-md-2.control-label
    Phone
  .col-md-10
    = f.text_field :phone ,class: "form-control" , placeholder: ""
.form-group
  %label.col-md-2.control-label
    Email
  .col-md-10
    = f.email_field :email ,class: "form-control" , placeholder: ""
.form-group
  %label.col-md-2.control-label
    Department
  .col-md-10
    = f.text_field :department ,class: "form-control" , placeholder: ""