#content
  .row
  %section
    .row
      %article.col-sm-12.col-md-12.col-lg-12
        #wid-id-0.jarviswidget{"data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-check
            %h2 Bank reconciliation
          %div
            .jarviswidget-editbox
            .widget-body
              .row
                .col-md-3
                  %label Treasury Account
                  = select_tag "bank_names",options_for_select(BankDetail::BANK_NAME.map { |key| [key, key] }),{class: 'form-control select2',required: true, prompt: 'Select a Bank' }

                .col-md-3
                  %br
                  %label
                    %b Balance:
                    $542,123.50

              %br
              .row
                .col-md-3
                  %label Enter new balance
                  = text_field_tag 'add_new_balance', '', class: 'form-control'

                .col-md-3
                  %label  Reconciliation Date
                  = date_field_tag 'pay_date', Date.today, class: 'form-control' 


              %br
              %button.btn-secondary Submit
