.timesheet
  .row
    .col-md-12
      %h2 Client Expense Approve  
  .row
    .col-md-12
      %table.table.table-bordered.account_detail
        %thead
          %tr
            %th Timesheet ID
            %th Contract
            %th client
            %th Tax Type
            %th Candidate
            %th Company Vendor
            %th Timesheet Cycle
            %th Amount
            %th Attachment
            %th Status
            %th Actions
        %tbody
          %tr
            %td 1233
            %td c_011
            %td
            %td 1099
            %td Sharat
            %td 
            %td 
            %td 450.0
            %td
            %td Submitted
            %td 
              %a.btn.btn-xs.btn-default{"data-confirm" => "Are you sure", "data-placement" => "top", :href => "/timesheets/2496/approve", :rel => "tooltip", :title => "Approve Timesheet", :verify => "Approve", :verify_text => " Type 'Approve' to confirm"}
                %i.fa.fa-check



          %tr
            %td 2341 
            %td c_011
            %td 
            %td  1099
            %td  Sharat
            %td
            %td
            %td 450.0
            %td
            %td Submitted
            %td 
              %a.btn.btn-xs.btn-default{"data-confirm" => "Are you sure", "data-placement" => "top", :href => "/timesheets/2496/approve", :rel => "tooltip", :title => "Approve Timesheet", :verify => "Approve", :verify_text => " Type 'Approve' to confirm"}
                %i.fa.fa-check
          %tr
            %td 2231
            %td c_011
            %td 
            %td 1099
            %td Sharat
            %td
            %td
            %td 450.0
            %td
            %td Submitted
            %td 
              %a.btn.btn-xs.btn-default{"data-confirm" => "Are you sure", "data-placement" => "top", :href => "/timesheets/2496/approve", :rel => "tooltip", :title => "Approve Timesheet", :verify => "Approve", :verify_text => " Type 'Approve' to confirm"}
                %i.fa.fa-check