$('.remote_container').html("#{ j render 'company/contracts/partials/contract_terms_edit' , contract: @contract}");
$('#contract-#{@contract.id}').modal('toggle');
-#$(".select2").select2({placeholder: "Select a Candidate(s)"});