$('#contract-admin-team-sell-company').modal("hide");
$('.hr_admins_table_body').html("#{ j render 'company/contracts/partials/hr_admins_table_rows' , contract: nil,users: @sell_users}");
addeventatc.refresh();
