$('#manager-team').modal("hide");
$('.hr_reporting_admins_table_body').html("#{ j render 'company/contracts/partials/managers_table_rows' ,contract: nil,contract_sell_business_details: @users}");
addeventatc.refresh();
