debugger
$('.set_commission_user').html("#{ j render 'company/contracts/partials/new_modal' }");
$('#new-commission-user').modal('toggle');
$('.select_candidate_user').hide();
$('.select_admin_user').hide();