%section
  .container
    .row
      %hr
      = form_tag filter_timeline_contracts_path, remote: true, method: :get, class: 'filter_timeline' do
        .col-md-2
          .form-group.mt-10
            = select_tag "Contracts", options_from_collection_for_select(@contracts, 'id', 'title'),{class: "form-control contract_list", prompt: "All"}
        .col-md-2
          .form-group.mt-10
            = select_tag "Contracts", options_from_collection_for_select(@candidates, 'id', 'full_name'),{class: "form-control candidate_list", prompt: "All"}
        .col-md-2
          .form-group.mt-10
            %select.form-control
              %option All Actions
              %option 2
              %option 3
              %option 4
              %option 5
    .row
      .col-xs-12
        %p.mb-0
          Showing Tasks for you from : All Contracts, All Freelancers and All Actions
    .row.timeline-wrap
      = render "timeline", todo_contract_cycles: @todo_contract_cycles, completed_contract_cycles: @completed_contract_cycles, overdue_contract_cycles: @overdue_contract_cycles


- content_for :scripts do
  :javascript

    $('.contract_list').on('change', function(){
      var contract_id = $(this).val();
      var candidate_id = $('.candidate_list').val();
      filter_timeline(contract_id, candidate_id)
    })

    $('.candidate_list').on('change', function(){
      var candidate_id = $(this).val();
      var contract_id = $('.contract_list').val();
      filter_timeline(contract_id, candidate_id)
    })

    function filter_timeline(contract_id, candidate_id){
      $.ajax({
        url: "/contracts/filter_timeline",
        type: "GET",
        data: { contract_id: contract_id, candidate_id: candidate_id },
        dataType: "script"
      });
    }