- if flash[:errors].present?
  - flash[:errors].each do |e|
    flash_error("#{e}");
- if flash[:success].present?
  $("#contract-#{@contract.id}").modal('toggle');
  flash_success("#{flash[:success]}");