
<div class="content-box">
  <div class="element-wrapper">
    <div class="padded-lg">
      <div class="element-box">
        <h5 class="form-header">Edit <%= params[:type] || "Job" %></h5>
        <% if params[:type] == "Job" || params[:type].nil? %>
          <div class="form-desc">Create your offering and describe what you are looking for from the candidates</div>
        <% else %>
          <div class="form-desc"></div>
        <% end %>
        <%= render 'form', thing: @job %>
      </div>
    </div>
  </div>
</div>

