.col-sm-12.animated.fadeInRightBig
  %section.panel.mt-20s
    %header.panel-heading
      -#%a.pull-right.btn.btn-primary.right.mt-12{href:"#",}  Apply Now
      = render partial: 'partials/job_show',locals: {job: @job}





